<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health eDispensation Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health eDispensation Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0510311fb7a341f0a576070136d9ddc0.png" alt="TVA-Health eDispensation Enablers [Motivation]" usemap="#id-0510311fb7a341f0a576070136d9ddc0map"/>
			   <map name="id-0510311fb7a341f0a576070136d9ddc0map">
				  				<area shape="rect" coords="442,34,610,107" href="../elements/id-d047de58c6284391b08b778860463e71.html"  target="element">
				  				<area shape="rect" coords="214,34,382,107" href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html"  target="element">

				  		<area shape="rect" coords="142,10,682,130" href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html"  target="element">
				  				<area shape="rect" coords="658,418,858,498" href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html"  target="element">
				  				<area shape="rect" coords="442,418,642,498" href="../elements/id-031512b65371474db26c4261c4e4f2aa.html"  target="element">

				          <area shape="rect" coords="430,370,875,539" href="../objects/id-9f0abf0b53144c56803a32fd29a2d70c.html" target="element" >
				  				<area shape="rect" coords="154,430,287,502" href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html"  target="element">

				          <area shape="rect" coords="10,370,407,539" href="../objects/id-5588da51eef745409ecf5aa4d9a6754b.html" target="element" >
				  				<area shape="rect" coords="442,214,600,274" href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html"  target="element">
				  				<area shape="rect" coords="226,214,384,274" href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html"  target="element">

				  		<area shape="rect" coords="142,178,682,298" href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health eDispensation Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements to facilitate health eDispensation. 

The first element is the "Health eDispensation Enablers" which is a Grouping ABB. This grouping comprises two Application Service ABBs: the "Pharmacy Information System (PIS)" and the "Medicines/Medications System (MS)". These systems are designed to provide application services for managing pharmacy information and medicines/medications respectively.

The second element is the "eGovERA Health Digital Public Services Catalogue", a Diagram Model-group ABB. This catalogue includes a Business Service ABB named "Healthcare enterprise resource management". This service is designed to enable the management of resources within the healthcare system.

The third element is the "Business Agnostic Digital Public Services Catalogue", another Diagram Model-group ABB. This catalogue includes two Business Service ABBs: "Knowledge Management" and "Data Exchange". These services are designed to provide digital public services for managing knowledge and exchanging data respectively.

The fourth element is the "Health eDispensation Data Exchange Technical Interoperability Agreement Solutions", a Grouping ABB. This grouping includes two Contract SBBs: "SCRIPT - ePrescription exchange" and "IHE DIS: Pharmacy Dispense". These contracts are designed to facilitate the exchange of ePrescriptions and the dispensing of pharmacy items respectively.

In summary, this view provides a comprehensive framework that leverages various elements to facilitate health eDispensation. These elements include application services, business services, and contracts that are designed to manage pharmacy information, medicines/medications, healthcare resources, knowledge, data, ePrescriptions, and pharmacy dispensing.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html" target="element"> Health eDispensation Enablers </a> </td>
											    <td> <a href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element"> Pharmacy Information System (PIS) </a> </td>
													    <td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html" target="element"> Medicines/Medications System (MS) </a> </td>
													    <td> <a href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5588da51eef745409ecf5aa4d9a6754b.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-5588da51eef745409ecf5aa4d9a6754b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9f0abf0b53144c56803a32fd29a2d70c.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-9f0abf0b53144c56803a32fd29a2d70c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element"> SCRIPT - ePrescription exchange </a> </td>
													    <td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element"> IHE DIS: Pharmacy Dispense </a> </td>
													    <td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-808fa0cb8b8b41e6978e9160c92fd94b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-808fa0cb8b8b41e6978e9160c92fd94b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html" target="element"> Health eDispensation Enablers </a> </td>
																		<td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element"> Pharmacy Information System (PIS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a91fd9177f124172a3b155dbe3ba2be1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a91fd9177f124172a3b155dbe3ba2be1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html" target="element"> Health eDispensation Enablers </a> </td>
																		<td> <a href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html" target="element"> Medicines/Medications System (MS) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d8f1bd690a9b49df98e27d74080187fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d8f1bd690a9b49df98e27d74080187fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element"> Pharmacy Information System (PIS) </a> </td>
																				<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23b7716088ef4c74a39f410b9bf26ad7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23b7716088ef4c74a39f410b9bf26ad7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element"> Pharmacy Information System (PIS) </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-24c437b1dab948f8a7d908a4c5b38dc7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24c437b1dab948f8a7d908a4c5b38dc7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-adf2a7622a9d456484d4a35e786429fe.html" target="element"> Pharmacy Information System (PIS) </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1a92f5b1d2104a03ab083d65f15f91bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a92f5b1d2104a03ab083d65f15f91bd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html" target="element"> Medicines/Medications System (MS) </a> </td>
																				<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0ed97fe19c784b648fceb98d32141a86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ed97fe19c784b648fceb98d32141a86.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb4ebbffd1b444058bb17ee769cb5c0d.html" target="element"> Medicines/Medications System (MS) </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-5ac75b200a3a4d268bf4977c6e0f697b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ac75b200a3a4d268bf4977c6e0f697b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element"> SCRIPT - ePrescription exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb640ba22a244a47979429a3f3d22b2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb640ba22a244a47979429a3f3d22b2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element"> IHE DIS: Pharmacy Dispense </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1825318469ad474584b2536494aa00ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1825318469ad474584b2536494aa00ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-cec59b6d317d4b3099d50af9eea37157.html" target="element"> Health eDispensation Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>