<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-High Value Datasets [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-High Value Datasets [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0811ae315bc549deb719085a2434b088.png" alt="SV-High Value Datasets [Motivation]" usemap="#id-0811ae315bc549deb719085a2434b088map"/>
			   <map name="id-0811ae315bc549deb719085a2434b088map">
				  		<area shape="rect" coords="370,382,558,477" href="../elements/id-7a8c073c241741e2b1e6cc980cb65e46.html"  target="element">
				  		<area shape="rect" coords="134,382,322,477" href="../elements/id-083346147785474ba638663baf68a1f2.html"  target="element">
				  				<area shape="rect" coords="850,274,1050,354" href="../elements/id-535700ebdedd43b68912aac75f08bc03.html"  target="element">
				  				<area shape="rect" coords="850,178,1050,258" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">
				  				<area shape="rect" coords="850,82,1050,162" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">

				          <area shape="rect" coords="814,10,1126,436" href="../objects/id-920c12243f6f457a9029372693d419ee.html" target="element" >
				  				<area shape="rect" coords="466,178,666,258" href="../elements/id-9e0c5c7a64f241cfb6aa723472b6247b.html"  target="element">
				  				<area shape="rect" coords="466,94,666,174" href="../elements/id-7aa5522698ca4d2ebfea5c743b131410.html"  target="element">
				  				<area shape="rect" coords="250,178,450,258" href="../elements/id-6d7686a506c7464c9344a4dc2d357545.html"  target="element">
				  				<area shape="rect" coords="250,94,450,174" href="../elements/id-a018db453e3e47a5b4bb77fda32e5b0a.html"  target="element">
				  				<area shape="rect" coords="46,178,246,258" href="../elements/id-41077bf95ebe4581bc466624409ffaa8.html"  target="element">
				  				<area shape="rect" coords="46,94,246,174" href="../elements/id-76e67096c960405cb7bb60a23844c1e9.html"  target="element">

				  		<area shape="rect" coords="10,58,707,287" href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-High Value Datasets [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging high-value datasets and business information. This view is composed of several elements, each with unique characteristics and relationships.

The first element, "Business Agnostic High Value Dataset Solutions," is a Grouping ABB that serves as a catalogue for various high-value datasets. These datasets are divided into six Data Object SBBs: "Geospatial High Value Dataset," "Business-related data High Value Dataset," "Metereology High Value Dataset," "Mobility High Value Dataset," "Statistics High Value Dataset," and "Earth Observation Data High Value Dataset." Each of these datasets contains specific data related to their respective fields, such as INSPIRE themes, reference parcels, agricultural parcels, basic company information, records, financial statements, weather data, river information services data, statistical data on select legal acts, and environmental information.

The second element, "Business Agnostic Business Information Base," is a Diagram Model-group ABB that contains three Business Object ABBs: "Availability," "Data Quality," and "Document." These objects provide information on the availability of the datasets, the quality of the data, and any related documents.

The third element, "Dataset," is a Data Object ABB that represents a collection of related data organized and presented in a structured format. This element serves as a foundation for the high-value datasets.

The final element, "High Value Dataset," is a Data Object ABB that represents datasets with the potential to generate significant socio-economic or environmental benefits, innovative services, assist in generating revenues, and be combined with other datasets. This element highlights the value and potential benefits of the datasets.

The relationships between these elements are crucial for understanding the motivation behind the SV-High Value Datasets [Motivation] view. The high-value datasets are grouped under the "Business Agnostic High Value Dataset Solutions" and are supported by the "Business Agnostic Business Information Base," which provides necessary information about the datasets. The "Dataset" and "High Value Dataset" elements further emphasize the importance and value of these datasets.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
											    <td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-76e67096c960405cb7bb60a23844c1e9.html" target="element"> Geospatial High Value Dataset </a> </td>
													    <td> <a href="../elements/id-76e67096c960405cb7bb60a23844c1e9.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41077bf95ebe4581bc466624409ffaa8.html" target="element"> Business-related data High Value Dataset </a> </td>
													    <td> <a href="../elements/id-41077bf95ebe4581bc466624409ffaa8.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a018db453e3e47a5b4bb77fda32e5b0a.html" target="element"> Metereology High Value Dataset </a> </td>
													    <td> <a href="../elements/id-a018db453e3e47a5b4bb77fda32e5b0a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d7686a506c7464c9344a4dc2d357545.html" target="element"> Mobility High Value Dataset </a> </td>
													    <td> <a href="../elements/id-6d7686a506c7464c9344a4dc2d357545.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7aa5522698ca4d2ebfea5c743b131410.html" target="element"> Statistics High Value Dataset </a> </td>
													    <td> <a href="../elements/id-7aa5522698ca4d2ebfea5c743b131410.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e0c5c7a64f241cfb6aa723472b6247b.html" target="element"> Earth Observation Data High Value Dataset </a> </td>
													    <td> <a href="../elements/id-9e0c5c7a64f241cfb6aa723472b6247b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-920c12243f6f457a9029372693d419ee.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-920c12243f6f457a9029372693d419ee.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a8c073c241741e2b1e6cc980cb65e46.html" target="element"> High Value Dataset </a> </td>
											    <td> <a href="../elements/id-7a8c073c241741e2b1e6cc980cb65e46.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3fc26ec1b53d4adf9060bb6fff79f254.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fc26ec1b53d4adf9060bb6fff79f254.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c4314c205bd4e8eb02876b8fe154bce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c4314c205bd4e8eb02876b8fe154bce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4e0f3320d654c6e9f7d5fd4821a80ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4e0f3320d654c6e9f7d5fd4821a80ce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56d584fd5ced42babbca3dae8f96a848.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56d584fd5ced42babbca3dae8f96a848.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca20cb7f338f45c0aa435005160614ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca20cb7f338f45c0aa435005160614ea.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33b5788fd0d04ea6af3ccbb0560ed146.html" target="element"> Business Agnostic High Value Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-7a8c073c241741e2b1e6cc980cb65e46.html" target="element"> High Value Dataset </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>