<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Data Space Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Data Space Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1f145ca13a1a4bfd81c41a3682defd3a.png" alt="TVA-Health Data Space Enablers [Motivation]" usemap="#id-1f145ca13a1a4bfd81c41a3682defd3amap"/>
			   <map name="id-1f145ca13a1a4bfd81c41a3682defd3amap">
				  				<area shape="rect" coords="82,262,282,342" href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html"  target="element">
				  				<area shape="rect" coords="82,406,282,486" href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html"  target="element">

				          <area shape="rect" coords="10,226,383,515" href="../objects/id-5c17b9e3880b4971bcb49fd8ebbe7ea4.html" target="element" >
				  				<area shape="rect" coords="82,46,282,126" href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html"  target="element">

				  		<area shape="rect" coords="10,10,383,155" href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Data Space Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the elements described in the given JSON data. This view is primarily composed of two main elements: 'Health Data Space Enablers' and 'Business Agnostic Digital Public Services Catalogue'.

The 'Health Data Space Enablers' is a Grouping ABB (Architecture Building Block) that encapsulates the elements that enable the health data space. Within this grouping, there is an Application Service SBB (Solution Building Block) named 'EHDS2 Node'. The EHDS2 Node represents an application service that is part of the Health Data Space Enablers.

On the other hand, the 'Business Agnostic Digital Public Services Catalogue' is a Diagram Model-group ABB that contains elements related to digital public services that are business agnostic. This catalogue includes two Business Service ABBs: 'Data Space' and 'Data Space Participant'. The 'Data Space' represents a digital public service that is part of the Business Agnostic Digital Public Services Catalogue. Similarly, the 'Data Space Participant' represents another digital public service that participates in the data space.

The relationship between these elements is that the 'EHDS2 Node' under 'Health Data Space Enablers' provides the necessary application services to enable the 'Data Space' and 'Data Space Participant' under the 'Business Agnostic Digital Public Services Catalogue'. This relationship is motivated by the need to provide a comprehensive framework for leveraging health data space enablers and digital public services in a business-agnostic manner.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element"> Heatlh Data Space Enablers </a> </td>
											    <td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element"> EHDS2 Node </a> </td>
													    <td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5c17b9e3880b4971bcb49fd8ebbe7ea4.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-5c17b9e3880b4971bcb49fd8ebbe7ea4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
													    <td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
													    <td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-05fe1095dbbb471183d4a5c54f80a6b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05fe1095dbbb471183d4a5c54f80a6b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element"> Heatlh Data Space Enablers </a> </td>
																		<td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element"> EHDS2 Node </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e68af2785f2d43e1b35538f4f833c287.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e68af2785f2d43e1b35538f4f833c287.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element"> EHDS2 Node </a> </td>
																				<td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-b31d4de629a74ba3a061a9411b86e65f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b31d4de629a74ba3a061a9411b86e65f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>