<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Patient Summary Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Patient Summary Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-14c1364f6c634aed9e123210c1d0ab11.png" alt="TVA-Health Patient Summary Enablers [Motivation]" usemap="#id-14c1364f6c634aed9e123210c1d0ab11map"/>
			   <map name="id-14c1364f6c634aed9e123210c1d0ab11map">
				  				<area shape="rect" coords="647,334,803,418" href="../elements/id-d673929dbd3747b7918806effecba581.html"  target="element">
				  				<area shape="rect" coords="479,334,635,418" href="../elements/id-8bb2f821098f43a7962542c962e565d3.html"  target="element">
				  				<area shape="rect" coords="731,238,887,322" href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html"  target="element">
				  				<area shape="rect" coords="563,238,719,322" href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html"  target="element">
				  				<area shape="rect" coords="395,238,551,322" href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html"  target="element">
				  				<area shape="rect" coords="731,142,887,226" href="../elements/id-53f194fb228a42208498e15773d9ae77.html"  target="element">
				  				<area shape="rect" coords="563,142,719,226" href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html"  target="element">
				  				<area shape="rect" coords="395,142,551,226" href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html"  target="element">
				  				<area shape="rect" coords="731,46,887,130" href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html"  target="element">
				  				<area shape="rect" coords="563,46,719,130" href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html"  target="element">
				  				<area shape="rect" coords="395,46,551,130" href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html"  target="element">

				  		<area shape="rect" coords="371,10,911,442" href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html"  target="element">
				  				<area shape="rect" coords="70,790,203,862" href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html"  target="element">
				  				<area shape="rect" coords="70,658,203,730" href="../elements/id-89054a35a3904180837fef8bab39c849.html"  target="element">
				  				<area shape="rect" coords="70,538,203,610" href="../elements/id-65ef086635634a7b863a95421ec2621d.html"  target="element">

				          <area shape="rect" coords="10,490,407,959" href="../objects/id-e29e9dd0b80d4e3083b3a414e4146307.html" target="element" >
				  				<area shape="rect" coords="538,1246,738,1326" href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html"  target="element">

				          <area shape="rect" coords="370,1198,875,1367" href="../objects/id-2c8e186894fa4b7daff2d36ba4020567.html" target="element" >
				  				<area shape="rect" coords="922,802,1055,874" href="../elements/id-0a12f93a3e794b64a237ab9a92ac6c44.html"  target="element">
				  				<area shape="rect" coords="922,898,1055,970" href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html"  target="element">
				  				<area shape="rect" coords="922,658,1055,730" href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html"  target="element">
				  				<area shape="rect" coords="922,994,1055,1066" href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html"  target="element">
				  				<area shape="rect" coords="922,526,1055,598" href="../elements/id-bf51b52baf234367bb6caec808d8e75b.html"  target="element">

				          <area shape="rect" coords="898,490,1295,1151" href="../objects/id-ea03d47db3714496993ea14f5355cba0.html" target="element" >
				  				<area shape="rect" coords="622,1030,780,1090" href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html"  target="element">
				  				<area shape="rect" coords="622,958,780,1018" href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html"  target="element">
				  				<area shape="rect" coords="622,743,780,803" href="../elements/id-8ee004b9c19b42f8ba22ccca2b87f955.html"  target="element">
				  				<area shape="rect" coords="622,815,780,875" href="../elements/id-58a1ddd5e64c4c0f979f704f57798828.html"  target="element">
				  				<area shape="rect" coords="622,886,780,946" href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html"  target="element">
				  				<area shape="rect" coords="622,598,780,658" href="../elements/id-b87d3ff8b0914d4b84c5a61bbecffbc6.html"  target="element">
				  				<area shape="rect" coords="622,671,780,731" href="../elements/id-5875532728554acc835a47964d54e8c4.html"  target="element">
				  				<area shape="rect" coords="442,743,600,803" href="../elements/id-941f3a91bdd04d1a91be6234755ae88b.html"  target="element">
				  				<area shape="rect" coords="442,526,600,586" href="../elements/id-f55a442391e54897a69d504089ddc4c6.html"  target="element">
				  				<area shape="rect" coords="622,526,780,586" href="../elements/id-2dd56601e716461ab4701cad727a1830.html"  target="element">
				  				<area shape="rect" coords="442,671,600,731" href="../elements/id-570a93d83d01428fb5fcab74f5996872.html"  target="element">
				  				<area shape="rect" coords="442,886,600,946" href="../elements/id-d053b60cbda14e38bcb0b0dd72f3c76f.html"  target="element">
				  				<area shape="rect" coords="442,815,600,875" href="../elements/id-346b4cdf81bf48ca993717864175eeeb.html"  target="element">
				  				<area shape="rect" coords="442,598,600,658" href="../elements/id-8a579d382ee14595902b658340291c46.html"  target="element">

				  		<area shape="rect" coords="418,490,863,1151" href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Patient Summary Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various application services, business services, and contracts to enable effective health patient summary management. 

The view is divided into four main sections: Health Patient Summary Enablers, eGovERA Health Digital Public Services Catalogue, Business Agnostic Digital Public Services Catalogue, and Health Patient Summary Technical Interoperability Agreement Solutions.

The Health Patient Summary Enablers section includes a range of application services such as the Admission, Discharge and Transfer System (ADTS), Identification and Registration System (IRS), Engagement and Self-management System (ESMS), Electronic Health Records System (EHRS), Patient summary system, Patient Management Information System, Clinical Information System (CIS), Social Service and Patients' Relations system (SSPRS), Chronic Care Management System (CCMS), Medical Devices System (MDS), Implants Registry System (IRS), Diagnosis system, Health remote sensing and continuous monitoring, and Telemetry Monitoring System (TMS). These services are grouped together as they provide the necessary functionalities for managing health patient summaries.

The eGovERA Health Digital Public Services Catalogue section includes business services such as Patient summary, Health remote sensing and continuous monitoring, Tele-diagnosis, Medical devices/equipments, and Medical equipment resource allocation. These services are part of a digital public services catalogue specifically designed for the health sector.

The Business Agnostic Digital Public Services Catalogue section includes a Workflow Management business service, which is a digital public service that is not specific to any business sector.

Another eGovERA Health Digital Public Services Catalogue section includes business services such as Patient digital twin, Electronic Healthcare Records, and Healthcare enterprise resource management. These services are also part of the digital public services catalogue specifically designed for the health sector.

The Health Patient Summary Technical Interoperability Agreement Solutions section includes a range of contracts such as IHE PDQ: Patient Demographics Query, IHE PIX: Patient Identifier Cross-Referencing, PHR-S FM - Personal Health Record System Functional Model, IHE XCPD: Cross-Community Patient Discovery, IHE XD-MS: Cross-Enterprise Sharing of Medical Summaries Integration Profile, IHE BPPC: Basic Patient Privacy Consents, IHE PAM: Patient Administration Management, IHE PIR: Patient Information Reconciliation, CEN/TS 17288 - The International Patient Summary - Guideline for European Implementation, Clinical Data Interchange Standards Consortium - CDISC, and IHE XPHR: Exchange of Personal Health Record Content. These contracts represent technical interoperability agreement solutions for health patient summary management.

The relations between these elements are not explicitly defined in the JSON, but it can be inferred that the application services in the Health Patient Summary Enablers section are used to enable the business services in the eGovERA Health Digital Public Services Catalogue and Business Agnostic Digital Public Services Catalogue sections. The contracts in the Health Patient Summary Technical Interoperability Agreement Solutions section are likely used to ensure interoperability between the different application services and business services. The motivation behind this view is to provide a comprehensive framework for managing health patient summaries effectively and efficiently, leveraging digital technologies and interoperability standards.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
											    <td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8a579d382ee14595902b658340291c46.html" target="element"> Admission, Discharge and Transfer System (ADTS) </a> </td>
													    <td> <a href="../elements/id-8a579d382ee14595902b658340291c46.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-346b4cdf81bf48ca993717864175eeeb.html" target="element"> Identification and Registration System (IRS) </a> </td>
													    <td> <a href="../elements/id-346b4cdf81bf48ca993717864175eeeb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d053b60cbda14e38bcb0b0dd72f3c76f.html" target="element"> Engagement and Self-management System (ESMS) </a> </td>
													    <td> <a href="../elements/id-d053b60cbda14e38bcb0b0dd72f3c76f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-570a93d83d01428fb5fcab74f5996872.html" target="element"> Electronic Health Records System (EHRS) </a> </td>
													    <td> <a href="../elements/id-570a93d83d01428fb5fcab74f5996872.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dd56601e716461ab4701cad727a1830.html" target="element"> Patient summary system </a> </td>
													    <td> <a href="../elements/id-2dd56601e716461ab4701cad727a1830.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f55a442391e54897a69d504089ddc4c6.html" target="element"> Patient Management Information System </a> </td>
													    <td> <a href="../elements/id-f55a442391e54897a69d504089ddc4c6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-941f3a91bdd04d1a91be6234755ae88b.html" target="element"> Clinical Information System (CIS)  </a> </td>
													    <td> <a href="../elements/id-941f3a91bdd04d1a91be6234755ae88b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5875532728554acc835a47964d54e8c4.html" target="element"> Social Service and Patients' Relations system (SSPRS) </a> </td>
													    <td> <a href="../elements/id-5875532728554acc835a47964d54e8c4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b87d3ff8b0914d4b84c5a61bbecffbc6.html" target="element"> Chronic Care Management System (CCMS) </a> </td>
													    <td> <a href="../elements/id-b87d3ff8b0914d4b84c5a61bbecffbc6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html" target="element"> Medical Devices System (MDS) </a> </td>
													    <td> <a href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58a1ddd5e64c4c0f979f704f57798828.html" target="element"> Implants Registry System (IRS) </a> </td>
													    <td> <a href="../elements/id-58a1ddd5e64c4c0f979f704f57798828.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ee004b9c19b42f8ba22ccca2b87f955.html" target="element"> Diagnosis system </a> </td>
													    <td> <a href="../elements/id-8ee004b9c19b42f8ba22ccca2b87f955.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
													    <td> <a href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html" target="element"> Telemetry Monitoring System (TMS) </a> </td>
													    <td> <a href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ea03d47db3714496993ea14f5355cba0.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-ea03d47db3714496993ea14f5355cba0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-bf51b52baf234367bb6caec808d8e75b.html" target="element"> Patient summary </a> </td>
													    <td> <a href="../elements/id-bf51b52baf234367bb6caec808d8e75b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
													    <td> <a href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html" target="element"> Tele-diagnosis </a> </td>
													    <td> <a href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html" target="element"> Medical devices/equipments </a> </td>
													    <td> <a href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a12f93a3e794b64a237ab9a92ac6c44.html" target="element"> Medical equipment resource allocation </a> </td>
													    <td> <a href="../elements/id-0a12f93a3e794b64a237ab9a92ac6c44.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2c8e186894fa4b7daff2d36ba4020567.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-2c8e186894fa4b7daff2d36ba4020567.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-e29e9dd0b80d4e3083b3a414e4146307.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-e29e9dd0b80d4e3083b3a414e4146307.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-65ef086635634a7b863a95421ec2621d.html" target="element"> Patient digital twin </a> </td>
													    <td> <a href="../elements/id-65ef086635634a7b863a95421ec2621d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89054a35a3904180837fef8bab39c849.html" target="element"> Electronic Healthcare Records </a> </td>
													    <td> <a href="../elements/id-89054a35a3904180837fef8bab39c849.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element"> IHE PDQ: Patient Demographics Query </a> </td>
													    <td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element"> IHE PIX: Patient Identifier Cross-Referencing </a> </td>
													    <td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element"> PHR-S FM - Personal Health Record System Functional Model </a> </td>
													    <td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element"> IHE XCPD: Cross-Community Patient Discovery </a> </td>
													    <td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element"> IHE XD-MS: Cross-Enterprise Sharing of Medical Summaries Integration Profile </a> </td>
													    <td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element"> IHE BPPC: Basic Patient Privacy Consents </a> </td>
													    <td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element"> IHE PAM: Patient Administration Management </a> </td>
													    <td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element"> IHE PIR: Patient Information Reconciliation </a> </td>
													    <td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element"> CEN/TS 17288 - The International Patient Summary - Guideline for European Implementation </a> </td>
													    <td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element"> Clinical Data Interchange Standards Consortium - CDISC </a> </td>
													    <td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element"> IHE XPHR: Exchange of Personal Health Record Content </a> </td>
													    <td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-77df9cb3f2f94b47be260b0779cf6642.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77df9cb3f2f94b47be260b0779cf6642.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-8ee004b9c19b42f8ba22ccca2b87f955.html" target="element"> Diagnosis system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-282620ec8a824f9993470d67a585e571.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-282620ec8a824f9993470d67a585e571.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49226bed0c6d456dbd0b4d2a09a21cd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49226bed0c6d456dbd0b4d2a09a21cd8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-941f3a91bdd04d1a91be6234755ae88b.html" target="element"> Clinical Information System (CIS)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f36c181a83e243a991cd76d4cacda9c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f36c181a83e243a991cd76d4cacda9c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-f55a442391e54897a69d504089ddc4c6.html" target="element"> Patient Management Information System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5556541cc2654e5eaf936fd262afedaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5556541cc2654e5eaf936fd262afedaa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html" target="element"> Medical Devices System (MDS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4903ea21c15e4570ba7e56ff94e466d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4903ea21c15e4570ba7e56ff94e466d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-d053b60cbda14e38bcb0b0dd72f3c76f.html" target="element"> Engagement and Self-management System (ESMS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c01b24ba3234eb4a74c1974132f2dbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c01b24ba3234eb4a74c1974132f2dbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html" target="element"> Telemetry Monitoring System (TMS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a300704594e4e699dc4117c9cc1eb2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a300704594e4e699dc4117c9cc1eb2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-346b4cdf81bf48ca993717864175eeeb.html" target="element"> Identification and Registration System (IRS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-745581e3232545d7920f7f0c828e4d1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-745581e3232545d7920f7f0c828e4d1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-570a93d83d01428fb5fcab74f5996872.html" target="element"> Electronic Health Records System (EHRS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-398794df14b54ce887b245b2855c4063.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-398794df14b54ce887b245b2855c4063.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-5875532728554acc835a47964d54e8c4.html" target="element"> Social Service and Patients' Relations system (SSPRS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18c82d2996784bf5b9a4896f1b953d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18c82d2996784bf5b9a4896f1b953d03.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-58a1ddd5e64c4c0f979f704f57798828.html" target="element"> Implants Registry System (IRS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41d2a5ca121e40bcb3941711fc7d7e40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41d2a5ca121e40bcb3941711fc7d7e40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-8a579d382ee14595902b658340291c46.html" target="element"> Admission, Discharge and Transfer System (ADTS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb9b3a9d4c5c479289b6cf6d2bee9910.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb9b3a9d4c5c479289b6cf6d2bee9910.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-2dd56601e716461ab4701cad727a1830.html" target="element"> Patient summary system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3c0af02aa6241d69d107f33ab96fe05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3c0af02aa6241d69d107f33ab96fe05.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-b87d3ff8b0914d4b84c5a61bbecffbc6.html" target="element"> Chronic Care Management System (CCMS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d7d2d39a091470baf39039244e15ac6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d7d2d39a091470baf39039244e15ac6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																		<td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element"> Workflow Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b2d143a1a25d4a8c9b99ef9d53dcebfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b2d143a1a25d4a8c9b99ef9d53dcebfb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a579d382ee14595902b658340291c46.html" target="element"> Admission, Discharge and Transfer System (ADTS) </a> </td>
																				<td> <a href="../elements/id-65ef086635634a7b863a95421ec2621d.html" target="element"> Patient digital twin </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fdab3a69347a4a18ae22924fbf0e64be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fdab3a69347a4a18ae22924fbf0e64be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-346b4cdf81bf48ca993717864175eeeb.html" target="element"> Identification and Registration System (IRS) </a> </td>
																				<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5061e0482b064124b13d990fea49210b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5061e0482b064124b13d990fea49210b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d053b60cbda14e38bcb0b0dd72f3c76f.html" target="element"> Engagement and Self-management System (ESMS) </a> </td>
																				<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e7b206f67e044475bfdba59fe918b68b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7b206f67e044475bfdba59fe918b68b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-570a93d83d01428fb5fcab74f5996872.html" target="element"> Electronic Health Records System (EHRS) </a> </td>
																				<td> <a href="../elements/id-89054a35a3904180837fef8bab39c849.html" target="element"> Electronic Healthcare Records </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-764a32dde33248108c5e388678106798.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-764a32dde33248108c5e388678106798.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dd56601e716461ab4701cad727a1830.html" target="element"> Patient summary system </a> </td>
																				<td> <a href="../elements/id-bf51b52baf234367bb6caec808d8e75b.html" target="element"> Patient summary </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d57ea9c9d9c04287bbc6e873a6d3b69a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d57ea9c9d9c04287bbc6e873a6d3b69a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f55a442391e54897a69d504089ddc4c6.html" target="element"> Patient Management Information System </a> </td>
																				<td> <a href="../elements/id-65ef086635634a7b863a95421ec2621d.html" target="element"> Patient digital twin </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2c01176b8eae4f928dbbd7740675f39f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c01176b8eae4f928dbbd7740675f39f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-941f3a91bdd04d1a91be6234755ae88b.html" target="element"> Clinical Information System (CIS)  </a> </td>
																				<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96e91a5424a24444846ed8f9f696c91c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96e91a5424a24444846ed8f9f696c91c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5875532728554acc835a47964d54e8c4.html" target="element"> Social Service and Patients' Relations system (SSPRS) </a> </td>
																				<td> <a href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html" target="element"> Tele-diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b75d08647b146bab3cddbbec6b17947.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b75d08647b146bab3cddbbec6b17947.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b87d3ff8b0914d4b84c5a61bbecffbc6.html" target="element"> Chronic Care Management System (CCMS) </a> </td>
																				<td> <a href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html" target="element"> Tele-diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c059954a46764780a288d9f49d7a8517.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c059954a46764780a288d9f49d7a8517.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html" target="element"> Medical Devices System (MDS) </a> </td>
																				<td> <a href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html" target="element"> Medical devices/equipments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ac02dc0b2ceb4bdb8a6f660a862c6381.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac02dc0b2ceb4bdb8a6f660a862c6381.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e98a9960ff04b4fa8da2ff2b1ec27ea.html" target="element"> Medical Devices System (MDS) </a> </td>
																				<td> <a href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-81f2e430ab494899bdb9311ff6b71d55.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81f2e430ab494899bdb9311ff6b71d55.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-58a1ddd5e64c4c0f979f704f57798828.html" target="element"> Implants Registry System (IRS) </a> </td>
																				<td> <a href="../elements/id-0a12f93a3e794b64a237ab9a92ac6c44.html" target="element"> Medical equipment resource allocation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-99d24ee757e548049967c8146bf4b509.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99d24ee757e548049967c8146bf4b509.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ee004b9c19b42f8ba22ccca2b87f955.html" target="element"> Diagnosis system </a> </td>
																				<td> <a href="../elements/id-dc240f97fe8343c5bfdda4314c359c44.html" target="element"> Tele-diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f22f9b4fadb649b8bbe31f73057266a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f22f9b4fadb649b8bbe31f73057266a8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																				<td> <a href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html" target="element"> Medical devices/equipments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ef081d968d114d0f86b7e4b339633648.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef081d968d114d0f86b7e4b339633648.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc5abae22fff4b6bb736a3c02bdd4ea5.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																				<td> <a href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-539e48126461458db5a85f4501f8bad3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-539e48126461458db5a85f4501f8bad3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html" target="element"> Telemetry Monitoring System (TMS) </a> </td>
																				<td> <a href="../elements/id-2bfabc8d6287415e8e49d03d8b835c69.html" target="element"> Medical devices/equipments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-600af858b8694274ba0ec42248c8bc1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-600af858b8694274ba0ec42248c8bc1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5bfb08249b2146db914ae668a2b4ab13.html" target="element"> Telemetry Monitoring System (TMS) </a> </td>
																				<td> <a href="../elements/id-22a6a396a85d4bcfa52ceb46d1c1d906.html" target="element"> Health remote sensing and continuous monitoring </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-4da4c1e290914652903efd12a103424c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4da4c1e290914652903efd12a103424c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element"> IHE PIX: Patient Identifier Cross-Referencing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aeccc7e023e948dd84242c3b3e813bc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeccc7e023e948dd84242c3b3e813bc9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element"> IHE XCPD: Cross-Community Patient Discovery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a6ebba97183491bb6e2a6a198798fa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a6ebba97183491bb6e2a6a198798fa6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element"> IHE PDQ: Patient Demographics Query </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97682f63e6134f2db1eb896e8a45ed42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97682f63e6134f2db1eb896e8a45ed42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element"> IHE BPPC: Basic Patient Privacy Consents </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e001199568e74d3aa12353a0ecbe7c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e001199568e74d3aa12353a0ecbe7c90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element"> IHE PAM: Patient Administration Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b77199565995404e9ddae53660e186c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b77199565995404e9ddae53660e186c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element"> IHE XD-MS: Cross-Enterprise Sharing of Medical Summaries Integration Profile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06551234974e40628a2cbe6c4c6e28f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06551234974e40628a2cbe6c4c6e28f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element"> PHR-S FM - Personal Health Record System Functional Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8c4604535a14ad4b31a2209473811d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8c4604535a14ad4b31a2209473811d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element"> IHE PIR: Patient Information Reconciliation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47d4093b4205481d8b1ca27156f6595c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47d4093b4205481d8b1ca27156f6595c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element"> Clinical Data Interchange Standards Consortium - CDISC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54da4f2b59684b4ab3571525a007cf37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54da4f2b59684b4ab3571525a007cf37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element"> IHE XPHR: Exchange of Personal Health Record Content </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b04e411ddee4136be989a26d025a5c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b04e411ddee4136be989a26d025a5c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element"> CEN/TS 17288 - The International Patient Summary - Guideline for European Implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f448fe24ee2453c94315704c86c38b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f448fe24ee2453c94315704c86c38b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-2c7a8dff91874b7b9c605821adf0fb69.html" target="element"> Health Patient Summary Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>