<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Test Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Test Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-26fffc57c5354cdbb8c28710e3da154d.png" alt="TVA-Test Enablers [Motivation]" usemap="#id-26fffc57c5354cdbb8c28710e3da154dmap"/>
			   <map name="id-26fffc57c5354cdbb8c28710e3da154dmap">
				  				<area shape="rect" coords="719,166,899,239" href="../elements/id-8869d50792ad48c9863f57f18dcdb7a8.html"  target="element">
				  				<area shape="rect" coords="719,58,899,131" href="../elements/id-91da5e17ef61416ab33d7d129be75938.html"  target="element">

				  		<area shape="rect" coords="671,10,936,274" href="../elements/id-cb11f0474b3249338f2df58899dd890f.html"  target="element">
				  				<area shape="rect" coords="383,226,563,299" href="../elements/id-370187e388e5440b9f3e2dfd1d07db2e.html"  target="element">
				  				<area shape="rect" coords="383,130,563,203" href="../elements/id-08899007401e4053a91387b9d52beaaf.html"  target="element">
				  				<area shape="rect" coords="383,34,563,107" href="../elements/id-847e12f3c30e4688961c405b6657e777.html"  target="element">

				  		<area shape="rect" coords="359,10,600,323" href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html"  target="element">
				  				<area shape="rect" coords="58,46,238,119" href="../elements/id-128850f1b77e4503a6a4a75d14371a37.html"  target="element">

				          <area shape="rect" coords="10,10,274,143" href="../objects/id-ea8fab783ada4a3dbca521d5e2513dec.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 

The "Technical view - Application Test" viewpoint extends technical view application  and provides a comprehensive framework for ensuring the quality and reliability of digital applications through rigorous testing processes. This view associates the Application Test with Testing Business Services from the application layer.
Within this view, Application Test refers to the systematic approach of validating and verifying the functionality, performance, and security aspects of digital applications. It encompasses various testing techniques, methodologies, and tools to identify and address defects, vulnerabilities, and performance bottlenecks.
Testing Business Services leverage the Application Test framework to enable organizations to conduct comprehensive testing of their digital applications. These services provide the necessary tools, methodologies, and expertise to plan, execute, and manage the testing process, ensuring that applications meet the desired quality standards.
By associating the Application Test with Testing Business Services, the "Technical view - Application Test" empowers organizations to proactively identify and resolve issues, optimize application performance, and enhance the overall user experience within the digital ecosystem.
The use of Application Test allows organizations to validate the functionality, usability, and performance of their digital applications under various scenarios and conditions. It includes different types of testing such as functional testing, performance testing, security testing, and user acceptance testing to ensure that applications meet the intended requirements and perform as expected.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ea8fab783ada4a3dbca521d5e2513dec.html" target="element"> Business Agnostic Testing Business Service </a> </td>
									           <td> <a href="../objects/id-ea8fab783ada4a3dbca521d5e2513dec.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-128850f1b77e4503a6a4a75d14371a37.html" target="element"> Compliance Testing </a> </td>
													    <td> <a href="../elements/id-128850f1b77e4503a6a4a75d14371a37.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html" target="element"> Test Enablers </a> </td>
											    <td> <a href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element"> Conformance Testing </a> </td>
													    <td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
													    <td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-370187e388e5440b9f3e2dfd1d07db2e.html" target="element"> Conformance Test Scenario </a> </td>
													    <td> <a href="../elements/id-370187e388e5440b9f3e2dfd1d07db2e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cb11f0474b3249338f2df58899dd890f.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
											    <td> <a href="../elements/id-cb11f0474b3249338f2df58899dd890f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91da5e17ef61416ab33d7d129be75938.html" target="element"> European Interoperability TestBed </a> </td>
													    <td> <a href="../elements/id-91da5e17ef61416ab33d7d129be75938.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8869d50792ad48c9863f57f18dcdb7a8.html" target="element"> ETSI Signature Conformance Checker </a> </td>
													    <td> <a href="../elements/id-8869d50792ad48c9863f57f18dcdb7a8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-618d999cc7894e45b78ad7fd8d3b8156.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-618d999cc7894e45b78ad7fd8d3b8156.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-370187e388e5440b9f3e2dfd1d07db2e.html" target="element"> Conformance Test Scenario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6b2442d7b5a4087bfeabda0d2d37deb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6b2442d7b5a4087bfeabda0d2d37deb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element"> Conformance Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54ace9eba8234df3a6e5ffb782e36402.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54ace9eba8234df3a6e5ffb782e36402.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2907610753864bd2aa46e1bff73f7c61.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d38e30371ef44f3eb81adc084f17ab92.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d38e30371ef44f3eb81adc084f17ab92.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-128850f1b77e4503a6a4a75d14371a37.html" target="element"> Compliance Testing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c0972c05fe1a4777a59ec7a4695271b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0972c05fe1a4777a59ec7a4695271b0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-370187e388e5440b9f3e2dfd1d07db2e.html" target="element"> Conformance Test Scenario </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cc0eb51586347a6b7ac2c3f543bc9ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cc0eb51586347a6b7ac2c3f543bc9ac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element"> Conformance Testing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-81ad2dc274d8477ab75b8db3b6a44052.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81ad2dc274d8477ab75b8db3b6a44052.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb11f0474b3249338f2df58899dd890f.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-847e12f3c30e4688961c405b6657e777.html" target="element"> Conformance Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d65f3acdf5f04ef88f3f9ac725f4eec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d65f3acdf5f04ef88f3f9ac725f4eec4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb11f0474b3249338f2df58899dd890f.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-8869d50792ad48c9863f57f18dcdb7a8.html" target="element"> ETSI Signature Conformance Checker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1962bff15504801911bd00817826c98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1962bff15504801911bd00817826c98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb11f0474b3249338f2df58899dd890f.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-91da5e17ef61416ab33d7d129be75938.html" target="element"> European Interoperability TestBed </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>