<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Governance Architecture Principles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Governance Architecture Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-26e3d84b37754b109ef0e6f841215dc7.png" alt="TVI-Governance Architecture Principles" usemap="#id-26e3d84b37754b109ef0e6f841215dc7map"/>
			   <map name="id-26e3d84b37754b109ef0e6f841215dc7map">
				  				<area shape="rect" coords="598,550,792,655" href="../elements/id-585f5f11fb77474683c530b71fc682ff.html"  target="element">

				  		<area shape="rect" coords="478,514,938,683" href="../elements/id-e9c0d5214b994398974a3483566e71b5.html"  target="element">
				  				<area shape="rect" coords="502,370,702,450" href="../elements/id-2b40cfb4bcbb4e9ba61701385f8d3fef.html"  target="element">
				  				<area shape="rect" coords="502,274,702,354" href="../elements/id-36406a79fc644ef29389b67616748e94.html"  target="element">
				  				<area shape="rect" coords="502,174,702,254" href="../elements/id-393cc6b1b13a42fc92176eeee4dcfb07.html"  target="element">
				  				<area shape="rect" coords="502,46,702,126" href="../elements/id-cfa95982642347b798b2b32512c00fcb.html"  target="element">
				  				<area shape="rect" coords="790,46,990,126" href="../elements/id-866f38be7f7c4147a7dc5b2f938a4f9c.html"  target="element">

				  		<area shape="rect" coords="478,10,1019,478" href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html"  target="element">
				  		<area shape="rect" coords="10,466,260,541" href="../elements/id-030f28f5a21b41b9a025e0bb94908053.html"  target="element">
				  		<area shape="rect" coords="10,382,260,457" href="../elements/id-471f5496dcd549debad7425b1b6f004a.html"  target="element">
				  		<area shape="rect" coords="10,550,260,625" href="../elements/id-109242e85e864ee08f4ac0f6aa9345e9.html"  target="element">
				  		<area shape="rect" coords="10,215,260,290" href="../elements/id-1a299d74777942598a56a6ddc1f7c3d9.html"  target="element">
				  		<area shape="rect" coords="10,298,260,373" href="../elements/id-12c4a891b55e4932a29e9393271394fe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The view connects Architecture principles to technical view and the governance components. It is a relevant aspect of solutions architecture. This view specifically examines how architecture principles influence the design and implementation of governance structures within the application layer of a solution.

Firstly, it establishes effective governance within the application layer. Architecture principles provide guidance on defining governance structures, policies, and processes for application and infrastructure development and management. By aligning governance components with these principles, solutions architects design a robust governance framework that promotes compliance, transparency, and accountability in application development, configuration, and operations. This alignment ensures proper control and management of applications, reducing risks and enhancing overall governance practices.

Secondly, aligning architecture principles with governance components supports optimized application development and deployment. Architecture principles often emphasize best practices for application design, scalability, and performance optimization. By incorporating these principles into the design and implementation of governance components, solutions architects establish mechanisms for enforcing design patterns, scalability approaches, and performance monitoring.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-12c4a891b55e4932a29e9393271394fe.html" target="element"> Administrative Simplification
									 </a> </td>
											    <td> <a href="../elements/id-12c4a891b55e4932a29e9393271394fe.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a299d74777942598a56a6ddc1f7c3d9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
											    <td> <a href="../elements/id-1a299d74777942598a56a6ddc1f7c3d9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-109242e85e864ee08f4ac0f6aa9345e9.html" target="element"> Once Only </a> </td>
											    <td> <a href="../elements/id-109242e85e864ee08f4ac0f6aa9345e9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-471f5496dcd549debad7425b1b6f004a.html" target="element"> Proactiveness </a> </td>
											    <td> <a href="../elements/id-471f5496dcd549debad7425b1b6f004a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-030f28f5a21b41b9a025e0bb94908053.html" target="element"> Subsidiarity and proportionality </a> </td>
											    <td> <a href="../elements/id-030f28f5a21b41b9a025e0bb94908053.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-866f38be7f7c4147a7dc5b2f938a4f9c.html" target="element"> BlockChain IoP Agreement </a> </td>
													    <td> <a href="../elements/id-866f38be7f7c4147a7dc5b2f938a4f9c.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element"> BlockChain Governance </a> </td>
													    <td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-393cc6b1b13a42fc92176eeee4dcfb07.html" target="element"> Hybrid Blockchain Governance </a> </td>
													    <td> <a href="../elements/id-393cc6b1b13a42fc92176eeee4dcfb07.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36406a79fc644ef29389b67616748e94.html" target="element"> Public BlockChain Governance (permissionless) </a> </td>
													    <td> <a href="../elements/id-36406a79fc644ef29389b67616748e94.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b40cfb4bcbb4e9ba61701385f8d3fef.html" target="element"> Private BlockChain Governance (permissioned) </a> </td>
													    <td> <a href="../elements/id-2b40cfb4bcbb4e9ba61701385f8d3fef.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-585f5f11fb77474683c530b71fc682ff.html" target="element"> Multi-Factor Authentication </a> </td>
													    <td> <a href="../elements/id-585f5f11fb77474683c530b71fc682ff.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1b751a03ceb24a1b8a41855d6fc725bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b751a03ceb24a1b8a41855d6fc725bb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12c4a891b55e4932a29e9393271394fe.html" target="element"> Administrative Simplification
												 </a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d846a22c7cb14139a59feb7853ad9c6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d846a22c7cb14139a59feb7853ad9c6a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12c4a891b55e4932a29e9393271394fe.html" target="element"> Administrative Simplification
												 </a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb8b342d689440f285e56d131042013b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb8b342d689440f285e56d131042013b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a299d74777942598a56a6ddc1f7c3d9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b023f96e99545c98a211e20db33261f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b023f96e99545c98a211e20db33261f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a299d74777942598a56a6ddc1f7c3d9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6634e29d28d48a0984259aafeb1a131.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6634e29d28d48a0984259aafeb1a131.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-109242e85e864ee08f4ac0f6aa9345e9.html" target="element"> Once Only </a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d7de1cb872346c3b3043d62f9d087ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d7de1cb872346c3b3043d62f9d087ff.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-109242e85e864ee08f4ac0f6aa9345e9.html" target="element"> Once Only </a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc256caafd1044a58c0673a38f1827bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc256caafd1044a58c0673a38f1827bf.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-471f5496dcd549debad7425b1b6f004a.html" target="element"> Proactiveness </a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-015abbc09e054f8e8cd633ac48f86c84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-015abbc09e054f8e8cd633ac48f86c84.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-471f5496dcd549debad7425b1b6f004a.html" target="element"> Proactiveness </a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a92c4b3392a24e9c95e74f61e8a3e72e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a92c4b3392a24e9c95e74f61e8a3e72e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-030f28f5a21b41b9a025e0bb94908053.html" target="element"> Subsidiarity and proportionality </a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7baf1f71793146d9b1067e3aab74afab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7baf1f71793146d9b1067e3aab74afab.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-030f28f5a21b41b9a025e0bb94908053.html" target="element"> Subsidiarity and proportionality </a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4296409bdb8f4acba094bfe47969ffae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4296409bdb8f4acba094bfe47969ffae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-2b40cfb4bcbb4e9ba61701385f8d3fef.html" target="element"> Private BlockChain Governance (permissioned) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e97d6477dcb4d679b8f93d5daf152e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e97d6477dcb4d679b8f93d5daf152e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element"> BlockChain Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-488f75b684514364a62731c28e2fa49f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-488f75b684514364a62731c28e2fa49f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-393cc6b1b13a42fc92176eeee4dcfb07.html" target="element"> Hybrid Blockchain Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8510bd14978d4fb494519156cce98b49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8510bd14978d4fb494519156cce98b49.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-866f38be7f7c4147a7dc5b2f938a4f9c.html" target="element"> BlockChain IoP Agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3069fe9735204ff5a1bf071c390bfde8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3069fe9735204ff5a1bf071c390bfde8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5eb2078b1f8942dabc1dba5d2c4e2f08.html" target="element"> BlockChain Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-36406a79fc644ef29389b67616748e94.html" target="element"> Public BlockChain Governance (permissionless) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-73034a04386348bca8363059aef6652f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-73034a04386348bca8363059aef6652f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-393cc6b1b13a42fc92176eeee4dcfb07.html" target="element"> Hybrid Blockchain Governance </a> </td>
																				<td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element"> BlockChain Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-af114399e99c4e60b8156d3efbf078f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af114399e99c4e60b8156d3efbf078f2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-36406a79fc644ef29389b67616748e94.html" target="element"> Public BlockChain Governance (permissionless) </a> </td>
																				<td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element"> BlockChain Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-81290732fad9463d80ff4c66aea7b279.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81290732fad9463d80ff4c66aea7b279.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b40cfb4bcbb4e9ba61701385f8d3fef.html" target="element"> Private BlockChain Governance (permissioned) </a> </td>
																				<td> <a href="../elements/id-cfa95982642347b798b2b32512c00fcb.html" target="element"> BlockChain Governance </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dc4faf13746c49b98c75a93ab2ec5973.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4faf13746c49b98c75a93ab2ec5973.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9c0d5214b994398974a3483566e71b5.html" target="element"> Identity and Access Management Technical Interoperability Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-585f5f11fb77474683c530b71fc682ff.html" target="element"> Multi-Factor Authentication </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>