<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Technical Agreements</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Technical Agreements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-365f8f13801d480a913a24be5d0aa35f.png" alt="TVA-Health Technical Agreements" usemap="#id-365f8f13801d480a913a24be5d0aa35fmap"/>
			   <map name="id-365f8f13801d480a913a24be5d0aa35fmap">
				  				<area shape="rect" coords="274,970,468,1075" href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html"  target="element">
				  				<area shape="rect" coords="46,970,240,1075" href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html"  target="element">
				  				<area shape="rect" coords="46,1102,240,1207" href="../elements/id-81811cfc83f6401f9d89801b8db73000.html"  target="element">
				  				<area shape="rect" coords="274,838,468,943" href="../elements/id-8657a6c57688496f803c2061003bbfc3.html"  target="element">
				  				<area shape="rect" coords="46,838,240,943" href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html"  target="element">

				  		<area shape="rect" coords="10,802,503,1235" href="../elements/id-ad9461717c024c52b9167f080e9212b2.html"  target="element">
				  				<area shape="rect" coords="850,970,1044,1075" href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html"  target="element">
				  				<area shape="rect" coords="850,838,1044,943" href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html"  target="element">
				  				<area shape="rect" coords="611,970,805,1075" href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html"  target="element">
				  				<area shape="rect" coords="611,838,805,943" href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html"  target="element">

				  		<area shape="rect" coords="538,802,1103,1104" href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html"  target="element">
				  				<area shape="rect" coords="1366,334,1522,418" href="../elements/id-d673929dbd3747b7918806effecba581.html"  target="element">
				  				<area shape="rect" coords="1198,334,1354,418" href="../elements/id-8bb2f821098f43a7962542c962e565d3.html"  target="element">
				  				<area shape="rect" coords="1450,238,1606,322" href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html"  target="element">
				  				<area shape="rect" coords="1282,238,1438,322" href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html"  target="element">
				  				<area shape="rect" coords="1114,238,1270,322" href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html"  target="element">
				  				<area shape="rect" coords="1450,142,1606,226" href="../elements/id-53f194fb228a42208498e15773d9ae77.html"  target="element">
				  				<area shape="rect" coords="1282,142,1438,226" href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html"  target="element">
				  				<area shape="rect" coords="1114,142,1270,226" href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html"  target="element">
				  				<area shape="rect" coords="1450,46,1606,130" href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html"  target="element">
				  				<area shape="rect" coords="1282,46,1438,130" href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html"  target="element">
				  				<area shape="rect" coords="1114,46,1270,130" href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html"  target="element">

				  		<area shape="rect" coords="1090,10,1630,442" href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html"  target="element">
				  				<area shape="rect" coords="1390,499,1558,572" href="../elements/id-d047de58c6284391b08b778860463e71.html"  target="element">
				  				<area shape="rect" coords="1162,499,1330,572" href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html"  target="element">

				  		<area shape="rect" coords="1090,475,1630,595" href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html"  target="element">
				  				<area shape="rect" coords="1270,658,1451,731" href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html"  target="element">

				  		<area shape="rect" coords="1090,622,1631,755" href="../elements/id-477121c6484c4b9b96932e668c743dce.html"  target="element">
				  				<area shape="rect" coords="202,458,359,555" href="../elements/id-028224ee869347ce97b68aa195285826.html"  target="element">
				  				<area shape="rect" coords="202,338,359,435" href="../elements/id-37f88d8b47844aa29f95814a793a102b.html"  target="element">
				  				<area shape="rect" coords="34,458,191,555" href="../elements/id-d3e4d4765b914497bb594d6f3f96c0de.html"  target="element">
				  				<area shape="rect" coords="34,338,191,435" href="../elements/id-87434a1374834a9aabff9204d7626cca.html"  target="element">

				  		<area shape="rect" coords="10,302,383,578" href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html"  target="element">
				  				<area shape="rect" coords="202,166,359,263" href="../elements/id-e3a9f8e66431426d90e1142c5046bcae.html"  target="element">
				  				<area shape="rect" coords="202,46,359,143" href="../elements/id-f639888368d743d68f8c404004fd44a4.html"  target="element">
				  				<area shape="rect" coords="34,166,191,263" href="../elements/id-d11a77d5458843b393ca323beb2269ee.html"  target="element">
				  				<area shape="rect" coords="34,46,191,143" href="../elements/id-fad6d52e1b6644aa8030410f30c952cb.html"  target="element">

				  		<area shape="rect" coords="10,10,383,287" href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html"  target="element">
				  				<area shape="rect" coords="106,630,300,735" href="../elements/id-437883126c534a7c9cbe559c3a7f14bd.html"  target="element">

				  		<area shape="rect" coords="10,594,383,755" href="../elements/id-1116059b8bab4003b43528da15498eee.html"  target="element">
				  		<area shape="rect" coords="634,10,828,115" href="../elements/id-43d257e0e36d4471ab4fd2d8acc47434.html"  target="element">
				  		<area shape="rect" coords="634,614,828,719" href="../elements/id-ac694046bddc423eac5dadde746288c9.html"  target="element">
				  		<area shape="rect" coords="634,250,828,355" href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Technical Agreements view extends Technical view - application and provides a comprehensive framework for leveraging various types of contracts and groupings to ensure technical interoperability and service quality in the health sector. 

The view includes three types of Contract ABBs: Technical Agreement, Technical Interoperability Agreement, and Service Level Agreement. The Technical Agreement formalizes a framework for strategic technological collaboration, while the Technical Interoperability Agreement ensures organizations operate under different technical frameworks. The Service Level Agreement outlines the level of service provided and the metrics used to measure service quality.

The view also includes several Grouping ABBs, each containing multiple Contract SBBs. These groupings represent different areas of technical agreement solutions in the health sector, including Health Technical Interoperability Agreement Solutions, Health Medical Technical Agreement Solutions, Health Data Exchange Technical Agreement Solutions, Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions, Health eDispensation Data Exchange Technical Interoperability Agreement Solutions, Health Patient Summary Technical Interoperability Agreement Solutions, Health Medical Imaging Workflow Data Exchange Technical Interoperability Agreement Solutions, and Health Laboratory Technical Interoperability Agreement Solutions.

Each Grouping ABB contains multiple Contract SBBs that represent specific technical agreements within the grouping's area. For example, the Health Technical Interoperability Agreement Solutions grouping includes the eHealth DSI technical framework (cross-border) Contract SBB. The Health Medical Technical Agreement Solutions grouping includes Contract SBBs such as UMLS - Unified Medical Language System, C-CDA -Clinical documents, Health informatics -- Detailed clinical models, characteristics and processes (ISO/TS 13972), and MeSH - Medical Subject Headings.

Each Contract SBB within a Grouping ABB represents a specific technical agreement that contributes to the overall interoperability and service quality in the grouping's area. For example, the UMLS - Unified Medical Language System Contract SBB in the Health Medical Technical Agreement Solutions grouping represents a specific agreement on the use of the Unified Medical Language System in health medical technology.

In summary, the TVA-Health Technical Agreements view provides a comprehensive framework for leveraging various types of contracts and groupings to ensure technical interoperability and service quality in the health sector. The view's structure and elements facilitate the identification of common interests, policy dialogue, and the necessary tools for strategic technological collaboration.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element"> Technical Agreement </a> </td>
											    <td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
											    <td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43d257e0e36d4471ab4fd2d8acc47434.html" target="element"> Service Level Agreement </a> </td>
											    <td> <a href="../elements/id-43d257e0e36d4471ab4fd2d8acc47434.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1116059b8bab4003b43528da15498eee.html" target="element"> Health Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-1116059b8bab4003b43528da15498eee.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-437883126c534a7c9cbe559c3a7f14bd.html" target="element"> eHealth DSI technical framework (cross-border) </a> </td>
													    <td> <a href="../elements/id-437883126c534a7c9cbe559c3a7f14bd.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fad6d52e1b6644aa8030410f30c952cb.html" target="element"> UMLS - Unified Medical Language System </a> </td>
													    <td> <a href="../elements/id-fad6d52e1b6644aa8030410f30c952cb.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d11a77d5458843b393ca323beb2269ee.html" target="element"> C-CDA -Clinical documents </a> </td>
													    <td> <a href="../elements/id-d11a77d5458843b393ca323beb2269ee.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f639888368d743d68f8c404004fd44a4.html" target="element"> Health informatics -- Detailed clinical models, characteristics and processes (ISO/TS 13972) </a> </td>
													    <td> <a href="../elements/id-f639888368d743d68f8c404004fd44a4.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3a9f8e66431426d90e1142c5046bcae.html" target="element"> MeSH - Medical Subject Headings </a> </td>
													    <td> <a href="../elements/id-e3a9f8e66431426d90e1142c5046bcae.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-87434a1374834a9aabff9204d7626cca.html" target="element"> IHE XD-SD: Cross-Enterprise Sharing of Scanned Documents </a> </td>
													    <td> <a href="../elements/id-87434a1374834a9aabff9204d7626cca.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3e4d4765b914497bb594d6f3f96c0de.html" target="element"> IHE XDS.b: Cross-Enterprise Document Sharing </a> </td>
													    <td> <a href="../elements/id-d3e4d4765b914497bb594d6f3f96c0de.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37f88d8b47844aa29f95814a793a102b.html" target="element"> IHE XDM: Cross-Enterprise Document Media Interchange </a> </td>
													    <td> <a href="../elements/id-37f88d8b47844aa29f95814a793a102b.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-028224ee869347ce97b68aa195285826.html" target="element"> Health Level 7 International - HL7 </a> </td>
													    <td> <a href="../elements/id-028224ee869347ce97b68aa195285826.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element"> IHE SVS: Sharing Value Sets </a> </td>
													    <td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element"> SCRIPT - ePrescription exchange </a> </td>
													    <td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element"> IHE DIS: Pharmacy Dispense </a> </td>
													    <td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element"> IHE PDQ: Patient Demographics Query </a> </td>
													    <td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element"> IHE PIX: Patient Identifier Cross-Referencing </a> </td>
													    <td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element"> PHR-S FM - Personal Health Record System Functional Model </a> </td>
													    <td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element"> IHE XCPD: Cross-Community Patient Discovery </a> </td>
													    <td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element"> IHE XD-MS: Cross-Enterprise Sharing of Medical Summaries Integration Profile </a> </td>
													    <td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element"> IHE BPPC: Basic Patient Privacy Consents </a> </td>
													    <td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element"> IHE PAM: Patient Administration Management </a> </td>
													    <td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element"> IHE PIR: Patient Information Reconciliation </a> </td>
													    <td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element"> CEN/TS 17288 - The International Patient Summary - Guideline for European Implementation </a> </td>
													    <td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element"> Clinical Data Interchange Standards Consortium - CDISC </a> </td>
													    <td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element"> IHE XPHR: Exchange of Personal Health Record Content </a> </td>
													    <td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element"> IHE SWF: Radiology Scheduled Workflow </a> </td>
													    <td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element"> IHE XDS-I.b: Cross-Enterprise Document </a> </td>
													    <td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element"> IHE SWF.b: Radiology Scheduled Workflow </a> </td>
													    <td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element"> DICOM - medical image exchange </a> </td>
													    <td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element"> IHE XD-LAB: Laboratory Reports </a> </td>
													    <td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element"> IHE LWA: Laboratory Analytical Workflow </a> </td>
													    <td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element"> IHE LCSD: Laboratory Code Sets Distribution </a> </td>
													    <td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element"> LOINC - laboratory observation </a> </td>
													    <td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element"> IHE LTW: Laboratory Testing Workflow </a> </td>
													    <td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-54ca8a5cd9df4a1c96ab981062fe1bd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54ca8a5cd9df4a1c96ab981062fe1bd9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element"> Technical Agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9caa16a076f24a22a3886677b61d33db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9caa16a076f24a22a3886677b61d33db.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43d257e0e36d4471ab4fd2d8acc47434.html" target="element"> Service Level Agreement </a> </td>
																		<td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element"> Technical Agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6b970722f42476fa85c23703bfdcdd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6b970722f42476fa85c23703bfdcdd8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1116059b8bab4003b43528da15498eee.html" target="element"> Health Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-437883126c534a7c9cbe559c3a7f14bd.html" target="element"> eHealth DSI technical framework (cross-border) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16d5ef6002374407a1b7dafa1658eefb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16d5ef6002374407a1b7dafa1658eefb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1116059b8bab4003b43528da15498eee.html" target="element"> Health Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9b8d7e6e551d4bcc8ec2bc702ff319d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b8d7e6e551d4bcc8ec2bc702ff319d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d11a77d5458843b393ca323beb2269ee.html" target="element"> C-CDA -Clinical documents </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28f2d054c3c647f68df387e7b4b918f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28f2d054c3c647f68df387e7b4b918f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-f639888368d743d68f8c404004fd44a4.html" target="element"> Health informatics -- Detailed clinical models, characteristics and processes (ISO/TS 13972) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c6d84a1f2b847e38779e0cbe0882eb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c6d84a1f2b847e38779e0cbe0882eb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-e3a9f8e66431426d90e1142c5046bcae.html" target="element"> MeSH - Medical Subject Headings </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7c147ee94384d479fff5d42419246df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7c147ee94384d479fff5d42419246df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-fad6d52e1b6644aa8030410f30c952cb.html" target="element"> UMLS - Unified Medical Language System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4508fa9b567b496a887d2d270b715c2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4508fa9b567b496a887d2d270b715c2f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d4b92f3ebc4429482e84caa4a7c6b1a.html" target="element"> Health Medical Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element"> Technical Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-022f5d942cee4fe0ba739d9fdeedc838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-022f5d942cee4fe0ba739d9fdeedc838.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-37f88d8b47844aa29f95814a793a102b.html" target="element"> IHE XDM: Cross-Enterprise Document Media Interchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f9b306e3edd4667bfb6680887c168c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f9b306e3edd4667bfb6680887c168c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-87434a1374834a9aabff9204d7626cca.html" target="element"> IHE XD-SD: Cross-Enterprise Sharing of Scanned Documents </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c90a0fb8b0a42c59362ab70b93de0b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c90a0fb8b0a42c59362ab70b93de0b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-028224ee869347ce97b68aa195285826.html" target="element"> Health Level 7 International - HL7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55bedd61e69d41bb82f9f0f20af4b9e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55bedd61e69d41bb82f9f0f20af4b9e9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d3e4d4765b914497bb594d6f3f96c0de.html" target="element"> IHE XDS.b: Cross-Enterprise Document Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd69ded9b8af4aef9a179ac12f4ead11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd69ded9b8af4aef9a179ac12f4ead11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31c7ac49945c483c9b8e426dc90c44d6.html" target="element"> Health Data Exchange Technical Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-260cb538b16745fe8b48d5c62225e8ff.html" target="element"> Technical Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2f2c2b50fa704aba9617344806913ff1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f2c2b50fa704aba9617344806913ff1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element"> IHE SVS: Sharing Value Sets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22dde0f8143545ee8b16b682f8216323.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22dde0f8143545ee8b16b682f8216323.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5ac75b200a3a4d268bf4977c6e0f697b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ac75b200a3a4d268bf4977c6e0f697b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-9f1379c54d9d407a858b7f86cf86817e.html" target="element"> SCRIPT - ePrescription exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb640ba22a244a47979429a3f3d22b2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb640ba22a244a47979429a3f3d22b2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d047de58c6284391b08b778860463e71.html" target="element"> IHE DIS: Pharmacy Dispense </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6465a3920ab4d7495291822595376cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6465a3920ab4d7495291822595376cb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f663abc8237d4f8aa9c51377c9ce74b0.html" target="element"> Health eDispensation Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4da4c1e290914652903efd12a103424c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4da4c1e290914652903efd12a103424c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ff9c2358a1334ddd82f27f8f55d3bab7.html" target="element"> IHE PIX: Patient Identifier Cross-Referencing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06551234974e40628a2cbe6c4c6e28f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06551234974e40628a2cbe6c4c6e28f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-a15b0debe8914826a7b7b4f2e5806ad1.html" target="element"> PHR-S FM - Personal Health Record System Functional Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e001199568e74d3aa12353a0ecbe7c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e001199568e74d3aa12353a0ecbe7c90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8584a14a07e640b4b55b61dc6af5b08d.html" target="element"> IHE PAM: Patient Administration Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a6ebba97183491bb6e2a6a198798fa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a6ebba97183491bb6e2a6a198798fa6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ab170cf55c384da4a141d3fe9151cd3c.html" target="element"> IHE PDQ: Patient Demographics Query </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b04e411ddee4136be989a26d025a5c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b04e411ddee4136be989a26d025a5c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-bdeef5c30d4e48938d391861e7b03c25.html" target="element"> CEN/TS 17288 - The International Patient Summary - Guideline for European Implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8c4604535a14ad4b31a2209473811d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8c4604535a14ad4b31a2209473811d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-cce5fc2d5b4240388af8d2d1acb56b06.html" target="element"> IHE PIR: Patient Information Reconciliation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97682f63e6134f2db1eb896e8a45ed42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97682f63e6134f2db1eb896e8a45ed42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-53f194fb228a42208498e15773d9ae77.html" target="element"> IHE BPPC: Basic Patient Privacy Consents </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47d4093b4205481d8b1ca27156f6595c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47d4093b4205481d8b1ca27156f6595c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8bb2f821098f43a7962542c962e565d3.html" target="element"> Clinical Data Interchange Standards Consortium - CDISC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b77199565995404e9ddae53660e186c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b77199565995404e9ddae53660e186c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-49ec7dc7b0eb4cb28b8b15f0c1863264.html" target="element"> IHE XD-MS: Cross-Enterprise Sharing of Medical Summaries Integration Profile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54da4f2b59684b4ab3571525a007cf37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54da4f2b59684b4ab3571525a007cf37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d673929dbd3747b7918806effecba581.html" target="element"> IHE XPHR: Exchange of Personal Health Record Content </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aeccc7e023e948dd84242c3b3e813bc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeccc7e023e948dd84242c3b3e813bc9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-fbe34703b24b426dbece8410b8b27fc8.html" target="element"> IHE XCPD: Cross-Community Patient Discovery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b48d210e56a4d699781518629526837.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b48d210e56a4d699781518629526837.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d739c4c8c664e20867c6dee19cf374d.html" target="element"> Health Patient Summary Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-aa0bea69114c48cda6d8e75243168f83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa0bea69114c48cda6d8e75243168f83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element"> IHE SWF: Radiology Scheduled Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b57834d5738e47529db0cc9a9fc5dfbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b57834d5738e47529db0cc9a9fc5dfbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element"> DICOM - medical image exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73fba1b745db4f968d89790568486d15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73fba1b745db4f968d89790568486d15.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element"> IHE XDS-I.b: Cross-Enterprise Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db34a5405b114e4882f826acc78e8db4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db34a5405b114e4882f826acc78e8db4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element"> IHE SWF.b: Radiology Scheduled Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33ad62fd68fb43a6af9006ccf44fe63b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33ad62fd68fb43a6af9006ccf44fe63b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c9575e7f809443be9136d17ca1b7664d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9575e7f809443be9136d17ca1b7664d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element"> IHE LWA: Laboratory Analytical Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc723cfdf63245eda29414a34889af77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc723cfdf63245eda29414a34889af77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element"> LOINC - laboratory observation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ceec09ea5f948b3920be4afa378631e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ceec09ea5f948b3920be4afa378631e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element"> IHE XD-LAB: Laboratory Reports </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc02aa66a9454801ad6306bcf0c4d127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc02aa66a9454801ad6306bcf0c4d127.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element"> IHE LCSD: Laboratory Code Sets Distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a751939e7f054ddfad0fe05412bd6401.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a751939e7f054ddfad0fe05412bd6401.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element"> IHE LTW: Laboratory Testing Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-756faa830cdd488f88efa91e0418c24a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-756faa830cdd488f88efa91e0418c24a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-ac694046bddc423eac5dadde746288c9.html" target="element"> Technical Interoperability Agreement </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>