<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Health Controlled Vocabularies [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Health Controlled Vocabularies [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-31a7506a78594543b1b34ec277a1985e.png" alt="SV-Health Controlled Vocabularies [Motivation]" usemap="#id-31a7506a78594543b1b34ec277a1985emap"/>
			   <map name="id-31a7506a78594543b1b34ec277a1985emap">
				  				<area shape="rect" coords="46,286,190,358" href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html"  target="element">
				  				<area shape="rect" coords="1066,286,1210,358" href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html"  target="element">
				  				<area shape="rect" coords="610,286,754,358" href="../elements/id-2abb448809e64f84832b6199aa494662.html"  target="element">

				  		<area shape="rect" coords="10,250,1271,383" href="../elements/id-2343519f822549f68814172d7a112d4d.html"  target="element">
				  				<area shape="rect" coords="1042,46,1223,131" href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html"  target="element">
				  				<area shape="rect" coords="838,46,1019,131" href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html"  target="element">
				  				<area shape="rect" coords="646,46,827,131" href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html"  target="element">
				  				<area shape="rect" coords="447,46,628,131" href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html"  target="element">
				  				<area shape="rect" coords="243,46,424,131" href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html"  target="element">
				  				<area shape="rect" coords="39,46,220,131" href="../elements/id-b4abac95073d44e2828c016175541393.html"  target="element">

				  		<area shape="rect" coords="10,10,1271,179" href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Health Controlled Vocabularies [Motivation] view extends the Semantic view and provides a comprehensive framework for leveraging various controlled vocabularies in the health domain.

The view consists of two main groupings: "Health Controlled Vocabulary Solutions" and "Health Business Information Base".

1. Health Controlled Vocabulary Solutions:
   - National specific taxonomy: This is a Data Object ABB (Abbreviation) that represents a taxonomy specific to public service information in a particular country. It consists of term names and labels that are specific to the country's healthcare system.
   - International Classification of Diseases for Oncology: This is a Data Object SBB (Sub-Block) that represents an ontology used for the joint development of ontologies in the field of diseases. It provides a framework for classifying and organizing information related to diseases.
   - Systematised Nomenclature of Medicine (SNOMED): This is a Data Object SBB that represents the SNOMED system, which is a large structured dictionary used in electronic medical record systems. It provides standardized labels for storing information about patients and other healthcare data.
   - International consumer health terminology: This is a Data Object SBB that represents an international dictionary of health terminology. It provides standardized terms and definitions for describing various aspects of consumer health.
   - International Clinical Terminology for Primary Care: This is a Data Object SBB that represents a set of definitions of terms used to describe the process of primary care. It provides standardized terminology for primary care practitioners.
   - Logical Observation Identifiers Names and Codes (LOINC): This is a Data Object SBB that represents a database and universal standard for identifying medical laboratory observations. It provides a standardized way of identifying and exchanging laboratory test results.

2. Health Business Information Base:
   - Diagnosis: This is a Business Object ABB that represents information related to the diagnosis of a patient. It includes details specified by operators, such as symptoms and medical history.
   - Laboratory: This is a Business Object ABB that represents information about laboratory exams performed by a patient in a healthcare facility. It includes data related to various laboratory tests.
   - Hospital Enterprise Resource Planning: This is a Business Object ABB that represents information about the management of hospital resources for the execution of health processes. It includes data related to surgery scheduling, beds availability, consultation scheduling, medication and examination scheduling, and general health facility information.

The motivation behind this view is to provide a comprehensive framework for leveraging various controlled vocabularies and information related to health. By using standardized terminologies and vocabularies, healthcare organizations can ensure interoperability, improve data quality, and enhance communication and collaboration in the health domain.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
											    <td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element"> National specific taxonomy </a> </td>
													    <td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element"> International Classification of Diseases for Oncology </a> </td>
													    <td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element"> Systematised Nomenclature of Medicine (SNOMED) </a> </td>
													    <td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element"> International consumer health terminology </a> </td>
													    <td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element"> International Clinical Terminology for Primary Care  </a> </td>
													    <td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
													    <td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
													    <td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3087be4cf7644929b8bec0a7d7c4aabd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3087be4cf7644929b8bec0a7d7c4aabd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element"> Systematised Nomenclature of Medicine (SNOMED) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdd0c9ecf51a41aabc3b23ef1c323caa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdd0c9ecf51a41aabc3b23ef1c323caa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4aabf37fdcda441688884803f1c89e62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aabf37fdcda441688884803f1c89e62.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element"> National specific taxonomy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9660fc336a8468faf1db0ddc70376d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9660fc336a8468faf1db0ddc70376d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element"> International Classification of Diseases for Oncology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17703abdbc034f5b89e9c3cce27fddcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17703abdbc034f5b89e9c3cce27fddcb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element"> International consumer health terminology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a03c7a8c3974fea81f314859513bb48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a03c7a8c3974fea81f314859513bb48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element"> International Clinical Terminology for Primary Care  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ce35f7e3edda490ab6270ff5ed54735b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce35f7e3edda490ab6270ff5ed54735b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element"> National specific taxonomy </a> </td>
																				<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c54851bea0644269b39493744b7adc65.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c54851bea0644269b39493744b7adc65.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element"> International Classification of Diseases for Oncology </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c60d14e29caf4976a8d1058f69a4c10d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c60d14e29caf4976a8d1058f69a4c10d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element"> Systematised Nomenclature of Medicine (SNOMED) </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-37ae105e1f8b4cb292bb9264cac3e105.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37ae105e1f8b4cb292bb9264cac3e105.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element"> International consumer health terminology </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-420dce9d55274388917e70fcd8613ebd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-420dce9d55274388917e70fcd8613ebd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element"> International Clinical Terminology for Primary Care  </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0c0f75fe76864140974d1b9055790cc3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c0f75fe76864140974d1b9055790cc3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
																				<td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f4ca2b9ff10a48b5831abafd40698bef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4ca2b9ff10a48b5831abafd40698bef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acc019fef5784b5aa36ab6abd6efccde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acc019fef5784b5aa36ab6abd6efccde.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>