<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Trust Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Trust Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4d8489ec43f14aab9004b88973a67e65.png" alt="TVA-Trust Enablers [Motivation]" usemap="#id-4d8489ec43f14aab9004b88973a67e65map"/>
			   <map name="id-4d8489ec43f14aab9004b88973a67e65map">
				  				<area shape="rect" coords="550,46,742,119" href="../elements/id-19f454d1f34d4c8086ca006cf323453b.html"  target="element">

				  		<area shape="rect" coords="526,10,767,143" href="../elements/id-60d18cfd094a483d85c0310709aa77c9.html"  target="element">
				  				<area shape="rect" coords="1558,850,1714,933" href="../elements/id-5d1207cead194755b9245e4e27b2d24c.html"  target="element">
				  				<area shape="rect" coords="1390,850,1546,933" href="../elements/id-a3d328807c81402abddaa48304f26f7a.html"  target="element">

				  		<area shape="rect" coords="1378,814,1727,959" href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html"  target="element">
				  				<area shape="rect" coords="1306,233,1462,316" href="../elements/id-0629e8e469c14f9ca71150712a0a5ad9.html"  target="element">
				  				<area shape="rect" coords="582,490,782,551" href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html"  target="element">
				  				<area shape="rect" coords="798,502,998,563" href="../elements/id-52d8feb05eb34022afd319891c63b698.html"  target="element">
				  				<area shape="rect" coords="1066,502,1258,563" href="../elements/id-0a9232c2b2de4aa79ddf21338a5ff7a4.html"  target="element">
				  						<area shape="rect" coords="1498,538,1654,621" href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html"  target="element">
				  						<area shape="rect" coords="1498,418,1654,501" href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html"  target="element">

				  				<area shape="rect" coords="1462,382,1703,659" href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html"  target="element">
				  				<area shape="rect" coords="802,670,994,755" href="../elements/id-1e047893b4494f59a054665caf4f7510.html"  target="element">
				  				<area shape="rect" coords="1066,322,1258,383" href="../elements/id-35c475cffac546f895a9ea3bed601ba8.html"  target="element">
				  				<area shape="rect" coords="802,322,994,371" href="../elements/id-4ba97f483da045a5820f1871b2ff0f91.html"  target="element">
				  				<area shape="rect" coords="586,394,778,455" href="../elements/id-0c750561156743099ce289e629fd3e53.html"  target="element">
				  				<area shape="rect" coords="586,586,778,635" href="../elements/id-2610dd980d42471f8b962cafda6c2448.html"  target="element">
				  				<area shape="rect" coords="586,322,778,371" href="../elements/id-290355d8642a4a298aab73bf55a7cc06.html"  target="element">
				  				<area shape="rect" coords="802,394,994,455" href="../elements/id-00afc2a178364caea399fb6778c16a80.html"  target="element">
				  				<area shape="rect" coords="1066,586,1258,635" href="../elements/id-294409caee1b46f09b1f7228776de5ea.html"  target="element">
				  				<area shape="rect" coords="1066,406,1258,467" href="../elements/id-087739e013f248d7a8c2feaee196f207.html"  target="element">
				  				<area shape="rect" coords="802,586,994,635" href="../elements/id-14be99397aa84b03b63b2fa48daf335c.html"  target="element">

				  		<area shape="rect" coords="526,214,1727,767" href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html"  target="element">
				  				<area shape="rect" coords="1882,490,2027,575" href="../elements/id-33421870b4374433a173683bd851fbfe.html"  target="element">

				          <area shape="rect" coords="1822,454,2111,622" href="../objects/id-9da5f277471145ac8ad84a684d6e7b1a.html" target="element" >
				  				<area shape="rect" coords="94,491,239,576" href="../elements/id-80cce0779acc4910b038d813ccb0f048.html"  target="element">

				          <area shape="rect" coords="10,443,311,611" href="../objects/id-30ba6d28d5a64ecb812d0872093ddb11.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 

The "Technical view - Application Trust" viewpoint extends technical view application and provides a comprehensive framework for establishing trust and security within digital applications. This view associates the Application Trust with Trust Business Services and Blockchain Business Services from the application layer.
Within this view, Application Trust refers to the measures and mechanisms implemented within digital applications to ensure the integrity, confidentiality, and authenticity of data and transactions. It encompasses security protocols, encryption techniques, and identity management practices to establish trust among users and protect against unauthorized access or tampering.
Trust Business Services leverage the Application Trust framework to enable organizations to build trust with their users, ensure data security, and protect sensitive information within their digital applications. These services provide mechanisms for identity verification, access control, and secure communication, fostering a trusted environment for users to interact with the application.
Blockchain Business Services further enhance trust within digital applications by leveraging blockchain technology. This technology offers a decentralized and immutable ledger that enables transparent and verifiable transactions, ensuring trust without the need for intermediaries. By incorporating blockchain, organizations can enhance the security and trustworthiness of their applications, particularly for activities such as digital asset management and secure data exchange.
By associating the Application Trust with Trust Business Services and Blockchain Business Services, the "Technical view - Application Trust" empowers organizations to establish a secure and trustworthy environment for users within the digital ecosystem.
The use of Application Trust allows organizations to implement robust security measures, protect user data, and ensure privacy and confidentiality. It includes techniques such as encryption, access control, authentication, and digital signatures to safeguard sensitive information and build trust with users.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-30ba6d28d5a64ecb812d0872093ddb11.html" target="element"> Business Agnostic Trust Business Services </a> </td>
									           <td> <a href="../objects/id-30ba6d28d5a64ecb812d0872093ddb11.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
													    <td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9da5f277471145ac8ad84a684d6e7b1a.html" target="element"> Business Agnostic Blockchain Business Service </a> </td>
									           <td> <a href="../objects/id-9da5f277471145ac8ad84a684d6e7b1a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-33421870b4374433a173683bd851fbfe.html" target="element"> Digital Inmutability </a> </td>
													    <td> <a href="../elements/id-33421870b4374433a173683bd851fbfe.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
											    <td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-14be99397aa84b03b63b2fa48daf335c.html" target="element"> e-Seal Preservation </a> </td>
													    <td> <a href="../elements/id-14be99397aa84b03b63b2fa48daf335c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-294409caee1b46f09b1f7228776de5ea.html" target="element"> Registered Electronic Delivery </a> </td>
													    <td> <a href="../elements/id-294409caee1b46f09b1f7228776de5ea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00afc2a178364caea399fb6778c16a80.html" target="element"> e-Seal Verification and Validation </a> </td>
													    <td> <a href="../elements/id-00afc2a178364caea399fb6778c16a80.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-290355d8642a4a298aab73bf55a7cc06.html" target="element"> e-Signature Creation </a> </td>
													    <td> <a href="../elements/id-290355d8642a4a298aab73bf55a7cc06.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c750561156743099ce289e629fd3e53.html" target="element"> e-Signature Verification and Validation </a> </td>
													    <td> <a href="../elements/id-0c750561156743099ce289e629fd3e53.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4ba97f483da045a5820f1871b2ff0f91.html" target="element"> e-Seal Creation </a> </td>
													    <td> <a href="../elements/id-4ba97f483da045a5820f1871b2ff0f91.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35c475cffac546f895a9ea3bed601ba8.html" target="element"> e-Timestamp Creation </a> </td>
													    <td> <a href="../elements/id-35c475cffac546f895a9ea3bed601ba8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element"> Blockchain Enablers </a> </td>
													    <td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html" target="element"> Distributed Ledger </a> </td>
															    <td> <a href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0a9232c2b2de4aa79ddf21338a5ff7a4.html" target="element"> Digital Certification Timestamp  </a> </td>
													    <td> <a href="../elements/id-0a9232c2b2de4aa79ddf21338a5ff7a4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52d8feb05eb34022afd319891c63b698.html" target="element"> Digital Certification eSeal  </a> </td>
													    <td> <a href="../elements/id-52d8feb05eb34022afd319891c63b698.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html" target="element"> Digital Certification eSignature Service </a> </td>
													    <td> <a href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0629e8e469c14f9ca71150712a0a5ad9.html" target="element"> Integrity Verification </a> </td>
													    <td> <a href="../elements/id-0629e8e469c14f9ca71150712a0a5ad9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
											    <td> <a href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a3d328807c81402abddaa48304f26f7a.html" target="element"> Ethereum </a> </td>
													    <td> <a href="../elements/id-a3d328807c81402abddaa48304f26f7a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d1207cead194755b9245e4e27b2d24c.html" target="element"> European Blockchain Services Infrastructure </a> </td>
													    <td> <a href="../elements/id-5d1207cead194755b9245e4e27b2d24c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-60d18cfd094a483d85c0310709aa77c9.html" target="element"> Business Agnostic Trust Solutions </a> </td>
											    <td> <a href="../elements/id-60d18cfd094a483d85c0310709aa77c9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-19f454d1f34d4c8086ca006cf323453b.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
													    <td> <a href="../elements/id-19f454d1f34d4c8086ca006cf323453b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-5f3a485c3f1849bab4a9681715eeb3ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f3a485c3f1849bab4a9681715eeb3ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-0a9232c2b2de4aa79ddf21338a5ff7a4.html" target="element"> Digital Certification Timestamp  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a812a98c1ebd4664a92796e854535e38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a812a98c1ebd4664a92796e854535e38.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html" target="element"> Digital Certification eSignature Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43d4f8d10ee14e6bb7b507d5c5f68f4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43d4f8d10ee14e6bb7b507d5c5f68f4b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-0629e8e469c14f9ca71150712a0a5ad9.html" target="element"> Integrity Verification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b1bf1e68ffa43d4aca0e90b4674c535.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b1bf1e68ffa43d4aca0e90b4674c535.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d9e1cb37e30f4953ac2f0eca73b887a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9e1cb37e30f4953ac2f0eca73b887a3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-290355d8642a4a298aab73bf55a7cc06.html" target="element"> e-Signature Creation </a> </td>
																				<td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-47229fbfac55452195e866a0d606b656.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47229fbfac55452195e866a0d606b656.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
																				<td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-740aa4d76a8e4e91904746decaa528f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-740aa4d76a8e4e91904746decaa528f7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c750561156743099ce289e629fd3e53.html" target="element"> e-Signature Verification and Validation </a> </td>
																				<td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-95cd9f6acb1349a78c3aba120285fa20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95cd9f6acb1349a78c3aba120285fa20.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-290355d8642a4a298aab73bf55a7cc06.html" target="element"> e-Signature Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-feca7242b39543b6ab36961d94798934.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-feca7242b39543b6ab36961d94798934.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-294409caee1b46f09b1f7228776de5ea.html" target="element"> Registered Electronic Delivery </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d582edf7cfae498c86fa8de798f0b392.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d582edf7cfae498c86fa8de798f0b392.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-0c750561156743099ce289e629fd3e53.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a988cfb77e054b7abe6413dca578e507.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a988cfb77e054b7abe6413dca578e507.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-14be99397aa84b03b63b2fa48daf335c.html" target="element"> e-Seal Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7ef34f4b530249f19fdaf428af02013e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ef34f4b530249f19fdaf428af02013e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-35c475cffac546f895a9ea3bed601ba8.html" target="element"> e-Timestamp Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-10bebf0026f94c068091ec5bf3582e52.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-10bebf0026f94c068091ec5bf3582e52.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-0629e8e469c14f9ca71150712a0a5ad9.html" target="element"> Integrity Verification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6937cecfc9e4412bfe67430bc110c18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6937cecfc9e4412bfe67430bc110c18.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-00afc2a178364caea399fb6778c16a80.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cb443af590c473fa14d09bb26170f58.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cb443af590c473fa14d09bb26170f58.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-4ba97f483da045a5820f1871b2ff0f91.html" target="element"> e-Seal Creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-733e46dfc96d49dfb98c505104a74bb2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-733e46dfc96d49dfb98c505104a74bb2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html" target="element"> Blockchain </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e577c7b21bd4d8da841c84e9fe707ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e577c7b21bd4d8da841c84e9fe707ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html" target="element"> Distributed Ledger </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3700e30a7abf41ff991bd4a9a46fcd56.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3700e30a7abf41ff991bd4a9a46fcd56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html" target="element"> Blockchain </a> </td>
																						<td> <a href="../elements/id-33421870b4374433a173683bd851fbfe.html" target="element"> Digital Inmutability </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-71fc79ce42b849bba27601cabb81a62f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-71fc79ce42b849bba27601cabb81a62f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html" target="element"> Distributed Ledger </a> </td>
																						<td> <a href="../elements/id-14d85bcdb67b434d95c53e59c41070d5.html" target="element"> Blockchain </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1c77ab5b9978452cb612d6801e173bbe.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1c77ab5b9978452cb612d6801e173bbe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4bb9cef1fd3542ee90fb6055cd49e7b6.html" target="element"> Distributed Ledger </a> </td>
																						<td> <a href="../elements/id-33421870b4374433a173683bd851fbfe.html" target="element"> Digital Inmutability </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-757b82b2dd544b758628c063684be193.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-757b82b2dd544b758628c063684be193.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a9232c2b2de4aa79ddf21338a5ff7a4.html" target="element"> Digital Certification Timestamp  </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aabddb3d5c034e7383343efc0a51638a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aabddb3d5c034e7383343efc0a51638a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-52d8feb05eb34022afd319891c63b698.html" target="element"> Digital Certification eSeal  </a> </td>
																				<td> <a href="../elements/id-00afc2a178364caea399fb6778c16a80.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-837ad2f8a1c2479fbcced5ffe0d4bde3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-837ad2f8a1c2479fbcced5ffe0d4bde3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html" target="element"> Digital Certification eSignature Service </a> </td>
																				<td> <a href="../elements/id-0c750561156743099ce289e629fd3e53.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0a972b34027640838234af0cea20198c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a972b34027640838234af0cea20198c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f788d4ebd874647a39e635dc75cf770.html" target="element"> Digital Certification eSignature Service </a> </td>
																				<td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-82f29d4ceb224493b47344e35707acc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82f29d4ceb224493b47344e35707acc1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-5d1207cead194755b9245e4e27b2d24c.html" target="element"> European Blockchain Services Infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2116a80876ee40d9b7fefe5276007348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2116a80876ee40d9b7fefe5276007348.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-a3d328807c81402abddaa48304f26f7a.html" target="element"> Ethereum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e3a595643aa4c8b80a0cee5f9ff4996.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e3a595643aa4c8b80a0cee5f9ff4996.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3934b832042f1b8a3d7e90e60882a.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-65cf0c420ab6400b8dbd1ad9ee0dcd41.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-eecd7db252c74e18ad9f1a6b886f078b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eecd7db252c74e18ad9f1a6b886f078b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60d18cfd094a483d85c0310709aa77c9.html" target="element"> Business Agnostic Trust Solutions </a> </td>
																		<td> <a href="../elements/id-19f454d1f34d4c8086ca006cf323453b.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8e2f3da5a4be4b9493872b314b01456a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e2f3da5a4be4b9493872b314b01456a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60d18cfd094a483d85c0310709aa77c9.html" target="element"> Business Agnostic Trust Solutions </a> </td>
																		<td> <a href="../elements/id-13e2bb8b0d7f466aa655afd5b644461b.html" target="element"> Trust Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f193be719262482f881144f8762f3fee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f193be719262482f881144f8762f3fee.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-19f454d1f34d4c8086ca006cf323453b.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
																				<td> <a href="../elements/id-80cce0779acc4910b038d813ccb0f048.html" target="element"> eSignature </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>