<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Laboratory Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Laboratory Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4b8366b522d943939e248689ee3cf627.png" alt="TVA-Health Laboratory Enablers [Motivation]" usemap="#id-4b8366b522d943939e248689ee3cf627map"/>
			   <map name="id-4b8366b522d943939e248689ee3cf627map">
				  				<area shape="rect" coords="394,118,539,173" href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html"  target="element">
				  				<area shape="rect" coords="233,118,378,173" href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html"  target="element">
				  				<area shape="rect" coords="471,46,616,101" href="../elements/id-81811cfc83f6401f9d89801b8db73000.html"  target="element">
				  				<area shape="rect" coords="315,46,460,101" href="../elements/id-8657a6c57688496f803c2061003bbfc3.html"  target="element">
				  				<area shape="rect" coords="154,46,299,101" href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html"  target="element">

				  		<area shape="rect" coords="118,10,659,190" href="../elements/id-ad9461717c024c52b9167f080e9212b2.html"  target="element">
				  				<area shape="rect" coords="658,526,858,606" href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html"  target="element">
				  				<area shape="rect" coords="442,526,642,606" href="../elements/id-031512b65371474db26c4261c4e4f2aa.html"  target="element">

				          <area shape="rect" coords="430,478,875,647" href="../objects/id-0627e763d76d4f9181746871809a91c3.html" target="element" >
				  				<area shape="rect" coords="58,526,191,598" href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html"  target="element">

				          <area shape="rect" coords="10,478,407,647" href="../objects/id-d6d522de70a34321a80a1782887082fa.html" target="element" >
				  				<area shape="rect" coords="478,288,636,348" href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html"  target="element">
				  				<area shape="rect" coords="310,288,468,348" href="../elements/id-387e5469f20747169d4adac43cf32c8d.html"  target="element">
				  				<area shape="rect" coords="142,288,300,348" href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html"  target="element">

				  		<area shape="rect" coords="118,250,659,371" href="../elements/id-9389312c546e4edd8040892f0a90ea96.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Laboratory Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that contribute to the functioning of health laboratories. 

The first element is the "Health Laboratory Enablers" which is a Grouping ABB. This group consists of three Application Service ABBs: "Laboratory Information System (LIS)", "Laboratory Device Automation System (LDAS)", and "Laboratory Barcode Labelling System (LBLS)". These systems provide essential services for the operation of health laboratories, including information management, device automation, and barcode labelling.

The second element is the "eGovERA Health Digital Public Services Catalogue", a Diagram Model-group ABB. This catalogue includes a Business Service ABB named "Laboratory" which enables remote booking of laboratory exams, digital delivery of results, and automatic enrichment of patient Electronic Medical Records (EMRs).

The third element is the "Business Agnostic Digital Public Services Catalogue", another Diagram Model-group ABB. This catalogue includes two Business Service ABBs: "Knowledge Management" and "Data Exchange". These services provide digital public services that are not specific to any business.

The fourth element is the "Health Laboratory Technical Interoperability Agreement Solutions", a Grouping ABB. This group includes five Contract SBBs: "IHE XD-LAB: Laboratory Reports", "IHE LWA: Laboratory Analytical Workflow", "IHE LCSD: Laboratory Code Sets Distribution", "LOINC - laboratory observation", and "IHE LTW: Laboratory Testing Workflow". These contracts provide solutions for technical interoperability in health laboratories.

In summary, the TVA-Health Laboratory Enablers [Motivation] view provides a comprehensive framework for the operation of health laboratories, including information systems, automation systems, barcode labelling systems, digital public services, and technical interoperability solutions. The motivation behind this view is to provide a holistic approach to health laboratory management, ensuring efficient and effective service delivery.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element"> Health Laboratory Enablers </a> </td>
											    <td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element"> Laboratory Information System (LIS) </a> </td>
													    <td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element"> Laboratory Device Automation System (LDAS) </a> </td>
													    <td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element"> Laboratory Barcode Labelling System (LBLS) </a> </td>
													    <td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d6d522de70a34321a80a1782887082fa.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-d6d522de70a34321a80a1782887082fa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html" target="element"> Laboratory </a> </td>
													    <td> <a href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-0627e763d76d4f9181746871809a91c3.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-0627e763d76d4f9181746871809a91c3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element"> IHE XD-LAB: Laboratory Reports </a> </td>
													    <td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element"> IHE LWA: Laboratory Analytical Workflow </a> </td>
													    <td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element"> IHE LCSD: Laboratory Code Sets Distribution </a> </td>
													    <td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element"> LOINC - laboratory observation </a> </td>
													    <td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element"> IHE LTW: Laboratory Testing Workflow </a> </td>
													    <td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-82528e51714d4c35a79760d2d2b9835c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82528e51714d4c35a79760d2d2b9835c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element"> Health Laboratory Enablers </a> </td>
																		<td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element"> Laboratory Information System (LIS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5133045c2fb04126bea646c179025195.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5133045c2fb04126bea646c179025195.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element"> Health Laboratory Enablers </a> </td>
																		<td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element"> Laboratory Barcode Labelling System (LBLS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fb8185c34b54235999151bc4dea16f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fb8185c34b54235999151bc4dea16f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element"> Health Laboratory Enablers </a> </td>
																		<td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element"> Laboratory Device Automation System (LDAS) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-107eeac5687b43c894b7928715f9d36d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-107eeac5687b43c894b7928715f9d36d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element"> Laboratory Information System (LIS) </a> </td>
																				<td> <a href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html" target="element"> Laboratory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7ff0874697294863a762e3ad2a7689ba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ff0874697294863a762e3ad2a7689ba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element"> Laboratory Information System (LIS) </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1785ee05eb01408f907b6aa90efbb462.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1785ee05eb01408f907b6aa90efbb462.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77f9e9537e4b4145a5efbe39293b322c.html" target="element"> Laboratory Information System (LIS) </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f83f7478f3724733a8e803963109b9e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f83f7478f3724733a8e803963109b9e6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element"> Laboratory Device Automation System (LDAS) </a> </td>
																				<td> <a href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html" target="element"> Laboratory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1983577d9b4044fda539cfffb18986e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1983577d9b4044fda539cfffb18986e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element"> Laboratory Device Automation System (LDAS) </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a96e2e7f5e0349dfac14ee4eca2b13b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a96e2e7f5e0349dfac14ee4eca2b13b9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-387e5469f20747169d4adac43cf32c8d.html" target="element"> Laboratory Device Automation System (LDAS) </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d0d02feb44fb4a76bde5c575997019f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d0d02feb44fb4a76bde5c575997019f8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element"> Laboratory Barcode Labelling System (LBLS) </a> </td>
																				<td> <a href="../elements/id-34e6a40ac6034afcba23f38edecae3f8.html" target="element"> Laboratory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-774ef6cd9ce4440ebe722b5337a52110.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-774ef6cd9ce4440ebe722b5337a52110.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element"> Laboratory Barcode Labelling System (LBLS) </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3b8d6f4d3d1340ea8b8092084360a9cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b8d6f4d3d1340ea8b8092084360a9cf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c17aba0573b74d3e976d280e76730f9c.html" target="element"> Laboratory Barcode Labelling System (LBLS) </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-c9575e7f809443be9136d17ca1b7664d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9575e7f809443be9136d17ca1b7664d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8657a6c57688496f803c2061003bbfc3.html" target="element"> IHE LWA: Laboratory Analytical Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ceec09ea5f948b3920be4afa378631e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ceec09ea5f948b3920be4afa378631e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-cef95c06e2c841c1820269edeb88ae00.html" target="element"> IHE XD-LAB: Laboratory Reports </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc723cfdf63245eda29414a34889af77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc723cfdf63245eda29414a34889af77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8653e5874f3244a39d2d38e85f86cd54.html" target="element"> LOINC - laboratory observation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc02aa66a9454801ad6306bcf0c4d127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc02aa66a9454801ad6306bcf0c4d127.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-81811cfc83f6401f9d89801b8db73000.html" target="element"> IHE LCSD: Laboratory Code Sets Distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a751939e7f054ddfad0fe05412bd6401.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a751939e7f054ddfad0fe05412bd6401.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-1d8061eb8ec748619e1bf3b05e39a24b.html" target="element"> IHE LTW: Laboratory Testing Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f21fc94f8a2431f880e595482d50ca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f21fc94f8a2431f880e595482d50ca6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9461717c024c52b9167f080e9212b2.html" target="element"> Health Laboratory Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-9389312c546e4edd8040892f0a90ea96.html" target="element"> Health Laboratory Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>