<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Controlled Vocabulary [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Controlled Vocabulary [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5cd161ae7adc445c9b3baa70c19d652b.png" alt="SV-Controlled Vocabulary [Motivation]" usemap="#id-5cd161ae7adc445c9b3baa70c19d652bmap"/>
			   <map name="id-5cd161ae7adc445c9b3baa70c19d652bmap">
				  				<area shape="rect" coords="514,493,695,578" href="../elements/id-b4abac95073d44e2828c016175541393.html"  target="element">

				  		<area shape="rect" coords="478,457,731,602" href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html"  target="element">
				  				<area shape="rect" coords="963,434,1144,519" href="../views/id-31a7506a78594543b1b34ec277a1985e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1371,542,1552,627" href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html"  target="element">
				  				<area shape="rect" coords="1167,542,1348,627" href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html"  target="element">
				  				<area shape="rect" coords="963,542,1144,627" href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html"  target="element">
				  				<area shape="rect" coords="1371,434,1552,519" href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html"  target="element">
				  				<area shape="rect" coords="1167,434,1348,519" href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html"  target="element">

				  		<area shape="rect" coords="934,398,1582,662" href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html"  target="element">
				  		<area shape="rect" coords="145,490,345,570" href="../elements/id-8f0317ddcac8400cbd9aa39712880f98.html"  target="element">
				  				<area shape="rect" coords="618,226,818,306" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">
				  				<area shape="rect" coords="618,106,818,186" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">

				          <area shape="rect" coords="558,10,870,406" href="../objects/id-d998225f13ff40f2bfdf478f98cf20b1.html" target="element" >
				  				<area shape="rect" coords="34,238,234,318" href="../elements/id-3aaf7841f66a437bace46890a8ddddc4.html"  target="element">
				  				<area shape="rect" coords="250,142,450,222" href="../elements/id-39a0b76df1664f1d84a3f16bae8927dc.html"  target="element">
				  				<area shape="rect" coords="250,46,450,126" href="../elements/id-41f27a8b9f9d4892ad13fedb515265d1.html"  target="element">
				  				<area shape="rect" coords="34,142,234,222" href="../elements/id-892c43864f7843b98589022339248d7a.html"  target="element">
				  				<area shape="rect" coords="34,46,234,126" href="../elements/id-0cfeb5d2154342ea940075fd9cbcf666.html"  target="element">

				  		<area shape="rect" coords="10,10,479,406" href="../elements/id-c852506b3377498582c14dcbc88d63f6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Controlled Vocabulary [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging controlled vocabulary solutions in a business-agnostic manner. This view is composed of three main elements: Business Agnostic Controlled Vocabulary Solutions, Business Agnostic Business Information Base, and Controlled Vocabulary.

The Business Agnostic Controlled Vocabulary Solutions is a Grouping ABB that encompasses several Data Object SBBs. These include eGovernment Core Vocabularies, Core Assessment Vocabulary, Core Standards and Specifications Vocabulary, W3C Profiles Vocabulary, and EuroVoc. Each of these data objects represents a specific set of vocabularies or standards used for information exchange, assessment, and description of various data entities in a context-neutral manner. For instance, the eGovernment Core Vocabularies are simplified, reusable, and extensible data models that capture the fundamental characteristics of a data entity. Similarly, the Core Assessment Vocabulary defines what an 'Assessment' of 'assets' is and how to perform the assessment based on 'Criteria'. 

The Business Agnostic Business Information Base is a Diagram Model-group ABB that includes two Business Object ABBs: Data Quality and Availability. These objects represent the quality and availability of the business information, respectively.

The Controlled Vocabulary is a Data Object ABB that enables a carefully curated set of terms used to describe concepts or objects in a specific field or domain. It is a standardized list of terms that are used to ensure consistency and accuracy in the indexing, searching, and retrieval of information.

The motivation behind this view is to provide a comprehensive and standardized framework for the use of controlled vocabularies in a business-agnostic manner. This ensures consistency and accuracy in the description, indexing, and retrieval of information across different business domains. It also facilitates the exchange of information and interoperability among various software solutions.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
											    <td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0cfeb5d2154342ea940075fd9cbcf666.html" target="element"> eGovernment Core Vocabularies </a> </td>
													    <td> <a href="../elements/id-0cfeb5d2154342ea940075fd9cbcf666.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-892c43864f7843b98589022339248d7a.html" target="element"> Core Assessment Vocabulary </a> </td>
													    <td> <a href="../elements/id-892c43864f7843b98589022339248d7a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41f27a8b9f9d4892ad13fedb515265d1.html" target="element"> Core Standards and Specifications Vocabulary </a> </td>
													    <td> <a href="../elements/id-41f27a8b9f9d4892ad13fedb515265d1.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-39a0b76df1664f1d84a3f16bae8927dc.html" target="element"> W3C Profiles Vocabulary </a> </td>
													    <td> <a href="../elements/id-39a0b76df1664f1d84a3f16bae8927dc.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3aaf7841f66a437bace46890a8ddddc4.html" target="element"> EuroVoc </a> </td>
													    <td> <a href="../elements/id-3aaf7841f66a437bace46890a8ddddc4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d998225f13ff40f2bfdf478f98cf20b1.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-d998225f13ff40f2bfdf478f98cf20b1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f0317ddcac8400cbd9aa39712880f98.html" target="element"> Controlled Vocabulary </a> </td>
											    <td> <a href="../elements/id-8f0317ddcac8400cbd9aa39712880f98.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
											    <td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element"> International Classification of Diseases for Oncology </a> </td>
													    <td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element"> Systematised Nomenclature of Medicine (SNOMED) </a> </td>
													    <td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element"> International consumer health terminology </a> </td>
													    <td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element"> International Clinical Terminology for Primary Care  </a> </td>
													    <td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-31a7506a78594543b1b34ec277a1985e.html" target="view"> SV-Health Controlled Vocabularies [Motivation] </a> </td>
													    <td> <a href="../views/id-31a7506a78594543b1b34ec277a1985e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html" target="element"> Health Controlled Vocabulary Catalogue </a> </td>
											    <td> <a href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element"> National specific taxonomy </a> </td>
													    <td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d11d11abdf2a4454a269ad097946c2c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d11d11abdf2a4454a269ad097946c2c1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-3aaf7841f66a437bace46890a8ddddc4.html" target="element"> EuroVoc </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b38f7619309b4987904fdc6e2dbeef7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b38f7619309b4987904fdc6e2dbeef7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-39a0b76df1664f1d84a3f16bae8927dc.html" target="element"> W3C Profiles Vocabulary </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48baff89e8d146adab2b2dbb3128f8a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48baff89e8d146adab2b2dbb3128f8a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-41f27a8b9f9d4892ad13fedb515265d1.html" target="element"> Core Standards and Specifications Vocabulary </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3809ba9a02f4ad58c4f5913409ccaad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3809ba9a02f4ad58c4f5913409ccaad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-892c43864f7843b98589022339248d7a.html" target="element"> Core Assessment Vocabulary </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-560a8aed276a4fd5b598e5870365c1fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-560a8aed276a4fd5b598e5870365c1fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-0cfeb5d2154342ea940075fd9cbcf666.html" target="element"> eGovernment Core Vocabularies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fd5897ced32480295301bac99faebd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fd5897ced32480295301bac99faebd4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39645f293a8f47c69e78acdb2cbd2d97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39645f293a8f47c69e78acdb2cbd2d97.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97e5f698e2d443758e1be9e799bee5c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97e5f698e2d443758e1be9e799bee5c0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c852506b3377498582c14dcbc88d63f6.html" target="element"> Business Agnostic Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-8f0317ddcac8400cbd9aa39712880f98.html" target="element"> Controlled Vocabulary </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-3a03c7a8c3974fea81f314859513bb48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a03c7a8c3974fea81f314859513bb48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-4bf49ebc29654a18b57b236196f0746c.html" target="element"> International Clinical Terminology for Primary Care  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3087be4cf7644929b8bec0a7d7c4aabd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3087be4cf7644929b8bec0a7d7c4aabd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-a89100b03fc74371810f2702d0ea49e5.html" target="element"> Systematised Nomenclature of Medicine (SNOMED) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e76e1f6e7ee4b4dbc5b9481f5629d10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e76e1f6e7ee4b4dbc5b9481f5629d10.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html" target="element"> Health Controlled Vocabulary Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17703abdbc034f5b89e9c3cce27fddcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17703abdbc034f5b89e9c3cce27fddcb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-44c8f12dffd34b7dbcb0371f743a6055.html" target="element"> International consumer health terminology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9660fc336a8468faf1db0ddc70376d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9660fc336a8468faf1db0ddc70376d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b176e7dfbdac43399aa27feda028cd92.html" target="element"> Health Controlled Vocabulary Solutions </a> </td>
																		<td> <a href="../elements/id-8bf5fa128f1049f7bfb4f1a7130f812e.html" target="element"> International Classification of Diseases for Oncology </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-deace4d2c5d6444c990c9052a33a5b17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-deace4d2c5d6444c990c9052a33a5b17.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html" target="element"> Health Controlled Vocabulary Catalogue </a> </td>
																		<td> <a href="../elements/id-b4abac95073d44e2828c016175541393.html" target="element"> National specific taxonomy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a5276b1a16c42209995aedb18ac7ce5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a5276b1a16c42209995aedb18ac7ce5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a7dff94d7aa435ca8d95fbe3edaf655.html" target="element"> Health Controlled Vocabulary Catalogue </a> </td>
																		<td> <a href="../elements/id-8f0317ddcac8400cbd9aa39712880f98.html" target="element"> Controlled Vocabulary </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>