<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Data Space Policies and Contracts [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Data Space Policies and Contracts [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5e519d795bf14556a2911768c31058dd.png" alt="SV-Data Space Policies and Contracts [Motivation]" usemap="#id-5e519d795bf14556a2911768c31058ddmap"/>
			   <map name="id-5e519d795bf14556a2911768c31058ddmap">
				  				<area shape="rect" coords="562,394,762,474" href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html"  target="element">
				  				<area shape="rect" coords="562,310,762,390" href="../elements/id-096f42862a6a4c6292e6760c8b0368d4.html"  target="element">
				  				<area shape="rect" coords="562,226,762,306" href="../elements/id-77182844d5184d6ba1ff7074e8e76346.html"  target="element">
				  				<area shape="rect" coords="562,142,762,222" href="../elements/id-29ebbe99e202481c9ec699837a477041.html"  target="element">
				  				<area shape="rect" coords="562,46,762,126" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">

				          <area shape="rect" coords="538,10,790,503" href="../objects/id-b74a9c85d4dd4515837d46ecc7522a49.html" target="element" >
				  				<area shape="rect" coords="46,190,246,270" href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html"  target="element">
				  				<area shape="rect" coords="46,317,246,397" href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html"  target="element">

				  		<area shape="rect" coords="10,142,287,421" href="../elements/id-50f613d597b44302910befe6da82f5d2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Data Space Policies and Contracts [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the elements of Data Space Policies and Contracts and Business Agnostic Business Information Base. 

The Data Space Policies and Contracts is a Grouping ABB that serves as a catalogue for the elements it contains. This catalogue includes two Data Object ABBs: Data Policy and Data Contract. The Data Policy is a standalone element with no sub-elements, and it represents the policies that govern the data in the data space. The Data Contract, also a standalone element, represents the contracts that dictate the terms and conditions of data usage within the data space.

The Business Agnostic Business Information Base is a Diagram Model-group ABB that contains a collection of Business Object ABBs. These objects include Availability, Digital Asset, Credential, Access rights, and Transaction. Each of these elements represents different types of information that are business-agnostic, meaning they are not specific to any one business or industry. 

The Availability object represents information about the availability of data or services. The Digital Asset object represents information about digital assets, which could include digital files, software, or other digital resources. The Credential object represents information about credentials, which could include usernames, passwords, or other forms of identification. The Access rights object represents information about access rights, which dictate who can access certain data or services. Lastly, the Transaction object represents information about transactions, which could include financial transactions, data transactions, or other types of exchanges.

The relationships between these elements are not explicitly defined in the JSON, but it can be inferred that the Data Space Policies and Contracts catalogue governs the data represented by the Business Object ABBs in the Business Agnostic Business Information Base. This governance could include setting policies for how the data is used (Data Policy) and establishing contracts for data usage (Data Contract). The motivation behind this structure is to provide a comprehensive framework for managing data in a way that is not specific to any one business or industry, allowing for flexibility and adaptability.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
											    <td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
													    <td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
													    <td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b74a9c85d4dd4515837d46ecc7522a49.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-b74a9c85d4dd4515837d46ecc7522a49.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element"> Digital Asset </a> </td>
													    <td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77182844d5184d6ba1ff7074e8e76346.html" target="element"> Credential </a> </td>
													    <td> <a href="../elements/id-77182844d5184d6ba1ff7074e8e76346.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-096f42862a6a4c6292e6760c8b0368d4.html" target="element"> Access rights </a> </td>
													    <td> <a href="../elements/id-096f42862a6a4c6292e6760c8b0368d4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element"> Transaction </a> </td>
													    <td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-988b8faadeff42f98c46c12fae96a3ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-988b8faadeff42f98c46c12fae96a3ab.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b065400fc7549c98e5c21d1f352ffe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b065400fc7549c98e5c21d1f352ffe1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c1477751f5444be84722db01316390c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c1477751f5444be84722db01316390c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb76893c65e047fcaafb1014c53c95bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb76893c65e047fcaafb1014c53c95bb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element"> Digital Asset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f24616fdfd04f6c8221520026994332.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f24616fdfd04f6c8221520026994332.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-77182844d5184d6ba1ff7074e8e76346.html" target="element"> Credential </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdc0842fe59542e6913cf57d0b96ec2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdc0842fe59542e6913cf57d0b96ec2a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-096f42862a6a4c6292e6760c8b0368d4.html" target="element"> Access rights </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd9b43931a2e4d19ac0c311cb9a06bde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd9b43931a2e4d19ac0c311cb9a06bde.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50f613d597b44302910befe6da82f5d2.html" target="element"> Data Space Policies and Contracts </a> </td>
																		<td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element"> Transaction </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e282f8b825134b2bafb2c87601afd6e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e282f8b825134b2bafb2c87601afd6e8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
																				<td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>