<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Dataspace Enablers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Dataspace Enablers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5e6e19ac3e84493c946d7d47f092263f.png" alt="TVA-Dataspace Enablers" usemap="#id-5e6e19ac3e84493c946d7d47f092263fmap"/>
			   <map name="id-5e6e19ac3e84493c946d7d47f092263fmap">
				  		<area shape="rect" coords="958,1003,1096,1076" href="../views/id-1f145ca13a1a4bfd81c41a3682defd3a.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="1767,871,1905,944" href="../elements/id-58e4b63f43c143208689813c68ec29e8.html"  target="element">
				  				<area shape="rect" coords="1767,787,1905,860" href="../elements/id-02ac0b26aac440349a7c0039bb5b9e77.html"  target="element">

				          <area shape="rect" coords="1743,751,1931,968" href="../objects/id-43e3c7ff11184da3add69ac1f29b05bc.html" target="element" >
				  		<area shape="rect" coords="1536,10,1674,83" href="../views/id-aa6acd4ec6a1496eaa604b682aa49921.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2134,511,2272,584" href="../views/id-f032ccb4d849446e9e4756f656dc7301.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1743,10,1881,83" href="../views/id-2515c243bd024ed4bc6ccb581118c398.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1335,10,1473,83" href="../views/id-e398fc77ca6a4b5393735c368c8252b6.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1042,10,1200,83" href="../views/id-8aa47a22ea524143bc11a7871b0bebee.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="758,10,916,83" href="../views/id-1ccedae3ca5447409e053ae02502a328.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,523,168,596" href="../views/id-f032ccb4d849446e9e4756f656dc7301.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,10,504,83" href="../views/id-f49cf33f84914f1988f928da52b7c3ab.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1140,1003,1278,1076" href="../views/id-5e7c112cd37c4a39bb6ded7eae8e0ad0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="478,343,616,416" href="../elements/id-12b0f273de644500aa60e7605190c22e.html"  target="element">
				  		<area shape="rect" coords="292,463,430,536" href="../elements/id-382cad75317e453b88bbc07c887278f0.html"  target="element">
				  		<area shape="rect" coords="478,463,616,536" href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html"  target="element">
				  		<area shape="rect" coords="292,223,430,296" href="../elements/id-01a63969f4fa4234904ce0448cd62222.html"  target="element">
				  		<area shape="rect" coords="478,223,616,296" href="../elements/id-39236274a02f4815b945651611a3bfef.html"  target="element">
				  						<area shape="rect" coords="1043,799,1181,872" href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html"  target="element">

				  		        <area shape="rect" coords="743,751,1499,919" href="../objects/id-534d338cfdb94f518758406876eea72d.html" target="element" >
				  						<area shape="rect" coords="1246,631,1384,704" href="../elements/id-093792e509514d8aaae02eb0644e2d46.html"  target="element">
				  						<area shape="rect" coords="838,631,976,704" href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html"  target="element">
				  						<area shape="rect" coords="1054,511,1192,584" href="../elements/id-2338e2f79c164403a44b5294503a6c35.html"  target="element">

				  				<area shape="rect" coords="742,463,1499,728" href="../elements/id-30ada046619245549194201b0281dcb6.html"  target="element">

				  		<area shape="rect" coords="706,427,1535,968" href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html"  target="element">
				  						<area shape="rect" coords="452,727,590,800" href="../elements/id-32c36624af334afca489704b3a8bac2b.html"  target="element">

				  		        <area shape="rect" coords="429,703,622,824" href="../objects/id-66370de9c1e840f38faf01b3fff751dd.html" target="element" >
				  				<area shape="rect" coords="457,595,595,668" href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html"  target="element">
				  				<area shape="rect" coords="250,727,388,800" href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html"  target="element">
				  				<area shape="rect" coords="250,595,388,668" href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html"  target="element">

				          <area shape="rect" coords="226,571,635,860" href="../objects/id-c5a62c81702d47408b8e9140fa2d5379.html" target="element" >
				          <area shape="rect" coords="226,331,634,559" href="../objects/id-de13fd95fd1d4d53b82f412a12e9c910.html" target="element" >
				          <area shape="rect" coords="226,187,634,319" href="../objects/id-0792412b77544a3e8adf0de9c5ea0ecb.html" target="element" >
				  				<area shape="rect" coords="765,264,903,337" href="../elements/id-ab74715b611140e583ae01eb6d5d1035.html"  target="element">

				          <area shape="rect" coords="741,230,933,361" href="../objects/id-2554126bd38c44e88ce322e0678d3010.html" target="element" >
				  				<area shape="rect" coords="1053,271,1191,344" href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html"  target="element">
				  				<area shape="rect" coords="1125,151,1263,224" href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html"  target="element">
				  				<area shape="rect" coords="969,151,1107,224" href="../elements/id-2dc77b5400454012848dda9f7edd4407.html"  target="element">

				          <area shape="rect" coords="945,127,1297,361" href="../objects/id-641301023a0f4de39604bf1a346ee3a7.html" target="element" >
				  				<area shape="rect" coords="1332,264,1470,337" href="../elements/id-0e70c52d523045a4a18807d8188350aa.html"  target="element">

				          <area shape="rect" coords="1308,240,1500,360" href="../objects/id-7864ebc94a494e80a4f949b7faab3024.html" target="element" >
				  				<area shape="rect" coords="1533,264,1671,337" href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html"  target="element">

				          <area shape="rect" coords="1509,240,1701,360" href="../objects/id-fbffab305a604098a2e35ae2efb35887.html" target="element" >
				  				<area shape="rect" coords="1740,264,1878,337" href="../elements/id-01d83d7949e74dacbfe99fce758c6d25.html"  target="element">

				          <area shape="rect" coords="1716,240,1908,360" href="../objects/id-92e1f368d5654cb58a51a731f814abd9.html" target="element" >
				  				<area shape="rect" coords="1767,643,1905,716" href="../elements/id-188ac069ac6643c29423a1d0a9bc3f17.html"  target="element">
				  				<area shape="rect" coords="1923,643,2061,716" href="../elements/id-6f2643817ae94a6986062a98d631e3b4.html"  target="element">
				  				<area shape="rect" coords="1767,511,1905,584" href="../elements/id-7142e738699348dba2acb36865b01c20.html"  target="element">

				          <area shape="rect" coords="1743,475,2087,740" href="../objects/id-c1f3c479a1a24ef2b36dafc42a64e0cf.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The [TVA-Dataspace Enablers] view extends technical view application and provides a comprehensive framework for leveraging various elements and their relationships to enable data integration, management, and usage. This view is composed of several Diagram Model-group ABBs, each containing multiple Application Service ABBs, and a Grouping ABB named [Dataspace Enablers].

The [App Store / Extensions / User Workflows] group includes three services: [Data Integration], [Data Integration Plugins Manager], and [Data Extraction, Transformation and Loading]. These services facilitate the process of combining data from multiple sources into a unified view, managing plugins within a data integration system, and extracting, transforming, and loading data into a target data store.

The [Event Driven / NRT] group contains the [Message Broker] service, which acts as an intermediary for asynchronous message-based communication between different applications.

The [Vocabulary Management] group includes the [Vocabulary Hub] service, a centralized repository for managing and providing access to a wide range of vocabularies or terminologies.

The [Trust] group contains the [Privacy] service, which enables functionalities such as storing, securing, anonymising, pseudonymising, rectifying and erasing personal data.

The [Identity Provider] group includes three services: [Centralized Identity Management], [Decentralized Identity Management], and [Identity Management]. These services manage and control user identities and access rights in both centralized and decentralized manners.

The [Monitoring] group contains the [Observability] service, which provides insights into the internal state and behavior of a system by analyzing its external outputs.

The [Dataspace Enablers] group includes the [Dataspace], [Dataspace Connector], [Dataspace Connector Provider], and [Dataspace Connector Consumer] services. These services support the creation and management of a dataspace, a virtual space for integrating, transforming, and making available data.

The [Contract Negotiation] group includes the [Data Contract], [Data Policy], and [Data Governance] services, which manage the availability, usability, integrity, and security of data within an organization.

The [Service Discovery and Registry], [Service Registry], [Data Catalogue Management], [Dataset Catalogue], and [Federated Data Catalogue Management] services enable the implementation of public digital services, organize metadata about data assets, and manage data catalogues.

The [Data Analytics and Quality] group includes the [Data Analytics] and [Data Quality] services, which analyze data and ensure its accuracy, completeness, consistency, and up-to-dateness.

The view also includes several Archimate Diagram-model ABBs that represent the motivation behind various elements, and Diagram Model-connection ABBs that represent the relationships between these elements.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c1f3c479a1a24ef2b36dafc42a64e0cf.html" target="element"> App Store / Extensions / User Workflows </a> </td>
									           <td> <a href="../objects/id-c1f3c479a1a24ef2b36dafc42a64e0cf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-7142e738699348dba2acb36865b01c20.html" target="element"> Data Integration </a> </td>
													    <td> <a href="../elements/id-7142e738699348dba2acb36865b01c20.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f2643817ae94a6986062a98d631e3b4.html" target="element"> Data Integration Plugins Manager </a> </td>
													    <td> <a href="../elements/id-6f2643817ae94a6986062a98d631e3b4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-188ac069ac6643c29423a1d0a9bc3f17.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
													    <td> <a href="../elements/id-188ac069ac6643c29423a1d0a9bc3f17.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-92e1f368d5654cb58a51a731f814abd9.html" target="element"> Event Driven / NRT </a> </td>
									           <td> <a href="../objects/id-92e1f368d5654cb58a51a731f814abd9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-01d83d7949e74dacbfe99fce758c6d25.html" target="element"> Message Broker </a> </td>
													    <td> <a href="../elements/id-01d83d7949e74dacbfe99fce758c6d25.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-fbffab305a604098a2e35ae2efb35887.html" target="element"> Vocabulary Management </a> </td>
									           <td> <a href="../objects/id-fbffab305a604098a2e35ae2efb35887.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element"> Vocabulary Hub </a> </td>
													    <td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7864ebc94a494e80a4f949b7faab3024.html" target="element"> Trust </a> </td>
									           <td> <a href="../objects/id-7864ebc94a494e80a4f949b7faab3024.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-641301023a0f4de39604bf1a346ee3a7.html" target="element"> Identity Provider </a> </td>
									           <td> <a href="../objects/id-641301023a0f4de39604bf1a346ee3a7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element"> Centralized Identity Management </a> </td>
													    <td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element"> Decentralized Identity Management </a> </td>
													    <td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
													    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2554126bd38c44e88ce322e0678d3010.html" target="element"> Monitoring </a> </td>
									           <td> <a href="../objects/id-2554126bd38c44e88ce322e0678d3010.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-ab74715b611140e583ae01eb6d5d1035.html" target="element"> Observability </a> </td>
													    <td> <a href="../elements/id-ab74715b611140e583ae01eb6d5d1035.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-0792412b77544a3e8adf0de9c5ea0ecb.html" target="element"> Connectors Registry / App Store </a> </td>
									           <td> <a href="../objects/id-0792412b77544a3e8adf0de9c5ea0ecb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-de13fd95fd1d4d53b82f412a12e9c910.html" target="element"> Catalogin </a> </td>
									           <td> <a href="../objects/id-de13fd95fd1d4d53b82f412a12e9c910.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c5a62c81702d47408b8e9140fa2d5379.html" target="element"> Contract Negotiation </a> </td>
									           <td> <a href="../objects/id-c5a62c81702d47408b8e9140fa2d5379.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
													    <td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
													    <td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html" target="element"> Data Governance </a> </td>
													    <td> <a href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-66370de9c1e840f38faf01b3fff751dd.html" target="element"> Policy Engine </a> </td>
											           <td> <a href="../objects/id-66370de9c1e840f38faf01b3fff751dd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-32c36624af334afca489704b3a8bac2b.html" target="element"> Data Policy Engine </a> </td>
															    <td> <a href="../elements/id-32c36624af334afca489704b3a8bac2b.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
															    <td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element"> Dataspace Connector Provider </a> </td>
															    <td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element"> Dataspace Connector Consumer </a> </td>
															    <td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-534d338cfdb94f518758406876eea72d.html" target="element"> Data Transfer </a> </td>
											           <td> <a href="../objects/id-534d338cfdb94f518758406876eea72d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
															    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-39236274a02f4815b945651611a3bfef.html" target="element"> Service Discovery and Registry </a> </td>
											    <td> <a href="../elements/id-39236274a02f4815b945651611a3bfef.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01a63969f4fa4234904ce0448cd62222.html" target="element"> Service Registry </a> </td>
											    <td> <a href="../elements/id-01a63969f4fa4234904ce0448cd62222.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html" target="element"> Data Catalogue Management </a> </td>
											    <td> <a href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12b0f273de644500aa60e7605190c22e.html" target="element"> Federated Data Catalogue Management </a> </td>
											    <td> <a href="../elements/id-12b0f273de644500aa60e7605190c22e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-5e7c112cd37c4a39bb6ded7eae8e0ad0.html" target="view"> TVA-Data Space Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-5e7c112cd37c4a39bb6ded7eae8e0ad0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-f49cf33f84914f1988f928da52b7c3ab.html" target="view"> TVA-API Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-f49cf33f84914f1988f928da52b7c3ab.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-f032ccb4d849446e9e4756f656dc7301.html" target="view"> TVA-Data Management Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-f032ccb4d849446e9e4756f656dc7301.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-1ccedae3ca5447409e053ae02502a328.html" target="view"> TVA-Observability and Monitoring Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-1ccedae3ca5447409e053ae02502a328.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-8aa47a22ea524143bc11a7871b0bebee.html" target="view"> TVA-Identification and Access Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-8aa47a22ea524143bc11a7871b0bebee.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-e398fc77ca6a4b5393735c368c8252b6.html" target="view"> TVA-Privacy Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-e398fc77ca6a4b5393735c368c8252b6.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2515c243bd024ed4bc6ccb581118c398.html" target="view"> TVA-Messaging Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-2515c243bd024ed4bc6ccb581118c398.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-f032ccb4d849446e9e4756f656dc7301.html" target="view"> TVA-Data Management Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-f032ccb4d849446e9e4756f656dc7301.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-aa6acd4ec6a1496eaa604b682aa49921.html" target="view"> TVA-Knowledge Discovery Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-aa6acd4ec6a1496eaa604b682aa49921.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-43e3c7ff11184da3add69ac1f29b05bc.html" target="element"> Data Analytics and Quality </a> </td>
									           <td> <a href="../objects/id-43e3c7ff11184da3add69ac1f29b05bc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-02ac0b26aac440349a7c0039bb5b9e77.html" target="element"> Data Analytics </a> </td>
													    <td> <a href="../elements/id-02ac0b26aac440349a7c0039bb5b9e77.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58e4b63f43c143208689813c68ec29e8.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-58e4b63f43c143208689813c68ec29e8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-1f145ca13a1a4bfd81c41a3682defd3a.html" target="view"> TVA-Health Data Space Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-1f145ca13a1a4bfd81c41a3682defd3a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-24506857f1814dfdae67416b808fd5d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24506857f1814dfdae67416b808fd5d7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7142e738699348dba2acb36865b01c20.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-6f2643817ae94a6986062a98d631e3b4.html" target="element"> Data Integration Plugins Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d8bfc28d79a6451eb1069834ea5b70a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d8bfc28d79a6451eb1069834ea5b70a5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7142e738699348dba2acb36865b01c20.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-188ac069ac6643c29423a1d0a9bc3f17.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-8d33a2de28484fadb8d6968d486849b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d33a2de28484fadb8d6968d486849b3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element"> Centralized Identity Management </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1f1fefa180934afdb49bdff90b12b311.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f1fefa180934afdb49bdff90b12b311.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element"> Decentralized Identity Management </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-e282f8b825134b2bafb2c87601afd6e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e282f8b825134b2bafb2c87601afd6e8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
																				<td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7f7df9e50efc459c9698386cc1ebfeb8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f7df9e50efc459c9698386cc1ebfeb8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-32c36624af334afca489704b3a8bac2b.html" target="element"> Data Policy Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f1c58c825db947e686579f62417342fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1c58c825db947e686579f62417342fc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-013f08ff38014ec9971b085c38a9f33a.html" target="element"> Data Contract </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-eadb211618bf499f981c06f9554cd2a0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-eadb211618bf499f981c06f9554cd2a0.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-32c36624af334afca489704b3a8bac2b.html" target="element"> Data Policy Engine </a> </td>
																						<td> <a href="../elements/id-1277c12be34a4e1590eb1d116fcb7a81.html" target="element"> Data Policy </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-b5d8c638f32443cd963542e2b375ddc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5d8c638f32443cd963542e2b375ddc1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0bb1eaf9069a4b2cb0336b48d5d823b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0bb1eaf9069a4b2cb0336b48d5d823b0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0d1cad67c9af49789b152e3762bee0b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d1cad67c9af49789b152e3762bee0b0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element"> Dataspace Connector Provider </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1b6438f05425421092ee8b56a33e60dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b6438f05425421092ee8b56a33e60dd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element"> Dataspace Connector Consumer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-22f466df5276433f8041e88177065171.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-22f466df5276433f8041e88177065171.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-39236274a02f4815b945651611a3bfef.html" target="element"> Service Discovery and Registry </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2df583626b84ed29258ae3c514c2a22.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2df583626b84ed29258ae3c514c2a22.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-12b0f273de644500aa60e7605190c22e.html" target="element"> Federated Data Catalogue Management </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-fd28c8ad562040bb8879603641201da6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fd28c8ad562040bb8879603641201da6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html" target="element"> Data Catalogue Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-76f95c873e014b94ae9a7b19f9cb127f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-76f95c873e014b94ae9a7b19f9cb127f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-02ac0b26aac440349a7c0039bb5b9e77.html" target="element"> Data Analytics </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5b4cdd7529c2480ead74e45ff96b0139.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5b4cdd7529c2480ead74e45ff96b0139.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-58e4b63f43c143208689813c68ec29e8.html" target="element"> Data Quality </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-8e4d5881e78d4ae4ad368fdf3c2fc1e1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8e4d5881e78d4ae4ad368fdf3c2fc1e1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-131478bda73e4bdea61ebb4147cb91a3.html" target="element"> Data Governance </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9e1b02ba1ac840a2a5beaedd73bdc223.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9e1b02ba1ac840a2a5beaedd73bdc223.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-7142e738699348dba2acb36865b01c20.html" target="element"> Data Integration </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-477f4eea97a744d89a346c64bb686ff2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-477f4eea97a744d89a346c64bb686ff2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-01d83d7949e74dacbfe99fce758c6d25.html" target="element"> Message Broker </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-acd0e74e72094eb5b35f6d7b7205e900.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-acd0e74e72094eb5b35f6d7b7205e900.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element"> Vocabulary Hub </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0a3ba660b7a349dd848f6b01bc9a44ee.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0a3ba660b7a349dd848f6b01bc9a44ee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-6939bc83d31c4a0886089a878e618461.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6939bc83d31c4a0886089a878e618461.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1baaa43e8e0e44d481c5d2090298bf63.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1baaa43e8e0e44d481c5d2090298bf63.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-ab74715b611140e583ae01eb6d5d1035.html" target="element"> Observability </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-c47f6c0e8f7d4c4cb194b4c5d6236d74.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c47f6c0e8f7d4c4cb194b4c5d6236d74.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-8ddb3c8894414a7292ba4ffba35ad77d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8ddb3c8894414a7292ba4ffba35ad77d.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c4e350465fca4c3ab10608c1a0f0539b.html" target="element"> data transmission </a> </td>
																						<td> <a href="../elements/id-c4e350465fca4c3ab10608c1a0f0539b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-193416d6f60a47ddb537c13a61f9d79a.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element"> Dataspace Connector Consumer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-c50d8583505744578005b52b6e8f80c1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c50d8583505744578005b52b6e8f80c1.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element"> Dataspace Connector Consumer </a> </td>
																						<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-15bf184f9ed94951a7874175f2b68db2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-15bf184f9ed94951a7874175f2b68db2.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-093792e509514d8aaae02eb0644e2d46.html" target="element"> Dataspace Connector Consumer </a> </td>
																						<td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
																	<tr>
																		<td> <a href="../elements/id-3d856d1020db4a0683078cc6fe121805.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d856d1020db4a0683078cc6fe121805.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39236274a02f4815b945651611a3bfef.html" target="element"> Service Discovery and Registry </a> </td>
																		<td> <a href="../elements/id-01a63969f4fa4234904ce0448cd62222.html" target="element"> Service Registry </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ea4314e0384f450282c7ad1d2ee2a7ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea4314e0384f450282c7ad1d2ee2a7ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html" target="element"> Data Catalogue Management </a> </td>
																		<td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-859cb38a74c2414dbb8838e8363e94c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-859cb38a74c2414dbb8838e8363e94c7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12b0f273de644500aa60e7605190c22e.html" target="element"> Federated Data Catalogue Management </a> </td>
																		<td> <a href="../elements/id-03ee21b3201d493cae6f197761a6e2df.html" target="element"> Data Catalogue Management </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>