<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Space Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Space Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5e7c112cd37c4a39bb6ded7eae8e0ad0.png" alt="TVA-Data Space Enablers [Motivation]" usemap="#id-5e7c112cd37c4a39bb6ded7eae8e0ad0map"/>
			   <map name="id-5e7c112cd37c4a39bb6ded7eae8e0ad0map">
				  				<area shape="rect" coords="406,514,606,594" href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html"  target="element">

				  		<area shape="rect" coords="370,478,647,623" href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html"  target="element">
				  				<area shape="rect" coords="1294,70,1451,155" href="../elements/id-d76aa26d49a644b5b8355c048a0451fa.html"  target="element">
				  				<area shape="rect" coords="946,226,1103,311" href="../elements/id-d3b9e62ac758411487d312e3d6048ff2.html"  target="element">
				  				<area shape="rect" coords="778,226,935,311" href="../elements/id-8ca48bf3e92343a099b661370260d92f.html"  target="element">
				  				<area shape="rect" coords="1114,226,1271,311" href="../elements/id-1c0127fe3af847d1a53950b0ea982457.html"  target="element">
				  				<area shape="rect" coords="1114,70,1271,155" href="../elements/id-4e5e8e8c231441ee81cd478efc1c6875.html"  target="element">
				  				<area shape="rect" coords="862,70,1019,155" href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html"  target="element">

				  		<area shape="rect" coords="754,34,1481,347" href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html"  target="element">
				  				<area shape="rect" coords="94,214,239,294" href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html"  target="element">
				  				<area shape="rect" coords="94,94,239,174" href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html"  target="element">

				  		<area shape="rect" coords="10,10,323,395" href="../elements/id-018fee6e2f83479987dfb1f628339425.html"  target="element">
				  				<area shape="rect" coords="442,214,580,287" href="../elements/id-2338e2f79c164403a44b5294503a6c35.html"  target="element">
				  				<area shape="rect" coords="442,94,580,167" href="../elements/id-30ada046619245549194201b0281dcb6.html"  target="element">

				  		<area shape="rect" coords="382,10,635,395" href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 

The [Technical view - Application Data Spaces -Motivation] extends the [Technical view - application] and offers a comprehensive framework to ensure traceability between elements in the Business Layer and those in the Application Layer.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-018fee6e2f83479987dfb1f628339425.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
											    <td> <a href="../elements/id-018fee6e2f83479987dfb1f628339425.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
													    <td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
													    <td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
											    <td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html" target="element"> Eclipse Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e5e8e8c231441ee81cd478efc1c6875.html" target="element"> International Data Space Connector </a> </td>
													    <td> <a href="../elements/id-4e5e8e8c231441ee81cd478efc1c6875.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c0127fe3af847d1a53950b0ea982457.html" target="element"> FIWARE TRUE Connector </a> </td>
													    <td> <a href="../elements/id-1c0127fe3af847d1a53950b0ea982457.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ca48bf3e92343a099b661370260d92f.html" target="element"> Sovity Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-8ca48bf3e92343a099b661370260d92f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3b9e62ac758411487d312e3d6048ff2.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
													    <td> <a href="../elements/id-d3b9e62ac758411487d312e3d6048ff2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d76aa26d49a644b5b8355c048a0451fa.html" target="element"> Fraunhofer AISEC Trusted Connector </a> </td>
													    <td> <a href="../elements/id-d76aa26d49a644b5b8355c048a0451fa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element"> Heatlh Data Space Enablers </a> </td>
											    <td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element"> EHDS2 Node </a> </td>
													    <td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b5d8c638f32443cd963542e2b375ddc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5d8c638f32443cd963542e2b375ddc1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d66e72f4d12647aebe828738ba34b95f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d66e72f4d12647aebe828738ba34b95f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0bb1eaf9069a4b2cb0336b48d5d823b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0bb1eaf9069a4b2cb0336b48d5d823b0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31cb1dd772124bf3a1646e00ed08df73.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31cb1dd772124bf3a1646e00ed08df73.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30ada046619245549194201b0281dcb6.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a8689e50a7e94ca39c5b7b7e6db916b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8689e50a7e94ca39c5b7b7e6db916b9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2338e2f79c164403a44b5294503a6c35.html" target="element"> Dataspace Connector </a> </td>
																				<td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-05c448530eb341e59b700df106679eb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05c448530eb341e59b700df106679eb4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018fee6e2f83479987dfb1f628339425.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
																		<td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74903d7dbb4f4338aae411992d3ca980.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74903d7dbb4f4338aae411992d3ca980.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-018fee6e2f83479987dfb1f628339425.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
																		<td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b31d4de629a74ba3a061a9411b86e65f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b31d4de629a74ba3a061a9411b86e65f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b88b06d3603407ea5fc5ea780b76da6.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-3f06d280bf614ed2aed040393099e8c9.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f0781fd15df44b45ad1494ec5a4c5d42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0781fd15df44b45ad1494ec5a4c5d42.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html" target="element"> Eclipse Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7218150800414d5e8d92e812d4d71afc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7218150800414d5e8d92e812d4d71afc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-1c0127fe3af847d1a53950b0ea982457.html" target="element"> FIWARE TRUE Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d28bcca8dda453a80e16cde3cd8fef5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d28bcca8dda453a80e16cde3cd8fef5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-d76aa26d49a644b5b8355c048a0451fa.html" target="element"> Fraunhofer AISEC Trusted Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b7b3faa90b942cbabe8d2f1f7443991.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b7b3faa90b942cbabe8d2f1f7443991.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-4e5e8e8c231441ee81cd478efc1c6875.html" target="element"> International Data Space Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff114618c0814a33a6fb7ebe2732d392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff114618c0814a33a6fb7ebe2732d392.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-8ca48bf3e92343a099b661370260d92f.html" target="element"> Sovity Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0eff2fb672a46d5b14f49b499eea346.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0eff2fb672a46d5b14f49b499eea346.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-d3b9e62ac758411487d312e3d6048ff2.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d4c725556ad4c8395fe4c7ae06cd9b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d4c725556ad4c8395fe4c7ae06cd9b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bfe292ce7aac40de826f7f5d215cfd99.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d6bcbfb9ba784c34907932b348a5bbf8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6bcbfb9ba784c34907932b348a5bbf8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1c0127fe3af847d1a53950b0ea982457.html" target="element"> FIWARE TRUE Connector </a> </td>
																				<td> <a href="../elements/id-4e5e8e8c231441ee81cd478efc1c6875.html" target="element"> International Data Space Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a8580d4df1704a2ca051881318561d54.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8580d4df1704a2ca051881318561d54.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ca48bf3e92343a099b661370260d92f.html" target="element"> Sovity Dataspace Connector </a> </td>
																				<td> <a href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html" target="element"> Eclipse Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-02f54168cd0e4f758317a1056b9c9e2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-02f54168cd0e4f758317a1056b9c9e2f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d3b9e62ac758411487d312e3d6048ff2.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
																				<td> <a href="../elements/id-c3adef06392e4daaa8bddff8d9d8765c.html" target="element"> Eclipse Dataspace Connector </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-05fe1095dbbb471183d4a5c54f80a6b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05fe1095dbbb471183d4a5c54f80a6b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element"> Heatlh Data Space Enablers </a> </td>
																		<td> <a href="../elements/id-487ff82891084f69b4f2b08b1dc0601a.html" target="element"> EHDS2 Node </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c559af169a9a49a5b7067d33b9bb4634.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c559af169a9a49a5b7067d33b9bb4634.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25b62a49dec7434bb3a1f969281343b8.html" target="element"> Heatlh Data Space Enablers </a> </td>
																		<td> <a href="../elements/id-38c8bf90145b42a0aae7381441a56b15.html" target="element"> Dataspace Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>