<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Healt Governance Architecture Principles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Healt Governance Architecture Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-68f01eab1e3e4d88905496a1335a998f.png" alt="SV-Healt Governance Architecture Principles" usemap="#id-68f01eab1e3e4d88905496a1335a998fmap"/>
			   <map name="id-68f01eab1e3e4d88905496a1335a998fmap">
				  				<area shape="rect" coords="34,274,214,370" href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html"  target="element">
				  				<area shape="rect" coords="226,166,406,262" href="../elements/id-7f89d14b02cb4550a82a54477091325c.html"  target="element">
				  				<area shape="rect" coords="34,166,214,262" href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html"  target="element">

				  		<area shape="rect" coords="10,130,434,394" href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html"  target="element">
				  				<area shape="rect" coords="1651,214,1831,310" href="../elements/id-74d32f781e6b4f309dccc1b46d0219e3.html"  target="element">

				  		<area shape="rect" coords="1615,178,1868,346" href="../elements/id-9907fc4cfb864ef6a1d62d22f209ae8c.html"  target="element">
				  		<area shape="rect" coords="1510,454,1760,529" href="../elements/id-0524b31d0cb94b0a99119aaa0567cdd6.html"  target="element">
				  		<area shape="rect" coords="1246,454,1496,529" href="../elements/id-64c1483aaa36441e9b527a40418428cd.html"  target="element">
				  		<area shape="rect" coords="551,10,801,85" href="../elements/id-8d641458671f45a29f2de110eeddb441.html"  target="element">
				  		<area shape="rect" coords="682,454,932,529" href="../elements/id-1262152d329e4f91ab5933502eee3214.html"  target="element">
				  		<area shape="rect" coords="970,454,1220,529" href="../elements/id-5c0143530b9540509357f82f5d2bbebf.html"  target="element">
				  		<area shape="rect" coords="397,454,647,529" href="../elements/id-349192b760444dfbb0756fb32d9cc462.html"  target="element">
				  		<area shape="rect" coords="1366,10,1616,85" href="../elements/id-9abe5cc039254500be33ac46614304b7.html"  target="element">
				  		<area shape="rect" coords="1102,10,1352,85" href="../elements/id-13629894a1cb4aba8db01741a8539a6b.html"  target="element">
				  		<area shape="rect" coords="838,10,1088,85" href="../elements/id-43a6df8b879642109f9b2664a3501d75.html"  target="element">
				  				<area shape="rect" coords="1294,214,1474,310" href="../elements/id-288cf548c5434882b98ab3ebd1b46cb6.html"  target="element">
				  				<area shape="rect" coords="1090,214,1270,310" href="../elements/id-13402d35fd604a3b8e0b4ebb377c584e.html"  target="element">
				  				<area shape="rect" coords="886,214,1066,310" href="../elements/id-e81fa0abe690430c8479624546253407.html"  target="element">

				  		<area shape="rect" coords="850,178,1511,346" href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html"  target="element">
				  				<area shape="rect" coords="586,214,766,310" href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html"  target="element">

				  		<area shape="rect" coords="550,178,803,346" href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Health Governance Architecture Principles view extends the Semantic view and provides a comprehensive framework for leveraging governance principles in the healthcare domain. It consists of several elements and their relationships, as described below:

1. Health Semantic Agreement Catalogue (Grouping ABB):
   - Description: This element represents a catalog of semantic agreements related to healthcare.
   - Elements:
     - Imaging exchange format (Contract ABB):
       - Description: This semantic agreement defines the methods and format for sharing medical images between national and European public administrations.

2. Health Data Policy Catalogue (Grouping ABB):
   - Description: This element represents a catalog of data policies related to healthcare.
   - Elements:
     - Code of conduct for secondary use of health data (Business Object ABB):
       - Description: This data policy defines the code of conduct for Member States in managing and processing genetic, biometric, or health data for research or statistical purposes.
     - Data policy on diagnosis (Business Object ABB):
       - Description: This data policy defines the rules and guidelines for the definition of databases related to Diagnosis.
     - Data policy on patient summary (Business Object ABB):
       - Description: This data policy defines the rules and guidelines for the definition of databases related to Patient Summary.

3. Security by Design (Principle SBB):
   - Description: This principle emphasizes the importance of incorporating security measures into the design of healthcare systems.

4. Trust (Principle SBB):
   - Description: This principle highlights the need for establishing trust in the healthcare ecosystem, ensuring the reliability and integrity of data and systems.

5. Privacy (Principle SBB):
   - Description: This principle focuses on protecting the privacy of individuals' health data and ensuring compliance with privacy regulations.

6. Data Interoperability (Principle SBB):
   - Description: This principle promotes the seamless exchange and interoperability of healthcare data across different systems and organizations.

7. Data Reusability (Principle SBB):
   - Description: This principle encourages the design of healthcare data in a way that enables its reuse for various purposes, such as research and analytics.

8. Data Portability (Principle SBB):
   - Description: This principle emphasizes the ability to transfer healthcare data between different systems and platforms, ensuring data portability.

9. Data Sovereignty (Principle SBB):
   - Description: This principle asserts the control and ownership of healthcare data by the respective data owners, ensuring compliance with legal and regulatory requirements.

10. Data Findability (Principle SBB):
    - Description: This principle focuses on making healthcare data easily discoverable and accessible to authorized users.

11. Accessibility (Principle SBB):
    - Description: This principle emphasizes the importance of ensuring equal access to healthcare data and services for all individuals.

12. Health Data Policy Solutions (Grouping ABB):
    - Description: This element represents a collection of solutions related to health data policies.
    - Elements:
      - European ePrescription guidelines for electronic exchange (Business Object SBB):
        - Description: These guidelines support Member States in developing the interoperability of ePrescriptions.

13. Health Semantic Agreement Solutions (Grouping ABB):
    - Description: This element represents a collection of solutions related to health semantic agreements.
    - Elements:
      - OMOP Common Data Model (Contract SBB):
        - Description: This semantic agreement allows for the systematic analysis of disparate observational databases.
      - FAIR Guiding Principles for scientific data management and stewardship (Contract SBB):
        - Description: This semantic agreement defines the standards and guidelines for the management of data, enabling computational systems to find, access, interoperate, and reuse data with minimal human intervention.
      - eHealth Digital Service Infrastructure (eHDSI) semantic framework (Contract SBB):
        - Description: This semantic agreement represents the framework for cross-border health data exchange, enabling healthcare semantic experts to co-create and evolve crucial assets for semantic interoperability in cross-border eHealth services.

These elements and their relationships form the SV-Health Governance Architecture Principles view, which provides a structured approach to governance in the healthcare domain, ensuring the alignment of principles, policies, and solutions for effective and secure healthcare data management and interoperability.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element"> Imaging exchange format </a> </td>
													    <td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
											    <td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e81fa0abe690430c8479624546253407.html" target="element"> Code of conduct for secondary use of health data </a> </td>
													    <td> <a href="../elements/id-e81fa0abe690430c8479624546253407.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13402d35fd604a3b8e0b4ebb377c584e.html" target="element"> Data policy on diagnosis </a> </td>
													    <td> <a href="../elements/id-13402d35fd604a3b8e0b4ebb377c584e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-288cf548c5434882b98ab3ebd1b46cb6.html" target="element"> Data policy on patient summary </a> </td>
													    <td> <a href="../elements/id-288cf548c5434882b98ab3ebd1b46cb6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-43a6df8b879642109f9b2664a3501d75.html" target="element"> Security by Design </a> </td>
											    <td> <a href="../elements/id-43a6df8b879642109f9b2664a3501d75.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13629894a1cb4aba8db01741a8539a6b.html" target="element"> Trust </a> </td>
											    <td> <a href="../elements/id-13629894a1cb4aba8db01741a8539a6b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9abe5cc039254500be33ac46614304b7.html" target="element"> Privacy </a> </td>
											    <td> <a href="../elements/id-9abe5cc039254500be33ac46614304b7.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-349192b760444dfbb0756fb32d9cc462.html" target="element"> Data Interoperability </a> </td>
											    <td> <a href="../elements/id-349192b760444dfbb0756fb32d9cc462.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c0143530b9540509357f82f5d2bbebf.html" target="element"> Data Reusability </a> </td>
											    <td> <a href="../elements/id-5c0143530b9540509357f82f5d2bbebf.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1262152d329e4f91ab5933502eee3214.html" target="element"> Data Portability </a> </td>
											    <td> <a href="../elements/id-1262152d329e4f91ab5933502eee3214.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d641458671f45a29f2de110eeddb441.html" target="element"> Data Sovereignty </a> </td>
											    <td> <a href="../elements/id-8d641458671f45a29f2de110eeddb441.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64c1483aaa36441e9b527a40418428cd.html" target="element"> Data Findability </a> </td>
											    <td> <a href="../elements/id-64c1483aaa36441e9b527a40418428cd.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0524b31d0cb94b0a99119aaa0567cdd6.html" target="element"> Accessibility </a> </td>
											    <td> <a href="../elements/id-0524b31d0cb94b0a99119aaa0567cdd6.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9907fc4cfb864ef6a1d62d22f209ae8c.html" target="element"> Health Data Policy Solutions </a> </td>
											    <td> <a href="../elements/id-9907fc4cfb864ef6a1d62d22f209ae8c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-74d32f781e6b4f309dccc1b46d0219e3.html" target="element"> European ePrescription guidelines for electronic exchange </a> </td>
													    <td> <a href="../elements/id-74d32f781e6b4f309dccc1b46d0219e3.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element"> OMOP Common Data Model </a> </td>
													    <td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element"> FAIR Guiding Principles for scientific data management and stewardship </a> </td>
													    <td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element"> eHealth Digtal Service infrastructure (eHDSI) semantic framework </a> </td>
													    <td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3f7ac764c95b4fe4840716c588ffa3e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f7ac764c95b4fe4840716c588ffa3e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element"> Imaging exchange format </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f02d1e90ee9e445584e5144b6d042d2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f02d1e90ee9e445584e5144b6d042d2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-e81fa0abe690430c8479624546253407.html" target="element"> Code of conduct for secondary use of health data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12474dee420449589c40efba6f36610d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12474dee420449589c40efba6f36610d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-13402d35fd604a3b8e0b4ebb377c584e.html" target="element"> Data policy on diagnosis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10bbf8d0036b46498b0cba072b6a29bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10bbf8d0036b46498b0cba072b6a29bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-288cf548c5434882b98ab3ebd1b46cb6.html" target="element"> Data policy on patient summary </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c845866719ab494f87bb8510ff46b19b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c845866719ab494f87bb8510ff46b19b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43a6df8b879642109f9b2664a3501d75.html" target="element"> Security by Design </a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d2e79a38f8f847f294fec74762874cca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2e79a38f8f847f294fec74762874cca.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13629894a1cb4aba8db01741a8539a6b.html" target="element"> Trust </a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a52b4648e77842799d757267c2c9278a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a52b4648e77842799d757267c2c9278a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9abe5cc039254500be33ac46614304b7.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-655329cf8991428cab3a5ae52ab80dee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-655329cf8991428cab3a5ae52ab80dee.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-349192b760444dfbb0756fb32d9cc462.html" target="element"> Data Interoperability </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8bc3a8ee3c6c4e9b8f47da24a7dfc2bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bc3a8ee3c6c4e9b8f47da24a7dfc2bd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c0143530b9540509357f82f5d2bbebf.html" target="element"> Data Reusability </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4655ff8e29fd4647a1581ba2efbe4f99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4655ff8e29fd4647a1581ba2efbe4f99.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1262152d329e4f91ab5933502eee3214.html" target="element"> Data Portability </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6fbc76d79b73448a852091e088a22397.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fbc76d79b73448a852091e088a22397.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d641458671f45a29f2de110eeddb441.html" target="element"> Data Sovereignty </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e8dd9130a034849be2e20029a1a6423.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e8dd9130a034849be2e20029a1a6423.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d641458671f45a29f2de110eeddb441.html" target="element"> Data Sovereignty </a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-360bd65bdd774dd39e772db71eb9a900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-360bd65bdd774dd39e772db71eb9a900.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-64c1483aaa36441e9b527a40418428cd.html" target="element"> Data Findability </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6267e48a5479492795b865fa0b70b892.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6267e48a5479492795b865fa0b70b892.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0524b31d0cb94b0a99119aaa0567cdd6.html" target="element"> Accessibility </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-89cbb55d87044d7fa526b17cc0cf8ef1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89cbb55d87044d7fa526b17cc0cf8ef1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9907fc4cfb864ef6a1d62d22f209ae8c.html" target="element"> Health Data Policy Solutions </a> </td>
																		<td> <a href="../elements/id-f779ffb5e86a4faaa7e29704dc91f550.html" target="element"> Health Data Policy Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d24141d6a6b480b85cc7290cad9aa59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d24141d6a6b480b85cc7290cad9aa59.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9907fc4cfb864ef6a1d62d22f209ae8c.html" target="element"> Health Data Policy Solutions </a> </td>
																		<td> <a href="../elements/id-74d32f781e6b4f309dccc1b46d0219e3.html" target="element"> European ePrescription guidelines for electronic exchange </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8020b6e35cd74cd3bfba9a098a29cf19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8020b6e35cd74cd3bfba9a098a29cf19.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element"> OMOP Common Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de3c5ae7917547f39314de236f0673e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de3c5ae7917547f39314de236f0673e2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element"> FAIR Guiding Principles for scientific data management and stewardship </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71c7abe1ab754b96a8c050bcb823e052.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71c7abe1ab754b96a8c050bcb823e052.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element"> eHealth Digtal Service infrastructure (eHDSI) semantic framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59906d1df4ac4ca1a1b1e7c58aa6749f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59906d1df4ac4ca1a1b1e7c58aa6749f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>