<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Ontology [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Ontology [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6f23a85e6b464af1a84e7c081965ae8e.png" alt="SV-Ontology [Motivation]" usemap="#id-6f23a85e6b464af1a84e7c081965ae8emap"/>
			   <map name="id-6f23a85e6b464af1a84e7c081965ae8emap">
				  				<area shape="rect" coords="874,523,1091,620" href="../elements/id-81fbfb5ccd364ffebf265a2bcaaccc77.html"  target="element">
				  				<area shape="rect" coords="634,523,851,620" href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html"  target="element">
				  				<area shape="rect" coords="214,523,431,620" href="../elements/id-2abb448809e64f84832b6199aa494662.html"  target="element">

				  		<area shape="rect" coords="10,487,1103,655" href="../elements/id-2343519f822549f68814172d7a112d4d.html"  target="element">
				  				<area shape="rect" coords="886,201,1067,286" href="../elements/id-b2834f02cf45494885637011efbc4730.html"  target="element">
				  				<area shape="rect" coords="238,201,419,286" href="../elements/id-3d6d1b6857c3418a98f4c7dd502954eb.html"  target="element">
				  				<area shape="rect" coords="442,201,623,286" href="../elements/id-8985d0ffa3e94b1b8a28abd1f708008c.html"  target="element">
				  				<area shape="rect" coords="646,201,827,286" href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html"  target="element">
				  				<area shape="rect" coords="34,201,215,286" href="../elements/id-498166098d674d7cb6350b9c015f0c65.html"  target="element">

				  		<area shape="rect" coords="10,153,1103,322" href="../elements/id-397a30cee79e430fb79a110d98422a67.html"  target="element">
				  				<area shape="rect" coords="1810,523,2027,620" href="../elements/id-535700ebdedd43b68912aac75f08bc03.html"  target="element">
				  				<area shape="rect" coords="1570,523,1787,620" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">
				  				<area shape="rect" coords="2050,523,2267,620" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">

				          <area shape="rect" coords="1534,487,2303,655" href="../objects/id-1667126a51a942d6bf7dc365b0ca3ef1.html" target="element" >
				  		<area shape="rect" coords="1246,190,1434,285" href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html"  target="element">
				  		<area shape="rect" coords="1246,10,1434,105" href="../elements/id-4bfa8807df8c48aa9d89af41bb67f296.html"  target="element">
				  				<area shape="rect" coords="2218,199,2406,294" href="../elements/id-2e6355b17f3548dc920a1b6e95f66ac7.html"  target="element">
				  				<area shape="rect" coords="2422,199,2610,294" href="../elements/id-03c95055ca4841a98758d7439f96c096.html"  target="element">

				  		<area shape="rect" coords="2182,152,2639,333" href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html"  target="element">
				  		<area shape="rect" coords="1240,408,1440,488" href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html"  target="element">
				  				<area shape="rect" coords="1870,298,2018,370" href="../elements/id-6b2afc7b1e114f8eb181ffbd4c41b0fb.html"  target="element">
				  				<area shape="rect" coords="1713,298,1861,370" href="../elements/id-34d28f10f9b043b39a677d51dcd9d3e8.html"  target="element">
				  				<area shape="rect" coords="1557,298,1705,370" href="../elements/id-839f799aec9048958921160c61da5e74.html"  target="element">
				  				<area shape="rect" coords="1870,213,2018,285" href="../elements/id-66404cf004c94faabf3b397ca2df09e9.html"  target="element">
				  				<area shape="rect" coords="1870,128,2018,200" href="../elements/id-48b4a4cda253479489cba37f112a83e8.html"  target="element">
				  				<area shape="rect" coords="1713,213,1861,285" href="../elements/id-48b682bc789a4178846c7467aa347b63.html"  target="element">
				  				<area shape="rect" coords="1557,128,1705,200" href="../elements/id-35a1ec612f62486095c52a9fa0a432fe.html"  target="element">
				  				<area shape="rect" coords="1713,128,1861,200" href="../elements/id-6004e21cc8c04bfda77e2d8c27948ffe.html"  target="element">
				  				<area shape="rect" coords="1557,213,1705,285" href="../elements/id-36daefe27d3445f691a25542b85d3f44.html"  target="element">

				  		<area shape="rect" coords="1534,93,2051,393" href="../elements/id-6567b035cf1c4474b631ca01148eb877.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Ontology [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the elements and their relations in the JSON data. The JSON data contains several elements, each with a unique name, type, description, and elements. 

The first element, "Business Agnostic Ontology Solutions," is a Grouping ABB type that contains several Data Object SBB types, including "W3C Organization," "W3C Shapes Constraint Language," "PROV-O," "FOAF," "DCAT-AP," "ADMS," "ADMS-AP," "DCAT," and "ODRL." Each of these data objects represents a different ontology solution, providing a standardized representation of various aspects of organizations, data structures, and constraints. 

The second element, "Data," is a Data Object ABB type that represents symbols obtained through an encoding process of business information or a legal act. 

The third element, "Business Agnostic Ontologies Catalogue Solutions," is a Grouping ABB type that contains two Data Object SBB types, "Linked Open Vocabularies (LOV)" and "ODP." These represent ontology engineering groups and semantic web portals dedicated to ontology design patterns. 

The fourth element, "Ontologies Catalogue," is a Data Object ABB type that aims at indexing the collection of ontologies with comprehensiveness and trustiness value. 

The fifth element, "Ontology," is a Data Object ABB type that defines a set of representational primitives with which to model a domain of knowledge or discourse. 

The sixth element, "Business Agnostic Business Information Base," is a Diagram Model-group ABB type that contains three Business Object ABB types, "Availability," "Data Quality," and "Document." These represent different types of business information. 

The seventh element, "Health Ontology Solutions," is a Grouping ABB type that contains several Data Object SBB types, including "International Classification of Diseases for Oncology (ICD-O)," "Logical Observation Identifiers Names and Codes (LOINC)," "International Classification of Diseases (ICD)," "Anatomical Therapeutic Chemical Classification Ontology (ATCCO)," and "International surgery procedure ontology." Each of these data objects represents a different health ontology solution, providing a standardized representation of various aspects of health and medical data. 

The eighth element, "Health Business Information Base," is a Grouping ABB type that contains three Business Object ABB types, "Diagnosis," "Laboratory," and "Operating theatre." These represent different types of health business information. 

In summary, the SV-Ontology [Motivation] view provides a comprehensive framework for leveraging these elements and their relations to model a domain of knowledge or discourse, represent business and health information, and provide ontology solutions.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
											    <td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-36daefe27d3445f691a25542b85d3f44.html" target="element"> W3C Organization </a> </td>
													    <td> <a href="../elements/id-36daefe27d3445f691a25542b85d3f44.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6004e21cc8c04bfda77e2d8c27948ffe.html" target="element"> W3C Shapes Constraint Language </a> </td>
													    <td> <a href="../elements/id-6004e21cc8c04bfda77e2d8c27948ffe.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35a1ec612f62486095c52a9fa0a432fe.html" target="element"> PROV-O </a> </td>
													    <td> <a href="../elements/id-35a1ec612f62486095c52a9fa0a432fe.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48b682bc789a4178846c7467aa347b63.html" target="element"> FOAF </a> </td>
													    <td> <a href="../elements/id-48b682bc789a4178846c7467aa347b63.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48b4a4cda253479489cba37f112a83e8.html" target="element"> DCAT-AP </a> </td>
													    <td> <a href="../elements/id-48b4a4cda253479489cba37f112a83e8.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66404cf004c94faabf3b397ca2df09e9.html" target="element"> ADMS </a> </td>
													    <td> <a href="../elements/id-66404cf004c94faabf3b397ca2df09e9.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-839f799aec9048958921160c61da5e74.html" target="element"> ADMS-AP </a> </td>
													    <td> <a href="../elements/id-839f799aec9048958921160c61da5e74.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34d28f10f9b043b39a677d51dcd9d3e8.html" target="element"> DCAT </a> </td>
													    <td> <a href="../elements/id-34d28f10f9b043b39a677d51dcd9d3e8.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b2afc7b1e114f8eb181ffbd4c41b0fb.html" target="element"> ODRL </a> </td>
													    <td> <a href="../elements/id-6b2afc7b1e114f8eb181ffbd4c41b0fb.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
											    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element"> Business Agnostic Ontologies Catalogue Solutions </a> </td>
											    <td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-03c95055ca4841a98758d7439f96c096.html" target="element"> Linked Open Vocabularies (LOV) </a> </td>
													    <td> <a href="../elements/id-03c95055ca4841a98758d7439f96c096.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e6355b17f3548dc920a1b6e95f66ac7.html" target="element"> ODP </a> </td>
													    <td> <a href="../elements/id-2e6355b17f3548dc920a1b6e95f66ac7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4bfa8807df8c48aa9d89af41bb67f296.html" target="element"> Ontologies Catalogue </a> </td>
											    <td> <a href="../elements/id-4bfa8807df8c48aa9d89af41bb67f296.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element"> Ontology </a> </td>
											    <td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-1667126a51a942d6bf7dc365b0ca3ef1.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-1667126a51a942d6bf7dc365b0ca3ef1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
											    <td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-498166098d674d7cb6350b9c015f0c65.html" target="element"> International Classification of Diseases for Oncology (ICD-O) </a> </td>
													    <td> <a href="../elements/id-498166098d674d7cb6350b9c015f0c65.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
													    <td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8985d0ffa3e94b1b8a28abd1f708008c.html" target="element"> International Classification of Diseases (ICD) </a> </td>
													    <td> <a href="../elements/id-8985d0ffa3e94b1b8a28abd1f708008c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d6d1b6857c3418a98f4c7dd502954eb.html" target="element"> Anatomical Therapeutic Chemical Classification Ontology (ATCCO) </a> </td>
													    <td> <a href="../elements/id-3d6d1b6857c3418a98f4c7dd502954eb.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2834f02cf45494885637011efbc4730.html" target="element"> International surgery procedure ontology </a> </td>
													    <td> <a href="../elements/id-b2834f02cf45494885637011efbc4730.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
													    <td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81fbfb5ccd364ffebf265a2bcaaccc77.html" target="element"> Operating theatre </a> </td>
													    <td> <a href="../elements/id-81fbfb5ccd364ffebf265a2bcaaccc77.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ad23cafe0cfd4c958f3f75f6c94d3563.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad23cafe0cfd4c958f3f75f6c94d3563.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-6b2afc7b1e114f8eb181ffbd4c41b0fb.html" target="element"> ODRL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d63a4351a97249a1a9c328032366740c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d63a4351a97249a1a9c328032366740c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-48b4a4cda253479489cba37f112a83e8.html" target="element"> DCAT-AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aed4e3d135c04713a15e74671151936a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aed4e3d135c04713a15e74671151936a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-66404cf004c94faabf3b397ca2df09e9.html" target="element"> ADMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82b78f52836b411cb77aa7e7f93a33b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82b78f52836b411cb77aa7e7f93a33b9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-35a1ec612f62486095c52a9fa0a432fe.html" target="element"> PROV-O </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ead7cc8e3ef5475aa7fe4cff26a10459.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ead7cc8e3ef5475aa7fe4cff26a10459.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-839f799aec9048958921160c61da5e74.html" target="element"> ADMS-AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6304465a2d97495cbf508e67675136fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6304465a2d97495cbf508e67675136fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-48b682bc789a4178846c7467aa347b63.html" target="element"> FOAF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f7db1e42e2b45dd9ff59025d7e8e1b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f7db1e42e2b45dd9ff59025d7e8e1b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-34d28f10f9b043b39a677d51dcd9d3e8.html" target="element"> DCAT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ac3ece0dfc9445f84a5c379a9471ac6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ac3ece0dfc9445f84a5c379a9471ac6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-36daefe27d3445f691a25542b85d3f44.html" target="element"> W3C Organization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a9b40f339874729a081cdc863a50134.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a9b40f339874729a081cdc863a50134.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-6004e21cc8c04bfda77e2d8c27948ffe.html" target="element"> W3C Shapes Constraint Language </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93baad9b845b4924a638f0cb64739af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93baad9b845b4924a638f0cb64739af8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element"> Ontology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99d360b0c8cf4a2d9b33598b70267927.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99d360b0c8cf4a2d9b33598b70267927.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47e402f9591d42dc9407ec1c31ee258a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47e402f9591d42dc9407ec1c31ee258a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10d630ec90c74c619376d0ea8080baa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10d630ec90c74c619376d0ea8080baa2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-17de1902ff4e400db93616a85cb4eb0b.html" target="element"> Represents / Describes </a> </td>
																		<td> <a href="../elements/id-17de1902ff4e400db93616a85cb4eb0b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
																		<td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element"> Ontology </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-761e9b7363174fdb88711d7a2811c1dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-761e9b7363174fdb88711d7a2811c1dd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element"> Business Agnostic Ontologies Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-4bfa8807df8c48aa9d89af41bb67f296.html" target="element"> Ontologies Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33ed2a1c70b24da698539d6c5fd366a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33ed2a1c70b24da698539d6c5fd366a3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element"> Business Agnostic Ontologies Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-6567b035cf1c4474b631ca01148eb877.html" target="element"> Business Agnostic Ontology Solutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-626815854b1f4aaa905de49fb55ebbcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-626815854b1f4aaa905de49fb55ebbcc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element"> Business Agnostic Ontologies Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-2e6355b17f3548dc920a1b6e95f66ac7.html" target="element"> ODP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c75e5f0b566d48f59aebd6f0a3fb9709.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c75e5f0b566d48f59aebd6f0a3fb9709.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c3e38f8b8754fc89384b579686f2c3e.html" target="element"> Business Agnostic Ontologies Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-03c95055ca4841a98758d7439f96c096.html" target="element"> Linked Open Vocabularies (LOV) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3321fdc82c5d451fae366f2057d90bec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3321fdc82c5d451fae366f2057d90bec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-03c95055ca4841a98758d7439f96c096.html" target="element"> Linked Open Vocabularies (LOV) </a> </td>
																				<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b2d5e9bf2414a8c88626a64db2d266f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b2d5e9bf2414a8c88626a64db2d266f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e6355b17f3548dc920a1b6e95f66ac7.html" target="element"> ODP </a> </td>
																				<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4ba6d722e5b840a593a7dbd4cc47ad40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ba6d722e5b840a593a7dbd4cc47ad40.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4bfa8807df8c48aa9d89af41bb67f296.html" target="element"> Ontologies Catalogue </a> </td>
																		<td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element"> Ontology </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-dc3d8489d2184bf5ab31c131e3982afe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc3d8489d2184bf5ab31c131e3982afe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-b2834f02cf45494885637011efbc4730.html" target="element"> International surgery procedure ontology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b428baa36a4816a033771610b668fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b428baa36a4816a033771610b668fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-3d6d1b6857c3418a98f4c7dd502954eb.html" target="element"> Anatomical Therapeutic Chemical Classification Ontology (ATCCO) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44cef8cbc4cc41258a435ed7269bab61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44cef8cbc4cc41258a435ed7269bab61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-8985d0ffa3e94b1b8a28abd1f708008c.html" target="element"> International Classification of Diseases (ICD) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-633a582767c444be998b60814cbe7dcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-633a582767c444be998b60814cbe7dcb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e64442759e942d5a99b84ab28231f4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e64442759e942d5a99b84ab28231f4f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-498166098d674d7cb6350b9c015f0c65.html" target="element"> International Classification of Diseases for Oncology (ICD-O) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a910f95468e94090875bfe75693fe424.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a910f95468e94090875bfe75693fe424.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-397a30cee79e430fb79a110d98422a67.html" target="element"> Health Ontology Solutions </a> </td>
																		<td> <a href="../elements/id-b97580fdbd764aa7901964ad10d0456d.html" target="element"> Ontology </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-053f36cb20414fac97535fcaed34380f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-053f36cb20414fac97535fcaed34380f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-498166098d674d7cb6350b9c015f0c65.html" target="element"> International Classification of Diseases for Oncology (ICD-O) </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0c0f75fe76864140974d1b9055790cc3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c0f75fe76864140974d1b9055790cc3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-52a27bcd34784cb5a94bf9572917f8cc.html" target="element"> Logical Observation Identifiers Names and Codes (LOINC)  </a> </td>
																				<td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-38da33fb82774f7c830e4d222704bc0b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-38da33fb82774f7c830e4d222704bc0b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8985d0ffa3e94b1b8a28abd1f708008c.html" target="element"> International Classification of Diseases (ICD) </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1f068ee3a8504f358212664e518edf3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f068ee3a8504f358212664e518edf3d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d6d1b6857c3418a98f4c7dd502954eb.html" target="element"> Anatomical Therapeutic Chemical Classification Ontology (ATCCO) </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6099e18544bc4422a95b036afab7b46f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6099e18544bc4422a95b036afab7b46f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b2834f02cf45494885637011efbc4730.html" target="element"> International surgery procedure ontology </a> </td>
																				<td> <a href="../elements/id-81fbfb5ccd364ffebf265a2bcaaccc77.html" target="element"> Operating theatre </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-58e754b65ebb470dac9cee949a39c1eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58e754b65ebb470dac9cee949a39c1eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-81fbfb5ccd364ffebf265a2bcaaccc77.html" target="element"> Operating theatre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4ca2b9ff10a48b5831abafd40698bef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4ca2b9ff10a48b5831abafd40698bef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-86b92c87919f41099b905f3bbaeb8ab3.html" target="element"> Laboratory  </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>