<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Exchange Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Exchange Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7b7e242065d7490a85ccd6d3f49dc5f4.png" alt="TVA-Data Exchange Enablers [Motivation]" usemap="#id-7b7e242065d7490a85ccd6d3f49dc5f4map"/>
			   <map name="id-7b7e242065d7490a85ccd6d3f49dc5f4map">
				  				<area shape="rect" coords="454,58,622,155" href="../elements/id-169b796dc62d4114a0ff5297afad7a11.html"  target="element">
				  				<area shape="rect" coords="454,190,622,287" href="../elements/id-0a923367044441afadd4bd05d7602439.html"  target="element">

				  		<area shape="rect" coords="418,10,662,335" href="../elements/id-0c4b3a974a274f8d906c726d0176207e.html"  target="element">
				  				<area shape="rect" coords="58,148,238,221" href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html"  target="element">

				          <area shape="rect" coords="10,88,299,257" href="../objects/id-655d7a775cee4baa8f2bfe7c9009034a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Technical view - Application Data Exchange" viewpoint extends technical view application and provides a comprehensive framework for facilitating seamless and secure data exchange between applications within the digital ecosystem. This view associates the Data Exchange with Data Exchange Business Services from the application layer.
Within this view, Data Exchange refers to the mechanisms and protocols used to enable the efficient and reliable transfer of data between different applications. It encompasses various technologies and standards that ensure data integrity, privacy, and interoperability during the exchange process.
Digital applications leverage Data Exchange to share and synchronize data with other applications within the digital ecosystem. By utilizing Data Exchange Business Services, organizations can establish standardized and secure channels for data exchange, enabling efficient collaboration and information sharing.
By associating Data Exchange with Data Exchange Business Services, the "Technical view - Application Data Exchange" promotes seamless integration and interoperability between applications, facilitating the exchange of data in a standardized and secure manner.
The use of Data Exchange enables organizations to exchange data in real-time or in scheduled intervals, ensuring that information is synchronized and up-to-date across different applications. It provides mechanisms for data transformation, validation, and encryption, ensuring the integrity and privacy of the exchanged data.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-655d7a775cee4baa8f2bfe7c9009034a.html" target="element"> Business Agnostic Data Exchange Business Service </a> </td>
									           <td> <a href="../objects/id-655d7a775cee4baa8f2bfe7c9009034a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0c4b3a974a274f8d906c726d0176207e.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-0c4b3a974a274f8d906c726d0176207e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0a923367044441afadd4bd05d7602439.html" target="element"> Once-Only Technical System </a> </td>
													    <td> <a href="../elements/id-0a923367044441afadd4bd05d7602439.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-169b796dc62d4114a0ff5297afad7a11.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-169b796dc62d4114a0ff5297afad7a11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-06605d3357bf43f7b6a55ba61431711c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06605d3357bf43f7b6a55ba61431711c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c4b3a974a274f8d906c726d0176207e.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-169b796dc62d4114a0ff5297afad7a11.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9eadd52544414eecbfd586b8793cac4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9eadd52544414eecbfd586b8793cac4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c4b3a974a274f8d906c726d0176207e.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-0a923367044441afadd4bd05d7602439.html" target="element"> Once-Only Technical System </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-718ee46a54b1448fae8e10d61019dc06.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-718ee46a54b1448fae8e10d61019dc06.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a923367044441afadd4bd05d7602439.html" target="element"> Once-Only Technical System </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ac1bf444db474b469cb9b4a5cf77bdc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac1bf444db474b469cb9b4a5cf77bdc4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-169b796dc62d4114a0ff5297afad7a11.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>