<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Health Semantic Agreements Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Health Semantic Agreements Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-736c851f4fab4cfcad9d6a364009d3f0.png" alt="SV-Health Semantic Agreements Catalogue" usemap="#id-736c851f4fab4cfcad9d6a364009d3f0map"/>
			   <map name="id-736c851f4fab4cfcad9d6a364009d3f0map">
				  				<area shape="rect" coords="1054,154,1234,250" href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html"  target="element">
				  				<area shape="rect" coords="1246,46,1426,142" href="../elements/id-7f89d14b02cb4550a82a54477091325c.html"  target="element">
				  				<area shape="rect" coords="1054,46,1234,142" href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html"  target="element">

				  		<area shape="rect" coords="1030,10,1454,274" href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html"  target="element">
				  				<area shape="rect" coords="674,94,854,190" href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html"  target="element">

				  		<area shape="rect" coords="638,58,891,226" href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html"  target="element">
				  		<area shape="rect" coords="10,102,210,182" href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html"  target="element">
				  		<area shape="rect" coords="326,102,526,182" href="../elements/id-8f9bd9a573bd4d188cda2716ac458367.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Health Semantic Agreements Catalogue view extends the Semantic view and provides a comprehensive framework for leveraging semantic agreements in the health domain. It consists of several elements and their relationships, as described below:

1. Semantic Agreement (Contract ABB):
   - Description: Semantic Agreement ABB is a Contract formalizing an agreement from a peer to the common ontology. It is the result of a matching or mapping process used to resolve semantic discrepancies. The matching process includes linguistic base, internal, and external structure comparison. The agreement unit is developed as a component of the agreement.
   - Motivation: The Semantic Agreement aims to ensure that peers in the health domain have a common understanding of the schema/ontology, labels, and the meaning of concepts. It eliminates semantic discrepancies and promotes interoperability.

2. Semantic Interoperability Agreement (Contract ABB):
   - Description: Semantic interoperability agreement ABB is a Contract formalizing governance rules enabling collaboration between digital public services with ontological value.
   - Motivation: The Semantic Interoperability Agreement establishes governance rules to facilitate collaboration between digital public services in the health domain. It ensures that ontological value is preserved and promotes interoperability.

3. Health Semantic Agreement Catalogue (Grouping ABB):
   - Description: Health Semantic Agreement Catalogue is a grouping element.
   - Motivation: The Health Semantic Agreement Catalogue serves as a catalog of semantic agreements specifically related to the health domain.

   - Imaging exchange format (Contract ABB):
     - Description: Semantic agreement between public administrations (national and European) defining the methods and format for sharing medical images.
     - Motivation: The Imaging exchange format agreement defines the standards and guidelines for sharing medical images among public administrations. It ensures consistency and interoperability in image exchange.

4. Health Semantic Agreement Solutions (Grouping ABB):
   - Description: Health Semantic Agreement Solutions is a grouping element.
   - Motivation: The Health Semantic Agreement Solutions serve as a collection of semantic agreements that provide solutions in the health domain.

   - OMOP Common Data Model (Contract SBB):
     - Description: The OMOP Common Data Model allows for the systematic analysis of disparate observational databases.
     - Motivation: The OMOP Common Data Model agreement enables the systematic analysis of different observational databases in the health domain. It promotes data interoperability and analysis.

   - FAIR Guiding Principles for scientific data management and stewardship (Contract SBB):
     - Description: Semantic agreement defining the standards and guidelines on the management of data, ensuring computational systems can find, access, interoperate, and reuse data with minimal human intervention.
     - Motivation: The FAIR Guiding Principles agreement ensures that scientific data in the health domain is managed according to standards and guidelines. It promotes data discoverability, accessibility, interoperability, and reusability.

   - eHealth Digital Service Infrastructure (eHDSI) semantic framework (Contract SBB):
     - Description: The eHealth Digital Service Infrastructure (eHDSI or eHealth DSI) is the initial deployment and operation of services for cross-border health data exchange. The semantic framework enables healthcare semantic experts to co-create and evolve crucial assets for semantic interoperability in cross-border eHealth services.
     - Motivation: The eHealth Digital Service Infrastructure agreement establishes a semantic framework for cross-border health data exchange. It allows healthcare semantic experts to collaborate and develop foundational elements for semantic interoperability in eHealth services.

Overall, the SV-Health Semantic Agreements Catalogue view provides a structured representation of various semantic agreements and their relationships in the health domain. It aims to promote interoperability, resolve semantic discrepancies, and enable collaboration between digital public services.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8f9bd9a573bd4d188cda2716ac458367.html" target="element"> Semantic Agreement </a> </td>
											    <td> <a href="../elements/id-8f9bd9a573bd4d188cda2716ac458367.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element"> Semantic Interoperability Agreement </a> </td>
											    <td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element"> Imaging exchange format </a> </td>
													    <td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element"> OMOP Common Data Model </a> </td>
													    <td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element"> FAIR Guiding Principles for scientific data management and stewardship </a> </td>
													    <td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element"> eHealth Digtal Service infrastructure (eHDSI) semantic framework </a> </td>
													    <td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-921c17f4c7e543d19301e9dd55a60592.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-921c17f4c7e543d19301e9dd55a60592.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-831cf12982c949ba8ad4a778b2c2e011.html" target="element"> Semantic Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-8f9bd9a573bd4d188cda2716ac458367.html" target="element"> Semantic Agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f7ac764c95b4fe4840716c588ffa3e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f7ac764c95b4fe4840716c588ffa3e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-baa6df7e0afc481b9868f49881d0f31d.html" target="element"> Imaging exchange format </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0c26c108b8e4e8097bc9886b6a5f8f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0c26c108b8e4e8097bc9886b6a5f8f5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-8f9bd9a573bd4d188cda2716ac458367.html" target="element"> Semantic Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-de3c5ae7917547f39314de236f0673e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de3c5ae7917547f39314de236f0673e2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-7f89d14b02cb4550a82a54477091325c.html" target="element"> FAIR Guiding Principles for scientific data management and stewardship </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71c7abe1ab754b96a8c050bcb823e052.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71c7abe1ab754b96a8c050bcb823e052.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-c00e2d1bc72c4eda8289e0ba4b975be3.html" target="element"> eHealth Digtal Service infrastructure (eHDSI) semantic framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8020b6e35cd74cd3bfba9a098a29cf19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8020b6e35cd74cd3bfba9a098a29cf19.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-7c7064fa0fcb484bae774145f539bb3d.html" target="element"> OMOP Common Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59906d1df4ac4ca1a1b1e7c58aa6749f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59906d1df4ac4ca1a1b1e7c58aa6749f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca994adcb9c74700aa3754112bdc0ec0.html" target="element"> Health Semantic Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-42716e2a294c4ebdab9a1a9311722d9e.html" target="element"> Health Semantic Agreement Catalogue </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>