<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Access and Identity Infrastructure Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Access and Identity Infrastructure Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7f65f458534743aca865c751ad68c606.png" alt="TVI-Access and Identity Infrastructure Enablers [Motivation]" usemap="#id-7f65f458534743aca865c751ad68c606map"/>
			   <map name="id-7f65f458534743aca865c751ad68c606map">
				  				<area shape="rect" coords="1858,322,2050,408" href="../elements/id-208dacbe81e14432b9697841b771aae7.html"  target="element">
				  				<area shape="rect" coords="1858,190,2050,276" href="../elements/id-0e70c52d523045a4a18807d8188350aa.html"  target="element">

				  		<area shape="rect" coords="1834,154,2074,439" href="../elements/id-342c894804b343b983d197485cf5b6e9.html"  target="element">
				  				<area shape="rect" coords="1486,226,1606,281" href="../elements/id-524c4afe98154971bd90195970b493fc.html"  target="element">
				  				<area shape="rect" coords="1355,226,1475,281" href="../elements/id-56445bc4ef194cb4a30d3451a71a50c8.html"  target="element">
				  				<area shape="rect" coords="1486,154,1606,209" href="../elements/id-3fc196ab18544b34a1347bbedcf18b05.html"  target="element">
				  				<area shape="rect" coords="1355,154,1475,209" href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html"  target="element">

				  		<area shape="rect" coords="1330,106,1629,310" href="../elements/id-cb7d647355fd4d259b7484587f17f007.html"  target="element">
				  						<area shape="rect" coords="706,142,886,215" href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html"  target="element">
				  						<area shape="rect" coords="286,250,467,360" href="../elements/id-0d90a82ff66944209393f76b3324d450.html"  target="element">
				  						<area shape="rect" coords="946,422,1090,494" href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html"  target="element">
				  						<area shape="rect" coords="946,331,1090,403" href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html"  target="element">
				  						<area shape="rect" coords="946,247,1090,319" href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html"  target="element">
				  						<area shape="rect" coords="706,403,886,512" href="../elements/id-06948025695649e0b196c227ef468f8a.html"  target="element">
				  						<area shape="rect" coords="706,250,886,359" href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html"  target="element">
				  						<area shape="rect" coords="287,406,467,515" href="../elements/id-18d865e83b39458595c065b07b70c157.html"  target="element">
				  						<area shape="rect" coords="502,250,682,359" href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html"  target="element">
				  						<area shape="rect" coords="70,250,250,359" href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html"  target="element">

				  				<area shape="rect" coords="46,130,1139,539" href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html"  target="element">
				  				<area shape="rect" coords="322,58,526,119" href="../elements/id-163cc15500af40b9b344d4a0c80683f5.html"  target="element">
				  				<area shape="rect" coords="46,58,250,119" href="../elements/id-05a64f6bd7784802a85d3960ae6bc0fd.html"  target="element">

				  		<area shape="rect" coords="10,10,1187,563" href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html"  target="element">
				  				<area shape="rect" coords="1354,454,1474,509" href="../elements/id-50a55369c7c846a7ac1041aa4b7a34ea.html"  target="element">
				  				<area shape="rect" coords="1486,454,1606,509" href="../elements/id-cb4e64228e59489eba493540073c9017.html"  target="element">
				  				<area shape="rect" coords="1486,382,1606,437" href="../elements/id-134caf7f92cc4ed9a156a42ce19865d0.html"  target="element">
				  				<area shape="rect" coords="1354,382,1474,437" href="../elements/id-49e563712dbf41f4a2ae877b1e433212.html"  target="element">

				  		<area shape="rect" coords="1330,334,1629,538" href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative:
The Identity Access Infrastructure focuses on managing user identities and their access privileges. It encompasses the [Identity Provider Technology Service], which enables the secure identification and authentication of users, and the [Federated Identity Provider Technology Service], which allows seamless integration with external identity providers. Additionally, the [Lightweight Directory Access Technology Service] facilitates efficient storage and retrieval of user and access information.

To strengthen security and privacy within the technical view, the access and identity infrastructure relates to various security application services. These services include robust encryption mechanisms, secure communication protocols, and threat detection and prevention systems. By integrating these security application services, the access and identity infrastructure ensures the confidentiality, integrity, and availability of sensitive data and resources.

Moreover, privacy enablers are incorporated into the access and identity infrastructure to comply with privacy regulations and protect user data. These enablers encompass mechanisms for data anonymization, consent management, and data retention policies. By implementing these privacy enablers, organizations can demonstrate their commitment to privacy protection and establish trust with their users.

By extending the narrative to include the Technical view - access and identity infrastructure, organizations can establish a secure and privacy-conscious foundation for their digital solutions. This view leverages the Management Infrastructure Enablers and Identity Access Infrastructure, while integrating security application services and privacy enablers to safeguard sensitive information, ensure proper user authentication and authorization, and adhere to privacy regulations. By doing so, organizations can provide a trusted and secure environment for their users while maintaining compliance with relevant security and privacy standards.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-49e563712dbf41f4a2ae877b1e433212.html" target="element"> Identity Provider </a> </td>
													    <td> <a href="../elements/id-49e563712dbf41f4a2ae877b1e433212.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-134caf7f92cc4ed9a156a42ce19865d0.html" target="element"> Federated Identity Provider </a> </td>
													    <td> <a href="../elements/id-134caf7f92cc4ed9a156a42ce19865d0.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb4e64228e59489eba493540073c9017.html" target="element"> Active Directory </a> </td>
													    <td> <a href="../elements/id-cb4e64228e59489eba493540073c9017.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50a55369c7c846a7ac1041aa4b7a34ea.html" target="element"> Lightweight Directory Access Protocol </a> </td>
													    <td> <a href="../elements/id-50a55369c7c846a7ac1041aa4b7a34ea.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
											    <td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-05a64f6bd7784802a85d3960ae6bc0fd.html" target="element"> Audit </a> </td>
													    <td> <a href="../elements/id-05a64f6bd7784802a85d3960ae6bc0fd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-163cc15500af40b9b344d4a0c80683f5.html" target="element"> Audit </a> </td>
													    <td> <a href="../elements/id-163cc15500af40b9b344d4a0c80683f5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
													    <td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
															    <td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
															    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
															    <td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
															    <td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
															    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
															    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
															    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
															    <td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
															    <td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html" target="element"> Keycloak </a> </td>
															    <td> <a href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element"> Logger </a> </td>
													    <td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3fc196ab18544b34a1347bbedcf18b05.html" target="element"> Audit Manager </a> </td>
													    <td> <a href="../elements/id-3fc196ab18544b34a1347bbedcf18b05.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56445bc4ef194cb4a30d3451a71a50c8.html" target="element"> Telemetry </a> </td>
													    <td> <a href="../elements/id-56445bc4ef194cb4a30d3451a71a50c8.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-524c4afe98154971bd90195970b493fc.html" target="element"> Management Console </a> </td>
													    <td> <a href="../elements/id-524c4afe98154971bd90195970b493fc.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
											    <td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-208dacbe81e14432b9697841b771aae7.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-208dacbe81e14432b9697841b771aae7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-224d544521804a5781a8e71fb4e662b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-224d544521804a5781a8e71fb4e662b7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-49e563712dbf41f4a2ae877b1e433212.html" target="element"> Identity Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdf474f92b4441af9166f283da28a009.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdf474f92b4441af9166f283da28a009.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-134caf7f92cc4ed9a156a42ce19865d0.html" target="element"> Federated Identity Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5491856041c4bee876ceb95b3f8e126.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5491856041c4bee876ceb95b3f8e126.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-50a55369c7c846a7ac1041aa4b7a34ea.html" target="element"> Lightweight Directory Access Protocol </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cd5ce3251cc4fb88025158c20cb9c5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cd5ce3251cc4fb88025158c20cb9c5b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-cb4e64228e59489eba493540073c9017.html" target="element"> Active Directory </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-755c0a6794454931b0cd871d8dbd8e9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-755c0a6794454931b0cd871d8dbd8e9e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
																		<td> <a href="../elements/id-05a64f6bd7784802a85d3960ae6bc0fd.html" target="element"> Audit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3099ca451c244bddb4cdc7b25df62c9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3099ca451c244bddb4cdc7b25df62c9c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
																		<td> <a href="../elements/id-163cc15500af40b9b344d4a0c80683f5.html" target="element"> Audit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5e54cf9b6294f758001b8d3f1397e25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5e54cf9b6294f758001b8d3f1397e25.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed1d954f0f5d4911b72d63f0e86b4cb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed1d954f0f5d4911b72d63f0e86b4cb3.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08b69d31fea94aefa69cefeea9d158a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08b69d31fea94aefa69cefeea9d158a6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-318a82a1a74f4bd7be88ac2318396d68.html" target="element"> Security Enablers </a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6b42c8b2fccb48d696ded411487c06b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b42c8b2fccb48d696ded411487c06b7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-163cc15500af40b9b344d4a0c80683f5.html" target="element"> Audit </a> </td>
																				<td> <a href="../elements/id-05a64f6bd7784802a85d3960ae6bc0fd.html" target="element"> Audit </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-77a7eb0780d84f69ae52578451a04eac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77a7eb0780d84f69ae52578451a04eac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bee8d91dfdea4063a1cf5c089aa62fc9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bee8d91dfdea4063a1cf5c089aa62fc9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f86b0a83fbf47199d872f69eaadded5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f86b0a83fbf47199d872f69eaadded5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-505038db64de441baef2daa11f94df57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-505038db64de441baef2daa11f94df57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-37ffd4fe2bab448789a23cff411b0606.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37ffd4fe2bab448789a23cff411b0606.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21bbe282e010498c8a54ff4d3e9da5fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21bbe282e010498c8a54ff4d3e9da5fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b02415ec8fcf4e14a3f623932c3be92d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b02415ec8fcf4e14a3f623932c3be92d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc72220bb2d4459bbff22cb2d7c59a37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc72220bb2d4459bbff22cb2d7c59a37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-098c953e66ff489580cca4dba9e32db3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-098c953e66ff489580cca4dba9e32db3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																				<td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-30dc9c847f8e4dd4a04a9dc71aaa34ff.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-30dc9c847f8e4dd4a04a9dc71aaa34ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																						<td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-97bb87d72b6949b1b372339aa8b8b1d1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-97bb87d72b6949b1b372339aa8b8b1d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																						<td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7aa99e064ba34ee9b3efb310556420b0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7aa99e064ba34ee9b3efb310556420b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																						<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-5d65445198ab4c528dc9839bd98fd2ee.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5d65445198ab4c528dc9839bd98fd2ee.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																						<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-44bb3cdfdc8b4045808f3888d07ffda3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-44bb3cdfdc8b4045808f3888d07ffda3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																						<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-30a2664f47234463a52b5a2ab7b75834.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-30a2664f47234463a52b5a2ab7b75834.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																						<td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-028517be915b4d93af1d6b141573f0ff.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-028517be915b4d93af1d6b141573f0ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																						<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-bb9f6aa9a2ba4211a7c34e7f1956cab0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb9f6aa9a2ba4211a7c34e7f1956cab0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-3fc196ab18544b34a1347bbedcf18b05.html" target="element"> Audit Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a6eec98c5cf43f58a19916bdc0f5a88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a6eec98c5cf43f58a19916bdc0f5a88.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-56445bc4ef194cb4a30d3451a71a50c8.html" target="element"> Telemetry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-212a8569a2f24a449085acdaa8216743.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-212a8569a2f24a449085acdaa8216743.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-524c4afe98154971bd90195970b493fc.html" target="element"> Management Console </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dbe07b3da0e64936955d615d80ab85b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbe07b3da0e64936955d615d80ab85b9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element"> Logger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c2c45444b29b4e03b9c7379776cee880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2c45444b29b4e03b9c7379776cee880.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-cb7d647355fd4d259b7484587f17f007.html" target="element"> Management Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26169b7fd0ad4d91909d3bc861a4c221.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26169b7fd0ad4d91909d3bc861a4c221.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-4b8b6757edf24040997c3cafb14bd457.html" target="element"> Identity and Access Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-25dfdfb683aa497eb6c28e305fcfa752.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-25dfdfb683aa497eb6c28e305fcfa752.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-208dacbe81e14432b9697841b771aae7.html" target="element"> Privacy </a> </td>
																				<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>