<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Medical Imaging Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Medical Imaging Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-83c9d1f0ddaf427e82072c39a164a886.png" alt="TVA-Health Medical Imaging Enablers [Motivation]" usemap="#id-83c9d1f0ddaf427e82072c39a164a886map"/>
			   <map name="id-83c9d1f0ddaf427e82072c39a164a886map">
				  				<area shape="rect" coords="441,106,621,161" href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html"  target="element">
				  				<area shape="rect" coords="441,34,621,89" href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html"  target="element">
				  				<area shape="rect" coords="202,106,382,161" href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html"  target="element">
				  				<area shape="rect" coords="202,34,382,89" href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html"  target="element">

				  		<area shape="rect" coords="142,10,683,191" href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html"  target="element">
				  				<area shape="rect" coords="658,562,858,642" href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html"  target="element">
				  				<area shape="rect" coords="442,562,642,642" href="../elements/id-031512b65371474db26c4261c4e4f2aa.html"  target="element">

				          <area shape="rect" coords="430,514,935,683" href="../objects/id-645fe4f1dc3c4598bffb948f05dfe667.html" target="element" >
				  				<area shape="rect" coords="154,574,287,646" href="../elements/id-0e12c7de8c4c45b49930e175c4ed4ead.html"  target="element">

				          <area shape="rect" coords="10,514,407,683" href="../objects/id-13ecc70bbfbf4162aeff4ba6ace59771.html" target="element" >
				  				<area shape="rect" coords="202,370,382,430" href="../elements/id-695a1b36e7894cb4af415eed3acf0d2f.html"  target="element">
				  				<area shape="rect" coords="442,370,624,430" href="../elements/id-99e97a6572c643fe8a1ef2e18fa78c5e.html"  target="element">
				  				<area shape="rect" coords="442,298,624,358" href="../elements/id-815d93f1055d4270809a8a7a02b59440.html"  target="element">
				  				<area shape="rect" coords="202,298,382,358" href="../elements/id-38e78ae709184bc1a227b32badcb98b3.html"  target="element">

				  		<area shape="rect" coords="142,262,683,455" href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Medical Imaging Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various application services and business services to facilitate the digital exchange of medical images and reports for clinical analysis and medical intervention.

The view is divided into three main groups: Health Medical Imaging Enablers, eGovERA Health Digital Public Services Catalogue, and Health Medical Imaging Workflow Data Exchange Technical Interoperability Agreement Solutions.

The Health Medical Imaging Enablers group includes four application services: Radiology Information System (RIS), Picture Archive and Communication System (PACS), Audit Trail and Node Authentication - Radiology Option system, and Teaching File and Clinical Trial Export system (TCE). These services are essential for managing and storing medical imaging data, ensuring data security, and facilitating the sharing of medical images for teaching and clinical trials.

The eGovERA Health Digital Public Services Catalogue group includes the Medical imaging business service. This service enables the digital exchange of medical images and reports for clinical analysis and medical intervention, as well as visual representation of the function of some organs or tissues.

The Business Agnostic Digital Public Services Catalogue group includes two business services: Knowledge Management and Data Exchange. These services facilitate the management and exchange of knowledge and data in a digital environment.

The Health Medical Imaging Workflow Data Exchange Technical Interoperability Agreement Solutions group includes four contracts: IHE SWF: Radiology Scheduled Workflow, IHE XDS-I.b: Cross-Enterprise Document, IHE SWF.b: Radiology Scheduled Workflow, and DICOM - medical image exchange. These contracts establish the technical interoperability agreements for the scheduled workflow of radiology, cross-enterprise document sharing, and medical image exchange.

The motivation behind this view is to provide a comprehensive framework that leverages various application services and business services to facilitate the digital exchange of medical images and reports for clinical analysis and medical intervention. This is achieved through the integration of various systems and services, ensuring data security, and facilitating the sharing of medical images for teaching and clinical trials.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
											    <td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-38e78ae709184bc1a227b32badcb98b3.html" target="element"> Radiology Information System (RIS) </a> </td>
													    <td> <a href="../elements/id-38e78ae709184bc1a227b32badcb98b3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-815d93f1055d4270809a8a7a02b59440.html" target="element"> Picture Archive and Communication System (PACS) </a> </td>
													    <td> <a href="../elements/id-815d93f1055d4270809a8a7a02b59440.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-99e97a6572c643fe8a1ef2e18fa78c5e.html" target="element"> Audit Trail and Node Authentication - Radiology Option system </a> </td>
													    <td> <a href="../elements/id-99e97a6572c643fe8a1ef2e18fa78c5e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-695a1b36e7894cb4af415eed3acf0d2f.html" target="element"> Teaching File and Clinical Trial Export system (TCE)  </a> </td>
													    <td> <a href="../elements/id-695a1b36e7894cb4af415eed3acf0d2f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-13ecc70bbfbf4162aeff4ba6ace59771.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-13ecc70bbfbf4162aeff4ba6ace59771.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0e12c7de8c4c45b49930e175c4ed4ead.html" target="element"> Medical imaging </a> </td>
													    <td> <a href="../elements/id-0e12c7de8c4c45b49930e175c4ed4ead.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-645fe4f1dc3c4598bffb948f05dfe667.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-645fe4f1dc3c4598bffb948f05dfe667.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element"> IHE SWF: Radiology Scheduled Workflow </a> </td>
													    <td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element"> IHE XDS-I.b: Cross-Enterprise Document </a> </td>
													    <td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element"> IHE SWF.b: Radiology Scheduled Workflow </a> </td>
													    <td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element"> DICOM - medical image exchange </a> </td>
													    <td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6fdff7dfde6642e890667cba90aaed34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fdff7dfde6642e890667cba90aaed34.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-815d93f1055d4270809a8a7a02b59440.html" target="element"> Picture Archive and Communication System (PACS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-929682528a2f41d6a06dfa5b1d63ceb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-929682528a2f41d6a06dfa5b1d63ceb9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-38e78ae709184bc1a227b32badcb98b3.html" target="element"> Radiology Information System (RIS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1cc19e1867b473db82f7a47232d8be7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1cc19e1867b473db82f7a47232d8be7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-695a1b36e7894cb4af415eed3acf0d2f.html" target="element"> Teaching File and Clinical Trial Export system (TCE)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec7e67197da542db9c255ca9d97bfae8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec7e67197da542db9c255ca9d97bfae8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-99e97a6572c643fe8a1ef2e18fa78c5e.html" target="element"> Audit Trail and Node Authentication - Radiology Option system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8e4c84bfb1e4ff3a9ffc834684ca577.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8e4c84bfb1e4ff3a9ffc834684ca577.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-0e12c7de8c4c45b49930e175c4ed4ead.html" target="element"> Medical imaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5775ed92e27645a48327b7014ee30d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5775ed92e27645a48327b7014ee30d03.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d7d3e4006934c248bbf5f3873eb2212.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d7d3e4006934c248bbf5f3873eb2212.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																		<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-b57834d5738e47529db0cc9a9fc5dfbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b57834d5738e47529db0cc9a9fc5dfbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-17359e5377cb41bfa009d72ebeef65cf.html" target="element"> DICOM - medical image exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa0bea69114c48cda6d8e75243168f83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa0bea69114c48cda6d8e75243168f83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-5c6df165e58244879c5242b9c7b27baf.html" target="element"> IHE SWF: Radiology Scheduled Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db34a5405b114e4882f826acc78e8db4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db34a5405b114e4882f826acc78e8db4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-d3924633898f42e7a25e5433b7e78b13.html" target="element"> IHE SWF.b: Radiology Scheduled Workflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73fba1b745db4f968d89790568486d15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73fba1b745db4f968d89790568486d15.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-bfb4d0fdcf954c48bee475fc3b215faf.html" target="element"> IHE XDS-I.b: Cross-Enterprise Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5aad93a8954349d097a18e5b3a4cfcdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5aad93a8954349d097a18e5b3a4cfcdc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abb63793baa54601b7fc84df2fdb750e.html" target="element"> Health Medical Imaging Workflow &amp; Data Exchange Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-624c4fc56fb84cf99ac5731ccad2f81c.html" target="element"> Health Medical Imaging Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>