<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Orchestration Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Orchestration Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8e9a94af5a5b466db12cb98051ac8b4c.png" alt="TVA-Orchestration Enablers [Motivation]" usemap="#id-8e9a94af5a5b466db12cb98051ac8b4cmap"/>
			   <map name="id-8e9a94af5a5b466db12cb98051ac8b4cmap">
				  				<area shape="rect" coords="274,418,430,503" href="../elements/id-771ef40d65004509a55841e398b0c2c7.html"  target="element">
				  				<area shape="rect" coords="82,418,238,503" href="../elements/id-e3a2415111434450ae72da432b057364.html"  target="element">

				  		<area shape="rect" coords="46,382,467,527" href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html"  target="element">
				  				<area shape="rect" coords="286,45,466,154" href="../elements/id-018300cf3cda4246ba791f2c374858ad.html"  target="element">
				  				<area shape="rect" coords="34,202,228,305" href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html"  target="element">
				  				<area shape="rect" coords="34,45,228,154" href="../elements/id-2ac8478d1eba4f9183ce14e4b4eceafe.html"  target="element">

				  		<area shape="rect" coords="10,10,503,324" href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html"  target="element">
				  				<area shape="rect" coords="658,58,838,167" href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html"  target="element">

				          <area shape="rect" coords="598,10,899,203" href="../objects/id-54455de0bc714b7ebefcd1b2971efd27.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Technical view - Application Orchestration" viewpoint extends technical view application and provides a comprehensive framework for coordinating and automating complex workflows and processes within digital applications. This view associates the Application Orchestration with Application Orchestration Business Services from the application layer.
Within this view, Application Orchestration refers to the management and coordination of various tasks, services, and components within digital applications. It involves the automation of workflows, the sequencing of activities, and the integration of disparate systems to achieve efficient and seamless execution of processes.
Application Orchestration Business Services leverage the Application Orchestration to enable organizations to streamline their operations, automate repetitive tasks, and optimize the overall performance of their digital applications. These services provide a centralized mechanism for defining, managing, and monitoring complex workflows and processes within the digital ecosystem.
By associating the Application Orchestration with Application Orchestration Business Services, the "Technical view - Application Orchestration" empowers organizations to achieve efficient and coordinated execution of tasks, ensuring seamless integration and optimized performance within their digital applications.
The use of Application Orchestration enables organizations to automate business processes, reduce manual intervention, and improve overall operational efficiency. It provides the ability to define and manage complex workflows, ensure task dependencies and sequencing, and handle exceptions or error conditions within digital applications.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-54455de0bc714b7ebefcd1b2971efd27.html" target="element"> Business Agnostic Orchestration Business Service </a> </td>
									           <td> <a href="../objects/id-54455de0bc714b7ebefcd1b2971efd27.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element"> Orchestration Enablers </a> </td>
											    <td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2ac8478d1eba4f9183ce14e4b4eceafe.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-2ac8478d1eba4f9183ce14e4b4eceafe.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-018300cf3cda4246ba791f2c374858ad.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-018300cf3cda4246ba791f2c374858ad.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
											    <td> <a href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e3a2415111434450ae72da432b057364.html" target="element"> Apache Airflow </a> </td>
													    <td> <a href="../elements/id-e3a2415111434450ae72da432b057364.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-771ef40d65004509a55841e398b0c2c7.html" target="element"> Apache Beam </a> </td>
													    <td> <a href="../elements/id-771ef40d65004509a55841e398b0c2c7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-d6f239e536834a3f8139adf4f5ae8fa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6f239e536834a3f8139adf4f5ae8fa2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-2ac8478d1eba4f9183ce14e4b4eceafe.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3302ede480f3492f89d46e5fbb333335.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3302ede480f3492f89d46e5fbb333335.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cc77c4ad4c2491d801641b8db63db24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cc77c4ad4c2491d801641b8db63db24.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-018300cf3cda4246ba791f2c374858ad.html" target="element"> Workflow Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f704cc1c2564979bde98e0931fcac9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f704cc1c2564979bde98e0931fcac9c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-2ac8478d1eba4f9183ce14e4b4eceafe.html" target="element"> Orchestration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f611c0bbff444c3cbad8b061c0d40423.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f611c0bbff444c3cbad8b061c0d40423.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-32938bead0404b6bb39f450a8083ab1f.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-018300cf3cda4246ba791f2c374858ad.html" target="element"> Workflow Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7346614049914d0d804d69053c974527.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7346614049914d0d804d69053c974527.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-018300cf3cda4246ba791f2c374858ad.html" target="element"> Workflow Management </a> </td>
																				<td> <a href="../elements/id-08a036a6977d41f1af18b84e8f6b9076.html" target="element"> Workflow Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4a348c85f6d244ed8645745e2f2ea86c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a348c85f6d244ed8645745e2f2ea86c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-771ef40d65004509a55841e398b0c2c7.html" target="element"> Apache Beam </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f1d18ccd68b34b0784dcabc07fe21113.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1d18ccd68b34b0784dcabc07fe21113.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-e3a2415111434450ae72da432b057364.html" target="element"> Apache Airflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c31752cebe9844d4b895c092a23dcbfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c31752cebe9844d4b895c092a23dcbfd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e0a2295a15640639de19ac8b8b42d38.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-17ccd726a78f437ea0f01048bfa3d5db.html" target="element"> Orchestration Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>