<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Identification and Access Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Identification and Access Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8aa47a22ea524143bc11a7871b0bebee.png" alt="TVA-Identification and Access Enablers [Motivation]" usemap="#id-8aa47a22ea524143bc11a7871b0bebeemap"/>
			   <map name="id-8aa47a22ea524143bc11a7871b0bebeemap">
				  				<area shape="rect" coords="622,610,778,693" href="../elements/id-c6715a12adad417f8afa888d234bdef9.html"  target="element">
				  				<area shape="rect" coords="622,514,778,597" href="../elements/id-cdfd8f4cf4bd434bbc2b13cee0576c8e.html"  target="element">
				  				<area shape="rect" coords="622,706,778,789" href="../elements/id-0b294d4658ce44008585ddb4dd66ade7.html"  target="element">
				  				<area shape="rect" coords="406,610,562,693" href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html"  target="element">

				  		<area shape="rect" coords="382,490,815,815" href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html"  target="element">
				  				<area shape="rect" coords="1438,46,1582,118" href="../elements/id-4c095f4b6c2141cbaf041684856e340a.html"  target="element">
				  				<area shape="rect" coords="1282,46,1426,118" href="../elements/id-57573d60deba402c8374c6d55103c461.html"  target="element">
				  				<area shape="rect" coords="1438,238,1582,310" href="../elements/id-25058911a6af4d6c990005c81afa53ed.html"  target="element">
				  				<area shape="rect" coords="1438,130,1582,202" href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html"  target="element">
				  				<area shape="rect" coords="1282,238,1426,310" href="../elements/id-6ba64db6265e4697adfa86e040e8fb7b.html"  target="element">
				  				<area shape="rect" coords="1282,130,1426,202" href="../elements/id-795d17ec868645d8a18e40856bba4ee5.html"  target="element">

				  		<area shape="rect" coords="1258,10,1607,335" href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html"  target="element">
				  				<area shape="rect" coords="1012,22,1156,94" href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html"  target="element">
				  				<area shape="rect" coords="862,22,1006,94" href="../elements/id-2dc77b5400454012848dda9f7edd4407.html"  target="element">
				  				<area shape="rect" coords="250,154,406,237" href="../elements/id-0d90a82ff66944209393f76b3324d450.html"  target="element">
				  				<area shape="rect" coords="946,305,1090,377" href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html"  target="element">
				  				<area shape="rect" coords="946,214,1090,286" href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html"  target="element">
				  				<area shape="rect" coords="946,130,1090,202" href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html"  target="element">
				  				<area shape="rect" coords="670,283,826,366" href="../elements/id-06948025695649e0b196c227ef468f8a.html"  target="element">
				  				<area shape="rect" coords="670,130,826,213" href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html"  target="element">
				  				<area shape="rect" coords="251,310,407,393" href="../elements/id-18d865e83b39458595c065b07b70c157.html"  target="element">
				  				<area shape="rect" coords="466,154,622,237" href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html"  target="element">
				  				<area shape="rect" coords="34,154,190,237" href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html"  target="element">

				  		<area shape="rect" coords="10,10,1187,419" href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The [TVA-Identification and Access Enablers [Motivation]] view extends technical view application and provides a comprehensive framework for leveraging various elements related to secure identification, authentication, and access management. 

The view consists of three main groupings: [Identification and Access Enablers], [Business Agnostic Identity Management Solutions], and [Business Agnostic Authentication Solutions]. 

The [Identification and Access Enablers] grouping refers to components that enable the secure identification and authentication of users, systems, and services into a platform. It includes several application services and components such as [Authentication], [Registration], [Identification], [Access Management], [Identity Management], [Authorisation], [Accounting], [Request Validation], [Centralized Identity Management], and [Decentralized Identity Management]. These elements work together to ensure secure access to platforms and services, manage user identities, authorize users, track and record access, validate requests, and manage identities in both centralized and decentralized manners.

The [Business Agnostic Identity Management Solutions] grouping includes application services like [eIDAS-Node], [eIDAS-Proxy-Service], [Keycloak], [EU Login], [WSO2 Identity Server], and [Fraunhofer Omejdn Server]. These services provide various functionalities such as secure user authentication, single sign-on, identity federation, and access to protected resources.

The [Business Agnostic Authentication Solutions] grouping includes application services like [EU Login Identification], [EU Login Authentication], [EU Login Request Validation], and [EU Login Registration]. These services are responsible for user authentication to a wide range of Commission information systems.

The motivation behind these groupings and their elements is to provide a secure, reliable, and comprehensive framework for managing user identities and access rights. This is achieved through a combination of secure identification and authentication processes, access management, identity management, and the use of business-agnostic solutions.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
											    <td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
													    <td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
													    <td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
													    <td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
													    <td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
													    <td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element"> Centralized Identity Management </a> </td>
													    <td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element"> Decentralized Identity Management </a> </td>
													    <td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
											    <td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-795d17ec868645d8a18e40856bba4ee5.html" target="element"> eIDAS-Node </a> </td>
													    <td> <a href="../elements/id-795d17ec868645d8a18e40856bba4ee5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6ba64db6265e4697adfa86e040e8fb7b.html" target="element"> eIDAS-Proxy-Service </a> </td>
													    <td> <a href="../elements/id-6ba64db6265e4697adfa86e040e8fb7b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html" target="element"> Keycloak </a> </td>
													    <td> <a href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25058911a6af4d6c990005c81afa53ed.html" target="element"> EU Login </a> </td>
													    <td> <a href="../elements/id-25058911a6af4d6c990005c81afa53ed.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57573d60deba402c8374c6d55103c461.html" target="element"> WSO2 Identity Server </a> </td>
													    <td> <a href="../elements/id-57573d60deba402c8374c6d55103c461.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c095f4b6c2141cbaf041684856e340a.html" target="element"> Fraunhofer Omejdn Server </a> </td>
													    <td> <a href="../elements/id-4c095f4b6c2141cbaf041684856e340a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
											    <td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element"> EU Login Identification </a> </td>
													    <td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b294d4658ce44008585ddb4dd66ade7.html" target="element"> EU Login Authentication </a> </td>
													    <td> <a href="../elements/id-0b294d4658ce44008585ddb4dd66ade7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cdfd8f4cf4bd434bbc2b13cee0576c8e.html" target="element"> EU Login Request Validation </a> </td>
													    <td> <a href="../elements/id-cdfd8f4cf4bd434bbc2b13cee0576c8e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6715a12adad417f8afa888d234bdef9.html" target="element"> EU Login Registration </a> </td>
													    <td> <a href="../elements/id-c6715a12adad417f8afa888d234bdef9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b02415ec8fcf4e14a3f623932c3be92d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b02415ec8fcf4e14a3f623932c3be92d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc72220bb2d4459bbff22cb2d7c59a37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc72220bb2d4459bbff22cb2d7c59a37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-505038db64de441baef2daa11f94df57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-505038db64de441baef2daa11f94df57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1fce291ed73f4f5f811dc9109f233840.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1fce291ed73f4f5f811dc9109f233840.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element"> Decentralized Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21bbe282e010498c8a54ff4d3e9da5fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21bbe282e010498c8a54ff4d3e9da5fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77a7eb0780d84f69ae52578451a04eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77a7eb0780d84f69ae52578451a04eac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bee8d91dfdea4063a1cf5c089aa62fc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bee8d91dfdea4063a1cf5c089aa62fc9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f86b0a83fbf47199d872f69eaadded5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f86b0a83fbf47199d872f69eaadded5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-098c953e66ff489580cca4dba9e32db3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-098c953e66ff489580cca4dba9e32db3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e22819df57c64f9b8605dec9390ca3a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e22819df57c64f9b8605dec9390ca3a9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element"> Centralized Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37ffd4fe2bab448789a23cff411b0606.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37ffd4fe2bab448789a23cff411b0606.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7aa99e064ba34ee9b3efb310556420b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7aa99e064ba34ee9b3efb310556420b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-97bb87d72b6949b1b372339aa8b8b1d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-97bb87d72b6949b1b372339aa8b8b1d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-0d90a82ff66944209393f76b3324d450.html" target="element"> Request Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-30dc9c847f8e4dd4a04a9dc71aaa34ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30dc9c847f8e4dd4a04a9dc71aaa34ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-18d865e83b39458595c065b07b70c157.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-0c2698555b09472c8f2431fdf65f7ee5.html" target="element"> Authentication </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-30a2664f47234463a52b5a2ab7b75834.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30a2664f47234463a52b5a2ab7b75834.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-225c0d7aca614acb8bb7948997c8d6f6.html" target="element"> Accounting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44bb3cdfdc8b4045808f3888d07ffda3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44bb3cdfdc8b4045808f3888d07ffda3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d65445198ab4c528dc9839bd98fd2ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d65445198ab4c528dc9839bd98fd2ee.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-028517be915b4d93af1d6b141573f0ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-028517be915b4d93af1d6b141573f0ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-0bfe65e5093c4c2bb8925764930e5903.html" target="element"> Access Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8d33a2de28484fadb8d6968d486849b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d33a2de28484fadb8d6968d486849b3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dc77b5400454012848dda9f7edd4407.html" target="element"> Centralized Identity Management </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1f1fefa180934afdb49bdff90b12b311.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f1fefa180934afdb49bdff90b12b311.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a4035b9952a48219c44287e1f4f8d08.html" target="element"> Decentralized Identity Management </a> </td>
																				<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-78879cc8852d4d6380b16b6cf250edc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78879cc8852d4d6380b16b6cf250edc0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-795d17ec868645d8a18e40856bba4ee5.html" target="element"> eIDAS-Node </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8aa6b7f494f2496fb81d8481c13fb472.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8aa6b7f494f2496fb81d8481c13fb472.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-6ba64db6265e4697adfa86e040e8fb7b.html" target="element"> eIDAS-Proxy-Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31fd1d4c44724d2bae9d50ba74055902.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31fd1d4c44724d2bae9d50ba74055902.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-1981bb3c4584405fa9b9a8f6cadd41b3.html" target="element"> Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-935c15b4f5fd4041b7988d5cfd819b1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-935c15b4f5fd4041b7988d5cfd819b1e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-07948283665c4fc1a76a1a2c32a88038.html" target="element"> Keycloak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6dc3532493542acbbe6b539a94d011f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6dc3532493542acbbe6b539a94d011f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-25058911a6af4d6c990005c81afa53ed.html" target="element"> EU Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9859eced3c6401a8c450a93866fd75e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9859eced3c6401a8c450a93866fd75e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-57573d60deba402c8374c6d55103c461.html" target="element"> WSO2 Identity Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c468dd3ca03247e3bc597f75b9f37a17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c468dd3ca03247e3bc597f75b9f37a17.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c319ea52d5724e77a090e2a480f89db1.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-4c095f4b6c2141cbaf041684856e340a.html" target="element"> Fraunhofer Omejdn Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c756601dfb084f01969381cadc462388.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c756601dfb084f01969381cadc462388.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6ba64db6265e4697adfa86e040e8fb7b.html" target="element"> eIDAS-Proxy-Service </a> </td>
																				<td> <a href="../elements/id-795d17ec868645d8a18e40856bba4ee5.html" target="element"> eIDAS-Node </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cbae63dc66ec4faa8976c1ecea2b7715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbae63dc66ec4faa8976c1ecea2b7715.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element"> EU Login Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5159f505645408db916e61c030645f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5159f505645408db916e61c030645f2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-0b294d4658ce44008585ddb4dd66ade7.html" target="element"> EU Login Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1fcf1cbf0cb4d2d9203ad9655fe3072.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1fcf1cbf0cb4d2d9203ad9655fe3072.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-cdfd8f4cf4bd434bbc2b13cee0576c8e.html" target="element"> EU Login Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c70179be3d0e4587b3e55a555f26f551.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c70179be3d0e4587b3e55a555f26f551.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-c6715a12adad417f8afa888d234bdef9.html" target="element"> EU Login Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62ebae810ae64c6c825d33b15a51fd24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62ebae810ae64c6c825d33b15a51fd24.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d56aad3f1414c769cf490731763bc2f.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-0f15260c14454dcfb7afa0dc24e33ffe.html" target="element"> Identification and Access Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0a0a57eab3ee4a4c9ddd704ea6452592.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a0a57eab3ee4a4c9ddd704ea6452592.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-0b294d4658ce44008585ddb4dd66ade7.html" target="element"> EU Login Authentication </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fa2931c79f4947acb5c14f904ef9ce6a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa2931c79f4947acb5c14f904ef9ce6a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-c6715a12adad417f8afa888d234bdef9.html" target="element"> EU Login Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b773a3e57a884f5c9ede18d07dd1f726.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b773a3e57a884f5c9ede18d07dd1f726.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abc7c700a56147ea8b1cfc395ef87c15.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-cdfd8f4cf4bd434bbc2b13cee0576c8e.html" target="element"> EU Login Request Validation </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>