<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Organisational Agreements</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Organisational Agreements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8e9f7a45572f4a26b3c7cfd8e32140f4.png" alt="OV-Organisational Agreements" usemap="#id-8e9f7a45572f4a26b3c7cfd8e32140f4map"/>
			   <map name="id-8e9f7a45572f4a26b3c7cfd8e32140f4map">
				  				<area shape="rect" coords="1752,622,1885,691" href="../elements/id-57d687ef3f0b4154b9283f6dec29b8c6.html"  target="element">
				  				<area shape="rect" coords="1752,538,1885,607" href="../elements/id-3711cbd969ab4341bd921f3ecdad3064.html"  target="element">
				  				<area shape="rect" coords="1752,454,1885,523" href="../elements/id-369d7534842e4380b855d56445684f6a.html"  target="element">
				  				<area shape="rect" coords="1608,622,1741,691" href="../elements/id-05c76ccc4cce4b9b81c89f146e3fe270.html"  target="element">
				  				<area shape="rect" coords="1608,538,1741,607" href="../elements/id-3b6ab52c73fa41739a95a0edd0f6ed7d.html"  target="element">
				  				<area shape="rect" coords="1608,454,1741,523" href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html"  target="element">
				  				<area shape="rect" coords="1464,622,1597,691" href="../elements/id-18268cd5740b4723bee8061edbc490e2.html"  target="element">
				  				<area shape="rect" coords="1464,538,1597,607" href="../elements/id-9812bec946b94d7eab849b843e135975.html"  target="element">
				  				<area shape="rect" coords="1464,454,1597,523" href="../elements/id-12cd15b3ddbc482d932c3c45013da5aa.html"  target="element">

				  		<area shape="rect" coords="1440,418,1908,718" href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html"  target="element">
				  				<area shape="rect" coords="1248,454,1381,523" href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html"  target="element">
				  				<area shape="rect" coords="1248,538,1381,607" href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html"  target="element">
				  				<area shape="rect" coords="1248,622,1381,691" href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html"  target="element">
				  				<area shape="rect" coords="1104,454,1237,523" href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html"  target="element">
				  				<area shape="rect" coords="960,622,1093,691" href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html"  target="element">
				  				<area shape="rect" coords="816,706,949,775" href="../elements/id-51decb8babbe411891b812ce81adaf7f.html"  target="element">
				  				<area shape="rect" coords="960,538,1093,607" href="../elements/id-765193921d1943d986031e040aa2aefe.html"  target="element">
				  				<area shape="rect" coords="1104,706,1237,775" href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html"  target="element">
				  				<area shape="rect" coords="1104,622,1237,691" href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html"  target="element">
				  				<area shape="rect" coords="960,454,1093,523" href="../elements/id-90fed56d58634e9a8be66f359b312458.html"  target="element">
				  				<area shape="rect" coords="816,622,949,691" href="../elements/id-31d599f6da234f948f4cbf01495833bf.html"  target="element">
				  				<area shape="rect" coords="1104,538,1237,607" href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html"  target="element">
				  				<area shape="rect" coords="816,538,949,607" href="../elements/id-3d419e23db1746ba99ce823003170c13.html"  target="element">
				  				<area shape="rect" coords="1248,706,1381,775" href="../elements/id-02a5db22a3c14965a440348ddacae41a.html"  target="element">
				  				<area shape="rect" coords="960,706,1093,775" href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html"  target="element">
				  				<area shape="rect" coords="816,454,949,523" href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html"  target="element">

				  		<area shape="rect" coords="792,418,1405,791" href="../elements/id-954358663bf347f6aa7763ede4456c61.html"  target="element">
				  				<area shape="rect" coords="1680,46,1884,202" href="../elements/id-bb2d2b0010ec474887754191e2f2dc7a.html"  target="element">
				  				<area shape="rect" coords="1464,214,1668,286" href="../elements/id-3599edc973144f2db3daa63d3e55a471.html"  target="element">
				  				<area shape="rect" coords="1464,130,1668,202" href="../elements/id-01a66cf34f6b45c191c9a086a1f315e8.html"  target="element">
				  				<area shape="rect" coords="1464,46,1668,118" href="../elements/id-24ee9f91606b42aa8acb87e433913195.html"  target="element">
				  				<area shape="rect" coords="1248,214,1452,286" href="../elements/id-b811fe7cf3c442d0b7f5666a37310711.html"  target="element">
				  				<area shape="rect" coords="1248,130,1452,202" href="../elements/id-1ceddc56e9bd46fd8966d560b27edc84.html"  target="element">
				  				<area shape="rect" coords="1248,46,1452,118" href="../elements/id-a1fe15181b4b4da8b4b6e75b15a09d41.html"  target="element">
				  				<area shape="rect" coords="1032,214,1236,286" href="../elements/id-b3b7044d4b494d72886e0f2ea7c77f3f.html"  target="element">
				  				<area shape="rect" coords="1032,130,1236,202" href="../elements/id-187c866d24b74a7a804950c71cb90e8e.html"  target="element">
				  				<area shape="rect" coords="1032,46,1236,118" href="../elements/id-a80a9fd3e41c4c09b4250acc9f57e39e.html"  target="element">
				  				<area shape="rect" coords="816,214,1020,286" href="../elements/id-ea78287884384537b09e40bdcff3d007.html"  target="element">
				  				<area shape="rect" coords="816,130,1020,202" href="../elements/id-8cab7ba420974b0b976644c483cbdef5.html"  target="element">
				  				<area shape="rect" coords="816,46,1020,118" href="../elements/id-c7cee614d9034269abc033708ed4d408.html"  target="element">

				  		<area shape="rect" coords="792,10,1908,322" href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html"  target="element">
				  				<area shape="rect" coords="475,363,668,459" href="../elements/id-3ce8962fbd7942d4a18f09b245767f00.html"  target="element">

				  		<area shape="rect" coords="403,327,727,484" href="../elements/id-fea732e13d3a4ab8b2d5a0c020b5894b.html"  target="element">
				  				<area shape="rect" coords="82,137,282,217" href="../elements/id-2c395c4c25c54511b209e66759ef8473.html"  target="element">

				  		<area shape="rect" coords="10,83,358,249" href="../elements/id-1842ccf043ea45faae63a6bb8cf441d2.html"  target="element">
				  		<area shape="rect" coords="468,118,661,214" href="../elements/id-8aacd907974144f7886532858f394277.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Organisational Agreements view extends Organisational view and provides a comprehensive framework for leveraging various elements that are crucial for the functioning of an organisation. This view is designed to provide a detailed understanding of the organisational agreements and their associated elements.

The first element is the "Organisational Agreement", which is of the type "Contract ABB". The Organisational Agreement ABB is a Contract that enables any agreement to which the Organisation or any Restricted Subsidiary is a party pursuant. This implies that this contract is a binding agreement that the organisation or its restricted subsidiaries must adhere to.

The second element is the "Business Agnostic Organisational Agreement Catalogue", which is of the type "Grouping ABB". This catalogue is a collection of organisational agreements that are business-agnostic, meaning they are applicable regardless of the specific business context or industry. This catalogue includes a sub-element named "National Governance Models", which is of the type "Contract ABB". The National Governance Models are contracts that define the governance models at a national level.

The third element is the "Business Agnostic Organisational Agreement Solutions", which is also of the type "Grouping ABB". This element represents a collection of solutions that are business-agnostic and pertain to organisational agreements. This includes a sub-element named "Code of Conduct for Energy Efficiency in Data Centres", which is of the type "Contract SBB". This contract outlines the code of conduct for maintaining energy efficiency in data centres.

The relationships between these elements are defined by their hierarchical structure. The Organisational Agreement is a standalone element, while the Business Agnostic Organisational Agreement Catalogue and Business Agnostic Organisational Agreement Solutions are groupings that contain specific contracts. These contracts, namely the National Governance Models and the Code of Conduct for Energy Efficiency in Data Centres, are part of their respective groupings and contribute to the overall organisational agreements framework.

The motivation for this structure is to provide a comprehensive and structured view of the organisational agreements, allowing for a clear understanding of the various contracts and their implications. This helps in ensuring compliance and effective governance within the organisation.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8aacd907974144f7886532858f394277.html" target="element"> Organisational Agreement </a> </td>
											    <td> <a href="../elements/id-8aacd907974144f7886532858f394277.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1842ccf043ea45faae63a6bb8cf441d2.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-1842ccf043ea45faae63a6bb8cf441d2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2c395c4c25c54511b209e66759ef8473.html" target="element"> National Governance Models </a> </td>
													    <td> <a href="../elements/id-2c395c4c25c54511b209e66759ef8473.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fea732e13d3a4ab8b2d5a0c020b5894b.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-fea732e13d3a4ab8b2d5a0c020b5894b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3ce8962fbd7942d4a18f09b245767f00.html" target="element"> Code of Conduct for Energy Efficiency in Data Centres </a> </td>
													    <td> <a href="../elements/id-3ce8962fbd7942d4a18f09b245767f00.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
											    <td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c7cee614d9034269abc033708ed4d408.html" target="element"> eHealth Network - Governance model for the eHealth Digital Service Infrastructure </a> </td>
													    <td> <a href="../elements/id-c7cee614d9034269abc033708ed4d408.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cab7ba420974b0b976644c483cbdef5.html" target="element"> Remote sensing practices </a> </td>
													    <td> <a href="../elements/id-8cab7ba420974b0b976644c483cbdef5.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea78287884384537b09e40bdcff3d007.html" target="element"> Exchange of medical data </a> </td>
													    <td> <a href="../elements/id-ea78287884384537b09e40bdcff3d007.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a80a9fd3e41c4c09b4250acc9f57e39e.html" target="element"> Accreditation of private healthcare facilities </a> </td>
													    <td> <a href="../elements/id-a80a9fd3e41c4c09b4250acc9f57e39e.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-187c866d24b74a7a804950c71cb90e8e.html" target="element"> Recognition of health professions </a> </td>
													    <td> <a href="../elements/id-187c866d24b74a7a804950c71cb90e8e.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3b7044d4b494d72886e0f2ea7c77f3f.html" target="element"> Certification of laboratory practice </a> </td>
													    <td> <a href="../elements/id-b3b7044d4b494d72886e0f2ea7c77f3f.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1fe15181b4b4da8b4b6e75b15a09d41.html" target="element">  Policy for availability of pharmacies </a> </td>
													    <td> <a href="../elements/id-a1fe15181b4b4da8b4b6e75b15a09d41.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ceddc56e9bd46fd8966d560b27edc84.html" target="element"> Cross border exchange of health data for secondary use </a> </td>
													    <td> <a href="../elements/id-1ceddc56e9bd46fd8966d560b27edc84.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b811fe7cf3c442d0b7f5666a37310711.html" target="element"> Clinical guidelines on imaging diagnosis </a> </td>
													    <td> <a href="../elements/id-b811fe7cf3c442d0b7f5666a37310711.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-24ee9f91606b42aa8acb87e433913195.html" target="element"> Use of remote sensing in patient summary information </a> </td>
													    <td> <a href="../elements/id-24ee9f91606b42aa8acb87e433913195.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01a66cf34f6b45c191c9a086a1f315e8.html" target="element"> Transformation of primary data into secondary data </a> </td>
													    <td> <a href="../elements/id-01a66cf34f6b45c191c9a086a1f315e8.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3599edc973144f2db3daa63d3e55a471.html" target="element"> Reuse of medical data </a> </td>
													    <td> <a href="../elements/id-3599edc973144f2db3daa63d3e55a471.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb2d2b0010ec474887754191e2f2dc7a.html" target="element"> Agreement between National Authorities or National Organisations responsible for National Contact Points for eHealth on the Criteria required for the participation in Cross-Border eHealth Information Services </a> </td>
													    <td> <a href="../elements/id-bb2d2b0010ec474887754191e2f2dc7a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
											    <td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element"> Hospital </a> </td>
													    <td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element"> National institute for health and welfare </a> </td>
													    <td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element"> Patient </a> </td>
													    <td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element"> Private healthcare institution </a> </td>
													    <td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element"> Health insurance company </a> </td>
													    <td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element"> Health professionals association </a> </td>
													    <td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element"> Health professional </a> </td>
													    <td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element"> Ministry of Health </a> </td>
													    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element"> Social insurance institution </a> </td>
													    <td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element"> Healthcare institution </a> </td>
													    <td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element"> Researcher </a> </td>
													    <td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element"> Pharmacy </a> </td>
													    <td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element"> Testing and experimentation facility for health </a> </td>
													    <td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element"> National statistics institute </a> </td>
													    <td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element"> National pension institution </a> </td>
													    <td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element"> BioBank Institution </a> </td>
													    <td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
											    <td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-12cd15b3ddbc482d932c3c45013da5aa.html" target="element"> Data Permit Authority </a> </td>
													    <td> <a href="../elements/id-12cd15b3ddbc482d932c3c45013da5aa.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9812bec946b94d7eab849b843e135975.html" target="element"> National medicines agency </a> </td>
													    <td> <a href="../elements/id-9812bec946b94d7eab849b843e135975.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18268cd5740b4723bee8061edbc490e2.html" target="element"> National Contact Point </a> </td>
													    <td> <a href="../elements/id-18268cd5740b4723bee8061edbc490e2.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element"> Ministry of Health </a> </td>
													    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b6ab52c73fa41739a95a0edd0f6ed7d.html" target="element"> Research infrastructures </a> </td>
													    <td> <a href="../elements/id-3b6ab52c73fa41739a95a0edd0f6ed7d.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05c76ccc4cce4b9b81c89f146e3fe270.html" target="element"> National Contact Point for eHealth </a> </td>
													    <td> <a href="../elements/id-05c76ccc4cce4b9b81c89f146e3fe270.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-369d7534842e4380b855d56445684f6a.html" target="element"> Legal Authority for eHealth </a> </td>
													    <td> <a href="../elements/id-369d7534842e4380b855d56445684f6a.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3711cbd969ab4341bd921f3ecdad3064.html" target="element"> Health and social care supervisory authority </a> </td>
													    <td> <a href="../elements/id-3711cbd969ab4341bd921f3ecdad3064.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57d687ef3f0b4154b9283f6dec29b8c6.html" target="element"> Health Data Research Hubs </a> </td>
													    <td> <a href="../elements/id-57d687ef3f0b4154b9283f6dec29b8c6.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9280cfd7b67641d5baf2374866f4ddcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9280cfd7b67641d5baf2374866f4ddcc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1842ccf043ea45faae63a6bb8cf441d2.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-2c395c4c25c54511b209e66759ef8473.html" target="element"> National Governance Models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-803c29a6f8a1437f97eb847800a70e63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-803c29a6f8a1437f97eb847800a70e63.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1842ccf043ea45faae63a6bb8cf441d2.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-8aacd907974144f7886532858f394277.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d1515cab95f94cf1afc3eb8f404eef5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1515cab95f94cf1afc3eb8f404eef5f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fea732e13d3a4ab8b2d5a0c020b5894b.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-8aacd907974144f7886532858f394277.html" target="element"> Organisational Agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4095b619a98a4772b99565a6312b53e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4095b619a98a4772b99565a6312b53e9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fea732e13d3a4ab8b2d5a0c020b5894b.html" target="element"> Business Agnostic Organisational Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-3ce8962fbd7942d4a18f09b245767f00.html" target="element"> Code of Conduct for Energy Efficiency in Data Centres </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c9f30a1c8c4a45d8897934660eb243c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9f30a1c8c4a45d8897934660eb243c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-a1fe15181b4b4da8b4b6e75b15a09d41.html" target="element">  Policy for availability of pharmacies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c6eb2dc51384400ac01694a37f68377.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c6eb2dc51384400ac01694a37f68377.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-8cab7ba420974b0b976644c483cbdef5.html" target="element"> Remote sensing practices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de1056255aeb43ae8815d5072a81b935.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de1056255aeb43ae8815d5072a81b935.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-bb2d2b0010ec474887754191e2f2dc7a.html" target="element"> Agreement between National Authorities or National Organisations responsible for National Contact Points for eHealth on the Criteria required for the participation in Cross-Border eHealth Information Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0c09c47bcc64de7aba1fb61b801e58f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0c09c47bcc64de7aba1fb61b801e58f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-a80a9fd3e41c4c09b4250acc9f57e39e.html" target="element"> Accreditation of private healthcare facilities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd02c619c85c41e58d44a6ceda310d8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd02c619c85c41e58d44a6ceda310d8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-1ceddc56e9bd46fd8966d560b27edc84.html" target="element"> Cross border exchange of health data for secondary use </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50cf7033654a494b963260cb594e2973.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50cf7033654a494b963260cb594e2973.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-ea78287884384537b09e40bdcff3d007.html" target="element"> Exchange of medical data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e04a1a59f75e4812b3390ad3052259d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e04a1a59f75e4812b3390ad3052259d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-b811fe7cf3c442d0b7f5666a37310711.html" target="element"> Clinical guidelines on imaging diagnosis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a77d3827e244ec4bc9a2c3f0cb4e815.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a77d3827e244ec4bc9a2c3f0cb4e815.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-c7cee614d9034269abc033708ed4d408.html" target="element"> eHealth Network - Governance model for the eHealth Digital Service Infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c038ea5abf8e44428a361e3de92712d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c038ea5abf8e44428a361e3de92712d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-b3b7044d4b494d72886e0f2ea7c77f3f.html" target="element"> Certification of laboratory practice </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-062bfcd4da4a479eae75e3620b273934.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-062bfcd4da4a479eae75e3620b273934.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-187c866d24b74a7a804950c71cb90e8e.html" target="element"> Recognition of health professions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c81cc6a59a9349e9b928de0faccaff36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c81cc6a59a9349e9b928de0faccaff36.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-3599edc973144f2db3daa63d3e55a471.html" target="element"> Reuse of medical data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b30dd97c075a42d88215319e98a49522.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b30dd97c075a42d88215319e98a49522.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-01a66cf34f6b45c191c9a086a1f315e8.html" target="element"> Transformation of primary data into secondary data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb588e32e6ac490ea8815c9f208a55a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb588e32e6ac490ea8815c9f208a55a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-24ee9f91606b42aa8acb87e433913195.html" target="element"> Use of remote sensing in patient summary information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e02ae5aa2404d28b944a68547d98956.html" target="element"> Signed by </a> </td>
																		<td> <a href="../elements/id-3e02ae5aa2404d28b944a68547d98956.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81eab64aa4304da1afe27a66442b3198.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81eab64aa4304da1afe27a66442b3198.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																		<td> <a href="../elements/id-8aacd907974144f7886532858f394277.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ff41e743ca5b46ba89d953f2d8341618.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff41e743ca5b46ba89d953f2d8341618.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element"> Pharmacy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dfe88366a88240768fa2481e0acc3a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfe88366a88240768fa2481e0acc3a1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element"> Hospital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eee74a8eba8a4992b5ffc9302b44aaaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eee74a8eba8a4992b5ffc9302b44aaaf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element"> Health insurance company </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e5cff01a89043cdb17b997f8c108755.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e5cff01a89043cdb17b997f8c108755.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element"> Private healthcare institution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a27f471478964ce2b88dc29db952d641.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a27f471478964ce2b88dc29db952d641.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element"> Health professional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d10e6a47b9674729a31de07bd42a3bf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d10e6a47b9674729a31de07bd42a3bf8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element"> Healthcare institution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72bb128313a8451a9057e40ddbb91d35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72bb128313a8451a9057e40ddbb91d35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element"> National pension institution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5656a40fbe424685bc1e70cfed8667d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5656a40fbe424685bc1e70cfed8667d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element"> BioBank Institution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca3b55db112f449bbd4ce59f500f5ab3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca3b55db112f449bbd4ce59f500f5ab3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element"> National statistics institute </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e21b96a7f4d49e4b8cb80a344694983.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e21b96a7f4d49e4b8cb80a344694983.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element"> Researcher </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6947873166ed4afeb19a7a4ee3834f36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6947873166ed4afeb19a7a4ee3834f36.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element"> National institute for health and welfare </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e367e1ae5164262848ca4881c582c09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e367e1ae5164262848ca4881c582c09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element"> Health professionals association </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3eca668d3c154a688b0a2539549f0d5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3eca668d3c154a688b0a2539549f0d5e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element"> Social insurance institution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5831160db4db4040bf07fb95fc4725a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5831160db4db4040bf07fb95fc4725a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element"> Patient </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab5c15587ab24da6acfd5c43b8ea07bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab5c15587ab24da6acfd5c43b8ea07bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element"> Testing and experimentation facility for health </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebe43da848874ff089acd2dcc13f9d9a.html" target="element"> Signs or agrees upon </a> </td>
																		<td> <a href="../elements/id-ebe43da848874ff089acd2dcc13f9d9a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																		<td> <a href="../elements/id-97b63a68d5464f8c8a514e8bc0b9ebe5.html" target="element"> Health Organisational Agreements Catalogue </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-895b73029f814a0f86c77c45436c93df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-895b73029f814a0f86c77c45436c93df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-9812bec946b94d7eab849b843e135975.html" target="element"> National medicines agency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24a372e1fec646cb9b4e8c30f999bbfa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24a372e1fec646cb9b4e8c30f999bbfa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-369d7534842e4380b855d56445684f6a.html" target="element"> Legal Authority for eHealth </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e4b5fb7583d4681884f183431bf7f21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e4b5fb7583d4681884f183431bf7f21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element"> Ministry of Health </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b49fd5f35a3b42a7a3e5a91910470ef1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b49fd5f35a3b42a7a3e5a91910470ef1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-18268cd5740b4723bee8061edbc490e2.html" target="element"> National Contact Point </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a360ee65e0ba46d0a5a3775fcdaf5fbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a360ee65e0ba46d0a5a3775fcdaf5fbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-05c76ccc4cce4b9b81c89f146e3fe270.html" target="element"> National Contact Point for eHealth </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49ba77fe0d5241879cdb8fe95e6581fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49ba77fe0d5241879cdb8fe95e6581fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-3711cbd969ab4341bd921f3ecdad3064.html" target="element"> Health and social care supervisory authority </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2d1a9d0b9e9416c8825a32a9ab770ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2d1a9d0b9e9416c8825a32a9ab770ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-57d687ef3f0b4154b9283f6dec29b8c6.html" target="element"> Health Data Research Hubs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee340c2369f44a55a2c65fadd6837a92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee340c2369f44a55a2c65fadd6837a92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-12cd15b3ddbc482d932c3c45013da5aa.html" target="element"> Data Permit Authority </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f984c305d395420ebd21d17cb8bc33b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f984c305d395420ebd21d17cb8bc33b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-830d4981abfb4e57a9198b25ad4a23e7.html" target="element"> Health Digital Public Service Providers Catalogue </a> </td>
																		<td> <a href="../elements/id-3b6ab52c73fa41739a95a0edd0f6ed7d.html" target="element"> Research infrastructures </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>