<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Dataset [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Dataset [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a4e10188ad584653a0cb2a632abf25f4.png" alt="SV-Dataset [Motivation]" usemap="#id-a4e10188ad584653a0cb2a632abf25f4map"/>
			   <map name="id-a4e10188ad584653a0cb2a632abf25f4map">
				  		<area shape="rect" coords="262,226,450,321" href="../elements/id-3e940b3f9e074a6cb210d85ac863f3d3.html"  target="element">
				  		<area shape="rect" coords="10,395,198,490" href="../elements/id-bc3d50f4c8694eab84aef35de8928981.html"  target="element">
				  		<area shape="rect" coords="262,395,450,490" href="../elements/id-083346147785474ba638663baf68a1f2.html"  target="element">
				  				<area shape="rect" coords="1042,778,1242,858" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">
				  				<area shape="rect" coords="1042,682,1242,762" href="../elements/id-6c420668484a4f5885fc2235b8b423a6.html"  target="element">
				  				<area shape="rect" coords="1042,586,1242,666" href="../elements/id-535700ebdedd43b68912aac75f08bc03.html"  target="element">
				  				<area shape="rect" coords="1042,154,1242,234" href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html"  target="element">
				  				<area shape="rect" coords="1042,466,1242,546" href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html"  target="element">
				  				<area shape="rect" coords="1042,358,1242,438" href="../elements/id-1d32f48e53c649c395830f4b7dae5196.html"  target="element">
				  				<area shape="rect" coords="1042,250,1242,330" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">
				  				<area shape="rect" coords="1042,58,1242,138" href="../elements/id-ba3a14a2b0b84b24b4a68b0f72887cc0.html"  target="element">

				          <area shape="rect" coords="994,10,1295,875" href="../objects/id-9ca47f7fd2774017ac02af49eb8413bf.html" target="element" >
				  				<area shape="rect" coords="610,370,810,450" href="../elements/id-26c8b8c15ab048739f1efd0fbd1bc7d5.html"  target="element">
				  				<area shape="rect" coords="610,766,810,846" href="../elements/id-6e8211d7d28444f2a2794fbc66224387.html"  target="element">
				  				<area shape="rect" coords="610,154,810,234" href="../elements/id-2f27e005b97e421b86971490e051d071.html"  target="element">
				  				<area shape="rect" coords="610,466,810,546" href="../elements/id-0335d8a6fe8d4ac69801bdd8c76cd9c0.html"  target="element">
				  				<area shape="rect" coords="610,58,810,138" href="../elements/id-43085be9d2d8420a81220a932a11d3a7.html"  target="element">
				  				<area shape="rect" coords="610,670,810,750" href="../elements/id-5e821c9ac2064d51a184cbe5766e2206.html"  target="element">
				  				<area shape="rect" coords="610,574,810,654" href="../elements/id-63f4b7c9a1b2440ab1e3e82d55cc2cde.html"  target="element">

				  		<area shape="rect" coords="574,10,851,875" href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Dataset [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging various types of data objects and their associated metadata. This view is primarily composed of three main elements: the Business Agnostic Dataset Catalogue, the Business Agnostic Business Information Base, and the Data Objects ABBs.

The Business Agnostic Dataset Catalogue is a Grouping ABB that contains several Data Object ABBs, each representing a specific type of metadata. These include Multimedia Object Metadata, Log Metadata, Translation Item Metadata, Transaction Metadata, Exchange Item Metadata, Tender Item Metadata, and Authorised Payment Methods Metadata. Each of these metadata types provides structured information about a specific aspect of data, such as multimedia assets, log events, translation items, transactions, exchange items, tender items, and authorized payment methods. The metadata helps in identifying, organizing, retrieving, analyzing, and managing the corresponding data assets, thereby enabling efficient data operations.

The Business Agnostic Business Information Base is a Diagram Model-group ABB that contains several Business Object ABBs. These represent various types of business information, including Location, Data Quality, Payment, Transaction, Message, Document, Audit Trail, and Availability. Each of these business objects provides specific business-related information, which is crucial for the operation and management of business activities.

The Data Objects ABBs include Dataset, Reference Data, and Master Data. The Dataset ABB represents a collection of related data organized in a structured format. The Reference Data ABB enables the definition of a set of values or codes used to categorize, classify, or describe data elements in a consistent and standardized way. The Master Data ABB enables the implementation of non-transactional information that plays a key role in the core operation of a business in public administrations and is re-used for multiple purposes.

The relationships among these elements are defined by their hierarchical structure in the JSON. The Business Agnostic Dataset Catalogue and the Business Agnostic Business Information Base are at the top level, each containing several sub-elements. The Data Objects ABBs are at the same level as these two main elements, indicating their independent but equally important roles in the data architecture. The motivation behind this structure is to provide a comprehensive and flexible framework for managing a wide range of data types and their associated metadata, thereby supporting efficient data operations and business activities.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-63f4b7c9a1b2440ab1e3e82d55cc2cde.html" target="element"> Multimedia Object Metadata </a> </td>
													    <td> <a href="../elements/id-63f4b7c9a1b2440ab1e3e82d55cc2cde.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5e821c9ac2064d51a184cbe5766e2206.html" target="element"> Log Metadata </a> </td>
													    <td> <a href="../elements/id-5e821c9ac2064d51a184cbe5766e2206.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-43085be9d2d8420a81220a932a11d3a7.html" target="element"> Translation Item Metadata </a> </td>
													    <td> <a href="../elements/id-43085be9d2d8420a81220a932a11d3a7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0335d8a6fe8d4ac69801bdd8c76cd9c0.html" target="element"> Transaction metadata </a> </td>
													    <td> <a href="../elements/id-0335d8a6fe8d4ac69801bdd8c76cd9c0.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f27e005b97e421b86971490e051d071.html" target="element"> Exchange Item metadata </a> </td>
													    <td> <a href="../elements/id-2f27e005b97e421b86971490e051d071.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e8211d7d28444f2a2794fbc66224387.html" target="element"> Tender Item Metadata </a> </td>
													    <td> <a href="../elements/id-6e8211d7d28444f2a2794fbc66224387.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26c8b8c15ab048739f1efd0fbd1bc7d5.html" target="element"> Authorised payment methods metadata </a> </td>
													    <td> <a href="../elements/id-26c8b8c15ab048739f1efd0fbd1bc7d5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9ca47f7fd2774017ac02af49eb8413bf.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-9ca47f7fd2774017ac02af49eb8413bf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-ba3a14a2b0b84b24b4a68b0f72887cc0.html" target="element"> Location </a> </td>
													    <td> <a href="../elements/id-ba3a14a2b0b84b24b4a68b0f72887cc0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d32f48e53c649c395830f4b7dae5196.html" target="element"> Payment </a> </td>
													    <td> <a href="../elements/id-1d32f48e53c649c395830f4b7dae5196.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element"> Transaction </a> </td>
													    <td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6c420668484a4f5885fc2235b8b423a6.html" target="element"> Audit trail </a> </td>
													    <td> <a href="../elements/id-6c420668484a4f5885fc2235b8b423a6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc3d50f4c8694eab84aef35de8928981.html" target="element"> Reference Data </a> </td>
											    <td> <a href="../elements/id-bc3d50f4c8694eab84aef35de8928981.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e940b3f9e074a6cb210d85ac863f3d3.html" target="element"> Master Data </a> </td>
											    <td> <a href="../elements/id-3e940b3f9e074a6cb210d85ac863f3d3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e5e4f65414ee4d149027da86d8180291.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5e4f65414ee4d149027da86d8180291.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-6e8211d7d28444f2a2794fbc66224387.html" target="element"> Tender Item Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de838760b79445df9360260f7143f850.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de838760b79445df9360260f7143f850.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-2f27e005b97e421b86971490e051d071.html" target="element"> Exchange Item metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cbd24ec3a0e4916aaf3ad425384c25e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cbd24ec3a0e4916aaf3ad425384c25e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-26c8b8c15ab048739f1efd0fbd1bc7d5.html" target="element"> Authorised payment methods metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ffec9efa634043c7a67fbfcd0c86d0ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffec9efa634043c7a67fbfcd0c86d0ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-43085be9d2d8420a81220a932a11d3a7.html" target="element"> Translation Item Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b0def6646c74e7cb15023d41a6b0f2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b0def6646c74e7cb15023d41a6b0f2f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-63f4b7c9a1b2440ab1e3e82d55cc2cde.html" target="element"> Multimedia Object Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10e0ad0936934712991d13fd3b30d7a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10e0ad0936934712991d13fd3b30d7a0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-5e821c9ac2064d51a184cbe5766e2206.html" target="element"> Log Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f61ff2a2b36148539f45f7490f4daeb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f61ff2a2b36148539f45f7490f4daeb7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-0335d8a6fe8d4ac69801bdd8c76cd9c0.html" target="element"> Transaction metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a40d7b831927420a99eccc28baadab36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a40d7b831927420a99eccc28baadab36.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83bc02661a1b494e9bba3d5355aa197a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83bc02661a1b494e9bba3d5355aa197a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c73b90d89a694122b68f4c556c81b5bf.html" target="element"> Business Agnostic Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-50f07ece779249daa6ad529105787fb7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50f07ece779249daa6ad529105787fb7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e821c9ac2064d51a184cbe5766e2206.html" target="element"> Log Metadata </a> </td>
																				<td> <a href="../elements/id-6c420668484a4f5885fc2235b8b423a6.html" target="element"> Audit trail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-35c6670e1a3c46cc9aaa91d460e13cba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-35c6670e1a3c46cc9aaa91d460e13cba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43085be9d2d8420a81220a932a11d3a7.html" target="element"> Translation Item Metadata </a> </td>
																				<td> <a href="../elements/id-ba3a14a2b0b84b24b4a68b0f72887cc0.html" target="element"> Location </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2b432c2fc034029af50742b88f4fe64.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2b432c2fc034029af50742b88f4fe64.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0335d8a6fe8d4ac69801bdd8c76cd9c0.html" target="element"> Transaction metadata </a> </td>
																				<td> <a href="../elements/id-3030c3676c864c9393bd23f1f0366b78.html" target="element"> Transaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-549ad0650e354caa8dab6efed24a668c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-549ad0650e354caa8dab6efed24a668c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f27e005b97e421b86971490e051d071.html" target="element"> Exchange Item metadata </a> </td>
																				<td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d9620437b31e4f279d0528945ac5a5e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9620437b31e4f279d0528945ac5a5e9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e8211d7d28444f2a2794fbc66224387.html" target="element"> Tender Item Metadata </a> </td>
																				<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-12491670579f4e14bdbdf8b71c8bdade.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-12491670579f4e14bdbdf8b71c8bdade.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26c8b8c15ab048739f1efd0fbd1bc7d5.html" target="element"> Authorised payment methods metadata </a> </td>
																				<td> <a href="../elements/id-1d32f48e53c649c395830f4b7dae5196.html" target="element"> Payment </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-5a026fd3d7c24819867c8bd4d4f12d0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a026fd3d7c24819867c8bd4d4f12d0a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc3d50f4c8694eab84aef35de8928981.html" target="element"> Reference Data </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-21aab2342cf44eec9b3afd79a524b119.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21aab2342cf44eec9b3afd79a524b119.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e940b3f9e074a6cb210d85ac863f3d3.html" target="element"> Master Data </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e47fde9b2303480dbecedbbfbc10bbbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e47fde9b2303480dbecedbbfbc10bbbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e940b3f9e074a6cb210d85ac863f3d3.html" target="element"> Master Data </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>