<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Metadata Catalogue [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Metadata Catalogue [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-af924541c5bf48b6898c5d5defa231f5.png" alt="SV-Metadata Catalogue [Motivation]" usemap="#id-af924541c5bf48b6898c5d5defa231f5map"/>
			   <map name="id-af924541c5bf48b6898c5d5defa231f5map">
				  		<area shape="rect" coords="54,298,254,378" href="../elements/id-2d1d1afeef4d4c6ebd60e47e8a7bc539.html"  target="element">
				  				<area shape="rect" coords="58,154,258,234" href="../elements/id-f9d053e3f03b4169a16c981c16c9c984.html"  target="element">
				  				<area shape="rect" coords="58,58,258,138" href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html"  target="element">

				  		<area shape="rect" coords="10,10,299,251" href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html"  target="element">
				  				<area shape="rect" coords="370,154,570,234" href="../elements/id-29ebbe99e202481c9ec699837a477041.html"  target="element">
				  				<area shape="rect" coords="370,58,570,138" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">

				          <area shape="rect" coords="346,22,598,263" href="../objects/id-f76845c982854043bdeb5b74ae6031ed.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Metadata Catalogue [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the business agnostic business information base and metadata catalogue solutions. 

The first element is the "Business Agnostic Business Information Base", which is a Diagram Model-group ABB. This element serves as a general framework for business information, irrespective of the specific business context. Within this base, there are two sub-elements: "Availability" and "Digital Asset". Both are Business Object ABBs, representing different types of business information. "Availability" refers to information about the availability of resources or services, while "Digital Asset" refers to information about digital resources or assets.

The second element is the "Business Agnostic Metadata Catalogue Solutions", a Grouping ABB that provides a collection of solutions for managing metadata in a business-agnostic manner. This group includes two Data Object SBBs: "Official Portal for European Data" and "JRC Data Catalogue". The "Official Portal for European Data" is a central access point for open data from various European sources, while the "JRC Data Catalogue" is a collection of metadata records about datasets produced by the Joint Research Centre (JRC), which provides scientific advice and support to the policies of the European Union.

The third element is the "Metadata Catalogue", a Data Object ABB that represents a collection of descriptive information about data, resources, or information objects related to public services. This catalogue serves as a repository for metadata, facilitating the management and utilization of data in the context of public services.

The relationships between these elements are defined by their hierarchical structure. The "Business Agnostic Business Information Base" and "Business Agnostic Metadata Catalogue Solutions" are both part of the overarching SV-Metadata Catalogue [Motivation] view, while the "Availability" and "Digital Asset" Business Object ABBs are part of the "Business Agnostic Business Information Base", and the "Official Portal for European Data" and "JRC Data Catalogue" Data Object SBBs are part of the "Business Agnostic Metadata Catalogue Solutions". The "Metadata Catalogue" stands alone as a separate element within the view.

The motivation behind this view is to provide a comprehensive framework for managing and utilizing business information and metadata in a way that is not tied to any specific business context. This allows for greater flexibility and adaptability in the use of data and information resources.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f76845c982854043bdeb5b74ae6031ed.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-f76845c982854043bdeb5b74ae6031ed.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element"> Digital Asset </a> </td>
													    <td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element"> Business Agnostic Metadata Catalogue Solutions </a> </td>
											    <td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html" target="element"> Official Portal for European Data </a> </td>
													    <td> <a href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9d053e3f03b4169a16c981c16c9c984.html" target="element"> JRC Data Catalogue </a> </td>
													    <td> <a href="../elements/id-f9d053e3f03b4169a16c981c16c9c984.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2d1d1afeef4d4c6ebd60e47e8a7bc539.html" target="element"> Metadata Catalogue </a> </td>
											    <td> <a href="../elements/id-2d1d1afeef4d4c6ebd60e47e8a7bc539.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-a6bf421d66564fb88d1818012f47d52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6bf421d66564fb88d1818012f47d52c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element"> Business Agnostic Metadata Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-f9d053e3f03b4169a16c981c16c9c984.html" target="element"> JRC Data Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8fac4e80226421fa2ea081b2e46ab65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8fac4e80226421fa2ea081b2e46ab65.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element"> Business Agnostic Metadata Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a93d67ee08e42ab96ea58dedafd5816.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a93d67ee08e42ab96ea58dedafd5816.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element"> Business Agnostic Metadata Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-29ebbe99e202481c9ec699837a477041.html" target="element"> Digital Asset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eceaadc5ba514c83a25c966089e87110.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eceaadc5ba514c83a25c966089e87110.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dd1eb6e43a342f68f679e774eb40f84.html" target="element"> Business Agnostic Metadata Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-2d1d1afeef4d4c6ebd60e47e8a7bc539.html" target="element"> Metadata Catalogue </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>