<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Knowledge Discovery Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Knowledge Discovery Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aa6acd4ec6a1496eaa604b682aa49921.png" alt="TVA-Knowledge Discovery Enablers [Motivation]" usemap="#id-aa6acd4ec6a1496eaa604b682aa49921map"/>
			   <map name="id-aa6acd4ec6a1496eaa604b682aa49921map">
				  				<area shape="rect" coords="430,406,637,509" href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html"  target="element">
				  				<area shape="rect" coords="430,166,637,269" href="../elements/id-5b3e4a26d1514268a80ab1151642fc51.html"  target="element">
				  				<area shape="rect" coords="430,286,637,389" href="../elements/id-10d0b96223cb4a5d99d1fd8f94291f10.html"  target="element">
				  				<area shape="rect" coords="430,46,637,149" href="../elements/id-3930ed3eb2214275908f96b52ffd5571.html"  target="element">

				  		<area shape="rect" coords="394,10,671,527" href="../elements/id-1884290c856d437fa3ff9841498474e5.html"  target="element">
				  				<area shape="rect" coords="34,172,241,275" href="../elements/id-031512b65371474db26c4261c4e4f2aa.html"  target="element">

				          <area shape="rect" coords="10,100,275,317" href="../objects/id-53560a74641e48c5ab0e9f94b42e3818.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Technical view - Application Knowledge Discovery" viewpoint extends technical view application and provides a comprehensive framework for leveraging knowledge discovery capabilities within digital applications. This view associates the Application Knowledge Discovery with Knowledge Discovery Business Services from the application layer.
Within this view, Application Knowledge Discovery refers to the process of extracting meaningful insights, patterns, and knowledge from large volumes of data within digital applications. It encompasses techniques such as data mining, machine learning, and natural language processing to uncover hidden patterns and derive valuable insights.
Knowledge Discovery Business Services leverage Application Knowledge Discovery to enable organizations to gain actionable insights, identify trends, and make data-driven decisions. By utilizing knowledge discovery techniques, organizations can unlock valuable knowledge and extract meaningful information from their data within the digital ecosystem.
By associating the Application Knowledge Discovery with Knowledge Discovery Business Services, the "Technical view - Application Knowledge Discovery" empowers organizations to leverage advanced analytical techniques and algorithms to uncover insights and enhance decision-making processes within their digital applications.
The use of Application Knowledge Discovery allows organizations to automate the process of extracting knowledge from data, reducing manual effort and uncovering valuable insights that can drive business success. It enables organizations to discover patterns, make predictions, and gain a deeper understanding of their data, enabling informed decision-making and improving operational efficiency.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-53560a74641e48c5ab0e9f94b42e3818.html" target="element"> Business Agnostic Knowledge Discovery Service </a> </td>
									           <td> <a href="../objects/id-53560a74641e48c5ab0e9f94b42e3818.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1884290c856d437fa3ff9841498474e5.html" target="element"> Knowledge Discovery Enablers </a> </td>
											    <td> <a href="../elements/id-1884290c856d437fa3ff9841498474e5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3930ed3eb2214275908f96b52ffd5571.html" target="element"> Knowledge Discovery </a> </td>
													    <td> <a href="../elements/id-3930ed3eb2214275908f96b52ffd5571.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10d0b96223cb4a5d99d1fd8f94291f10.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-10d0b96223cb4a5d99d1fd8f94291f10.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b3e4a26d1514268a80ab1151642fc51.html" target="element"> Knowledge Exchange </a> </td>
													    <td> <a href="../elements/id-5b3e4a26d1514268a80ab1151642fc51.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element"> Vocabulary Hub </a> </td>
													    <td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-67f922a7ffc140f292e440c5d94c6e72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67f922a7ffc140f292e440c5d94c6e72.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1884290c856d437fa3ff9841498474e5.html" target="element"> Knowledge Discovery Enablers </a> </td>
																		<td> <a href="../elements/id-10d0b96223cb4a5d99d1fd8f94291f10.html" target="element"> Knowledge Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3dbf0f2ddbf845c1926a25ed57979eda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3dbf0f2ddbf845c1926a25ed57979eda.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1884290c856d437fa3ff9841498474e5.html" target="element"> Knowledge Discovery Enablers </a> </td>
																		<td> <a href="../elements/id-5b3e4a26d1514268a80ab1151642fc51.html" target="element"> Knowledge Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11741f06ea914912808038a2131d2b00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11741f06ea914912808038a2131d2b00.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1884290c856d437fa3ff9841498474e5.html" target="element"> Knowledge Discovery Enablers </a> </td>
																		<td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element"> Vocabulary Hub </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-68fc41b059d54f8cbd0cec4c4cf30a66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-68fc41b059d54f8cbd0cec4c4cf30a66.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3930ed3eb2214275908f96b52ffd5571.html" target="element"> Knowledge Discovery </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-713d8896542d412e8cc3942f439ce6fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-713d8896542d412e8cc3942f439ce6fe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10d0b96223cb4a5d99d1fd8f94291f10.html" target="element"> Knowledge Management </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b6f15078b22d46b5a7f2503db483885c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b6f15078b22d46b5a7f2503db483885c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b3e4a26d1514268a80ab1151642fc51.html" target="element"> Knowledge Exchange </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1d270c63caaa47fca2d596ad5a422e57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d270c63caaa47fca2d596ad5a422e57.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ce3657f29c74e768ae0b7c77ed38594.html" target="element"> Vocabulary Hub </a> </td>
																				<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>