<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Health Hospital Enterprise Resource Management Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Health Hospital Enterprise Resource Management Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b7b24a45c42845a8bfae2bdc942b7e61.png" alt="TVA-Health Hospital Enterprise Resource Management Enablers [Motivation]" usemap="#id-b7b24a45c42845a8bfae2bdc942b7e61map"/>
			   <map name="id-b7b24a45c42845a8bfae2bdc942b7e61map">
				  				<area shape="rect" coords="322,46,503,119" href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html"  target="element">

				  		<area shape="rect" coords="142,10,683,143" href="../elements/id-477121c6484c4b9b96932e668c743dce.html"  target="element">
				  				<area shape="rect" coords="658,466,858,546" href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html"  target="element">
				  				<area shape="rect" coords="442,466,642,546" href="../elements/id-031512b65371474db26c4261c4e4f2aa.html"  target="element">

				          <area shape="rect" coords="430,418,935,587" href="../objects/id-1b076fdcaab64fb3bafb55f957f5df83.html" target="element" >
				  				<area shape="rect" coords="142,478,275,550" href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html"  target="element">

				          <area shape="rect" coords="10,418,407,587" href="../objects/id-ec0849f287ca4f4b892f2099ff9a0bae.html" target="element" >
				  				<area shape="rect" coords="442,238,600,298" href="../elements/id-b18ef2b06a8045d4931c555f273938bb.html"  target="element">
				  				<area shape="rect" coords="214,238,372,298" href="../elements/id-a713c513c04f41bdbe3f8603d22d035d.html"  target="element">

				  		<area shape="rect" coords="142,202,683,354" href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Health Hospital Enterprise Resource Management Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements to improve the efficiency and effectiveness of healthcare services. 

The view includes a Grouping ABB named "Health Hospital Enterprise Resource Management Enablers" which encompasses two Application Service ABBs. The first is the "Health Professionals Skills System (HPSS)" which is an application service designed to manage and enhance the skills of health professionals. The second is the "Hospital Blood Bank System", another application service that manages the hospital's blood bank resources.

Another key component of this view is the "eGovERA Health Digital Public Services Catalogue", a Diagram Model-group ABB that includes a Business Service ABB named "Healthcare enterprise resource management". This service enables the management of resources within the healthcare system.

The view also includes a "Business Agnostic Digital Public Services Catalogue", another Diagram Model-group ABB. This catalogue includes two Business Service ABBs: "Knowledge Management", a digital public service focused on managing and disseminating knowledge, and "Data Exchange", a service that facilitates the exchange of data.

Finally, the view includes a Grouping ABB named "Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions". This grouping includes a Contract SBB named "IHE SVS: Sharing Value Sets", which outlines the terms for sharing value sets.

The motivation behind these elements and their relations is to create a comprehensive and integrated system for managing resources in a healthcare setting. This includes enhancing the skills of health professionals, managing blood bank resources, enabling resource management within the healthcare system, managing and disseminating knowledge, facilitating data exchange, and sharing value sets. This system aims to improve the efficiency and effectiveness of healthcare services, ultimately leading to better patient outcomes.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
											    <td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a713c513c04f41bdbe3f8603d22d035d.html" target="element"> Health Professionals Skills System (HPSS) </a> </td>
													    <td> <a href="../elements/id-a713c513c04f41bdbe3f8603d22d035d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b18ef2b06a8045d4931c555f273938bb.html" target="element"> Hospital Blood Bank System </a> </td>
													    <td> <a href="../elements/id-b18ef2b06a8045d4931c555f273938bb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ec0849f287ca4f4b892f2099ff9a0bae.html" target="element"> eGovERA Health Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-ec0849f287ca4f4b892f2099ff9a0bae.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
													    <td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-1b076fdcaab64fb3bafb55f957f5df83.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-1b076fdcaab64fb3bafb55f957f5df83.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element"> IHE SVS: Sharing Value Sets </a> </td>
													    <td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-60ebdcfe0a3f4ffb819f7550cc084480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60ebdcfe0a3f4ffb819f7550cc084480.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																		<td> <a href="../elements/id-a713c513c04f41bdbe3f8603d22d035d.html" target="element"> Health Professionals Skills System (HPSS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-303413ea09b04e16a97bd4f6c117c5ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-303413ea09b04e16a97bd4f6c117c5ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																		<td> <a href="../elements/id-b18ef2b06a8045d4931c555f273938bb.html" target="element"> Hospital Blood Bank System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eadaaef1e42f49f7bf236162167b3e22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eadaaef1e42f49f7bf236162167b3e22.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																		<td> <a href="../elements/id-31f6fd3994584da6b36405e1555f0a87.html" target="element"> Healthcare enterprise resource management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-313413c33932444ca56d85a3fdb362ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-313413c33932444ca56d85a3fdb362ce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																		<td> <a href="../elements/id-031512b65371474db26c4261c4e4f2aa.html" target="element"> Knowledge Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-adc0ee0f97c24496b45f9be19c396279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adc0ee0f97c24496b45f9be19c396279.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																		<td> <a href="../elements/id-bdc3e88b3c1240f9b07b356f1b110c3a.html" target="element"> Data Exchange </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-2f2c2b50fa704aba9617344806913ff1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f2c2b50fa704aba9617344806913ff1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-171a30fc8cb84ea3afe56891722da56a.html" target="element"> IHE SVS: Sharing Value Sets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76691ca3d4c94946a9b9e680edc849d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76691ca3d4c94946a9b9e680edc849d3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-477121c6484c4b9b96932e668c743dce.html" target="element"> Health Hospital Enterprise Resource Management Technical Interoperability Agreement Solutions </a> </td>
																		<td> <a href="../elements/id-6b4ad7d0224c4bf185273e1dc9ab7166.html" target="element"> Health Hospital Enterprise Resource Management Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>