<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Data Model [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Data Model [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e95c733a571a4971a65049534153482e.png" alt="SV-Data Model [Motivation]" usemap="#id-e95c733a571a4971a65049534153482emap"/>
			   <map name="id-e95c733a571a4971a65049534153482emap">
				  		<area shape="rect" coords="10,127,210,207" href="../elements/id-4aa4ba21cd5143469456264e1c1f563f.html"  target="element">
				  				<area shape="rect" coords="994,334,1194,414" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">
				  				<area shape="rect" coords="994,214,1194,294" href="../elements/id-535700ebdedd43b68912aac75f08bc03.html"  target="element">
				  				<area shape="rect" coords="994,70,1194,150" href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html"  target="element">

				          <area shape="rect" coords="946,10,1235,443" href="../objects/id-445addd79d664fffba22d559465f9f8b.html" target="element" >
				  						<area shape="rect" coords="562,142,710,215" href="../elements/id-b268b678ac2e4fada1c1a2b160405604.html"  target="element">

				  				<area shape="rect" coords="538,106,743,239" href="../elements/id-c3eaf771d4d94932aa53549d887521ed.html"  target="element">
				  				<area shape="rect" coords="334,142,482,215" href="../elements/id-c9c74357e84e46a5a9f7bd2ba11f3256.html"  target="element">

				  		<area shape="rect" coords="298,58,779,275" href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Data Model [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the elements in the JSON data. The JSON data contains three main elements: "Business Agnostic Data Model Solutions", "Business Agnostic Business Information Base", and "Data Model". 

The "Business Agnostic Data Model Solutions" is a Grouping ABB type element that encompasses two sub-elements: "Common Data Model" and "eProcurement Data Model Solutions". The "Common Data Model" is a Data Object SBB type element that represents an ontology based on the FRBR model (Functional Requirements for Bibliographic Records) using RDF(S)/OWL technologies. It is capable of representing relationships between the resource types managed by the Publications Office and their views, all within the scope of the FRBR model. 

The "eProcurement Data Model Solutions" is another Grouping ABB type element that includes the "ESPD-EDM" as a sub-element. The "ESPD-EDM" is a Data Object SBB type element representing the European Single Procurement Document (ESPD), a standardized form used in public procurement processes within the European Union (EU). It serves as a preliminary self-declaration by suppliers, demonstrating their eligibility and suitability to participate in public procurement procedures across EU member states.

The "Business Agnostic Business Information Base" is a Diagram Model-group ABB type element that includes three sub-elements: "Message", "Document", and "Data Quality". Each of these sub-elements is a Business Object ABB type element representing different types of business information.

Finally, the "Data Model" is a Data Object ABB type element that aims to be a collection of entities, their properties, and the relationships among them. It focuses on formally representing a domain, a concept, or a real-world thing.

The relationships among these elements are defined by their hierarchical structure in the JSON data. The motivation behind this structure is to provide a comprehensive and structured representation of different types of data models and business information, facilitating their use in various business contexts.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
											    <td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c9c74357e84e46a5a9f7bd2ba11f3256.html" target="element"> Common Data Model </a> </td>
													    <td> <a href="../elements/id-c9c74357e84e46a5a9f7bd2ba11f3256.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c3eaf771d4d94932aa53549d887521ed.html" target="element"> eProcurement Data Model Solutions </a> </td>
													    <td> <a href="../elements/id-c3eaf771d4d94932aa53549d887521ed.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b268b678ac2e4fada1c1a2b160405604.html" target="element"> ESPD-EDM </a> </td>
															    <td> <a href="../elements/id-b268b678ac2e4fada1c1a2b160405604.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-445addd79d664fffba22d559465f9f8b.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-445addd79d664fffba22d559465f9f8b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4aa4ba21cd5143469456264e1c1f563f.html" target="element"> Data Model </a> </td>
											    <td> <a href="../elements/id-4aa4ba21cd5143469456264e1c1f563f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c3f375efbedb4ec2afca668ce1172590.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3f375efbedb4ec2afca668ce1172590.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-c3eaf771d4d94932aa53549d887521ed.html" target="element"> eProcurement Data Model Solutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-192ca452ecb54ef187628c274c4dfb3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-192ca452ecb54ef187628c274c4dfb3a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-c9c74357e84e46a5a9f7bd2ba11f3256.html" target="element"> Common Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97bf7e4cf3ff4f9288ebb3db3beb9a52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97bf7e4cf3ff4f9288ebb3db3beb9a52.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-0da7d09b5a38462e80762a7c4c15db43.html" target="element"> Message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45bfdb6c6b4a4842b258a132ca6cb371.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45bfdb6c6b4a4842b258a132ca6cb371.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-535700ebdedd43b68912aac75f08bc03.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a673fc144a64f5d812094cc57d51f40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a673fc144a64f5d812094cc57d51f40.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-060f9717cd6b4d5c99dfe13a884aa81b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-060f9717cd6b4d5c99dfe13a884aa81b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d20541ba5cb41b9a07a5be1b5ecf372.html" target="element"> Business Agnostic Data Model Solutions </a> </td>
																		<td> <a href="../elements/id-4aa4ba21cd5143469456264e1c1f563f.html" target="element"> Data Model </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4a86fdf2548a42fd8d9c49244b391433.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a86fdf2548a42fd8d9c49244b391433.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c3eaf771d4d94932aa53549d887521ed.html" target="element"> eProcurement Data Model Solutions </a> </td>
																				<td> <a href="../elements/id-b268b678ac2e4fada1c1a2b160405604.html" target="element"> ESPD-EDM </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>