<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Datasets Catalogue [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Datasets Catalogue [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e8d1c5d8914f4e45a147e97e445032b1.png" alt="SV-Datasets Catalogue [Motivation]" usemap="#id-e8d1c5d8914f4e45a147e97e445032b1map"/>
			   <map name="id-e8d1c5d8914f4e45a147e97e445032b1map">
				  				<area shape="rect" coords="2765,892,2946,977" href="../elements/id-2b2e0cb2c8e14a9aab6ffc494fd67a78.html"  target="element">
				  				<area shape="rect" coords="2285,892,2466,977" href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html"  target="element">
				  				<area shape="rect" coords="1805,892,1986,977" href="../elements/id-1445cb06aa6243b49eae1dabe479d3ed.html"  target="element">
				  				<area shape="rect" coords="1613,892,1794,977" href="../elements/id-08f1f7c730934ad987224326cd653545.html"  target="element">
				  				<area shape="rect" coords="1421,892,1602,977" href="../elements/id-138aedadffe4471dae820c3daf656917.html"  target="element">
				  				<area shape="rect" coords="1229,892,1410,977" href="../elements/id-2abb448809e64f84832b6199aa494662.html"  target="element">
				  				<area shape="rect" coords="341,976,522,1061" href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html"  target="element">
				  				<area shape="rect" coords="752,892,933,977" href="../elements/id-9649a50d6dd44cdebb3e7a7b664d8066.html"  target="element">
				  				<area shape="rect" coords="1997,892,2178,977" href="../elements/id-e3229a18263d440daf944ed95782cba0.html"  target="element">
				  				<area shape="rect" coords="548,892,729,977" href="../elements/id-ea7973f49d314ec39d2a728d578a5fe4.html"  target="element">

				  		<area shape="rect" coords="317,856,2963,1109" href="../elements/id-2343519f822549f68814172d7a112d4d.html"  target="element">
				  				<area shape="rect" coords="2182,628,2363,713" href="../elements/id-8ac7552ddb1e4590b1748f244b44d52a.html"  target="element">
				  				<area shape="rect" coords="2374,628,2555,713" href="../elements/id-2258a104d53f488e929b528baefc2040.html"  target="element">
				  				<area shape="rect" coords="1798,628,1979,713" href="../elements/id-842c80a7c5704481be4f9a2ea6858c4e.html"  target="element">
				  				<area shape="rect" coords="2758,628,2939,713" href="../elements/id-ac06a0a41f354ccdaa37481b3f4f892b.html"  target="element">
				  				<area shape="rect" coords="1090,628,1271,713" href="../elements/id-d09d926579a64e0f8121630e5ccca129.html"  target="element">
				  				<area shape="rect" coords="2566,628,2747,713" href="../elements/id-10456bc7eb6645e1b08cda158d36ed98.html"  target="element">
				  				<area shape="rect" coords="1282,628,1463,713" href="../elements/id-f79456b7c27a414c84769ab8369a7100.html"  target="element">
				  				<area shape="rect" coords="1990,628,2171,713" href="../elements/id-ab15dc85a91e4ad69143312fd92fac97.html"  target="element">
				  				<area shape="rect" coords="1510,628,1691,713" href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html"  target="element">

				  		<area shape="rect" coords="1066,592,2963,833" href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html"  target="element">
				  				<area shape="rect" coords="34,685,215,770" href="../elements/id-ee3f705266314f12aa904be1d9a0f52f.html"  target="element">

				  		<area shape="rect" coords="10,649,239,789" href="../elements/id-48d9248ecbdc4a76a2d42342475fa993.html"  target="element">
				  				<area shape="rect" coords="739,685,920,770" href="../elements/id-5668cdfce7784dfabe3090a2830e7066.html"  target="element">
				  				<area shape="rect" coords="343,685,524,770" href="../elements/id-7e8ba904f75f4337b42330ebeb912caf.html"  target="element">
				  				<area shape="rect" coords="535,685,716,770" href="../elements/id-9546ebb38ebd44f1ad328fd4ffc76cb5.html"  target="element">

				  		<area shape="rect" coords="331,649,944,789" href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html"  target="element">
				  		<area shape="rect" coords="1030,400,1218,495" href="../elements/id-083346147785474ba638663baf68a1f2.html"  target="element">
				  		<area shape="rect" coords="682,400,870,495" href="../elements/id-382cad75317e453b88bbc07c887278f0.html"  target="element">
				  				<area shape="rect" coords="1270,250,1470,330" href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html"  target="element">
				  				<area shape="rect" coords="1270,106,1470,186" href="../elements/id-0a30218b1def434982c34f0f249d1b78.html"  target="element">

				          <area shape="rect" coords="1234,10,1511,407" href="../objects/id-0db93189e33a46ab87c524afd557b6c3.html" target="element" >
				  				<area shape="rect" coords="895,177,1095,257" href="../elements/id-51b87bdfbed345679172a2666d7593e3.html"  target="element">
				  				<area shape="rect" coords="451,177,651,257" href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html"  target="element">
				  				<area shape="rect" coords="674,177,874,257" href="../elements/id-b3afadb0d7ab42e7b94c6d1e1dee0587.html"  target="element">

				  		<area shape="rect" coords="427,136,1124,281" href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Datasets Catalogue [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging various elements related to data cataloguing and data quality. This view is primarily composed of four main elements: 'Business Agnostic Dataset Catalogue Solutions', 'Business Agnostic Business Information Base', 'Dataset Catalogue', and 'Dataset'.

The 'Business Agnostic Dataset Catalogue Solutions' is a Grouping ABB that encompasses three Data Object SBBs: 'Eurostat Data Catalogue', 'Official Portal for European Data', and 'CELLAR'. Each of these data objects represents a unique data catalogue solution. The 'Eurostat Data Catalogue' is a comprehensive repository of statistical data maintained by EUROSTAT, the statistical office of the European Union (EU). The 'Official Portal for European Data' serves as a central point of access to European open data from various international, national, regional, local, and geodata portals. 'CELLAR' is the common data repository of the Publications Office of the European Union, storing digital publications and metadata for use by humans and machines.

The 'Business Agnostic Business Information Base' is a Diagram Model-group ABB that includes two Business Object ABBs: 'Availability' and 'Data Quality'. These objects represent critical aspects of business information, with 'Availability' referring to the accessibility of the data and 'Data Quality' referring to the integrity and reliability of the data.

The 'Dataset Catalogue' is a Data Object ABB that represents an inventory of datasets indexed in a systematic manner. This object is crucial for organizing and managing the datasets within the catalogue.

The 'Dataset' is another Data Object ABB that represents a collection of related data organized and presented in a structured format. This object is fundamental to the concept of data cataloguing as it represents the actual data that is being catalogued.

The relationships among these elements are defined by their hierarchical structure within the JSON. The 'Business Agnostic Dataset Catalogue Solutions' and 'Business Agnostic Business Information Base' are overarching elements that encompass more specific data objects and business objects, respectively. The 'Dataset Catalogue' and 'Dataset' are standalone elements that represent key aspects of the data cataloguing process. The motivation behind these elements and their relationships is to provide a comprehensive and structured approach to data cataloguing, ensuring data quality and availability.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
											    <td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b3afadb0d7ab42e7b94c6d1e1dee0587.html" target="element"> Eurostat Data Catalogue </a> </td>
													    <td> <a href="../elements/id-b3afadb0d7ab42e7b94c6d1e1dee0587.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html" target="element"> Official Portal for European Data </a> </td>
													    <td> <a href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51b87bdfbed345679172a2666d7593e3.html" target="element"> CELLAR </a> </td>
													    <td> <a href="../elements/id-51b87bdfbed345679172a2666d7593e3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-0db93189e33a46ab87c524afd557b6c3.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-0db93189e33a46ab87c524afd557b6c3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
											    <td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
											    <td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9546ebb38ebd44f1ad328fd4ffc76cb5.html" target="element"> Prescription catalogue </a> </td>
													    <td> <a href="../elements/id-9546ebb38ebd44f1ad328fd4ffc76cb5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7e8ba904f75f4337b42330ebeb912caf.html" target="element"> Healthcare facilities catalogue </a> </td>
													    <td> <a href="../elements/id-7e8ba904f75f4337b42330ebeb912caf.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5668cdfce7784dfabe3090a2830e7066.html" target="element"> Patient summary index </a> </td>
													    <td> <a href="../elements/id-5668cdfce7784dfabe3090a2830e7066.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-48d9248ecbdc4a76a2d42342475fa993.html" target="element"> Health Dataset Catalogue Solutions </a> </td>
											    <td> <a href="../elements/id-48d9248ecbdc4a76a2d42342475fa993.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ee3f705266314f12aa904be1d9a0f52f.html" target="element"> European health professional qualification catalogue ISCO-08 </a> </td>
													    <td> <a href="../elements/id-ee3f705266314f12aa904be1d9a0f52f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
											    <td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html" target="element"> Health synthetic metadata </a> </td>
													    <td> <a href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab15dc85a91e4ad69143312fd92fac97.html" target="element"> Information to patients metadata </a> </td>
													    <td> <a href="../elements/id-ab15dc85a91e4ad69143312fd92fac97.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f79456b7c27a414c84769ab8369a7100.html" target="element"> Diagnosis metadata </a> </td>
													    <td> <a href="../elements/id-f79456b7c27a414c84769ab8369a7100.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10456bc7eb6645e1b08cda158d36ed98.html" target="element"> European patient summary metadata </a> </td>
													    <td> <a href="../elements/id-10456bc7eb6645e1b08cda158d36ed98.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d09d926579a64e0f8121630e5ccca129.html" target="element"> Health ERP (Enterprise Resource Planning) metadata </a> </td>
													    <td> <a href="../elements/id-d09d926579a64e0f8121630e5ccca129.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac06a0a41f354ccdaa37481b3f4f892b.html" target="element"> Caregivers metadata </a> </td>
													    <td> <a href="../elements/id-ac06a0a41f354ccdaa37481b3f4f892b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-842c80a7c5704481be4f9a2ea6858c4e.html" target="element"> Integrated care pathways metadata </a> </td>
													    <td> <a href="../elements/id-842c80a7c5704481be4f9a2ea6858c4e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2258a104d53f488e929b528baefc2040.html" target="element"> Patient summary metadata </a> </td>
													    <td> <a href="../elements/id-2258a104d53f488e929b528baefc2040.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ac7552ddb1e4590b1748f244b44d52a.html" target="element"> Relatives metadata </a> </td>
													    <td> <a href="../elements/id-8ac7552ddb1e4590b1748f244b44d52a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
											    <td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ea7973f49d314ec39d2a728d578a5fe4.html" target="element"> Prescription </a> </td>
													    <td> <a href="../elements/id-ea7973f49d314ec39d2a728d578a5fe4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3229a18263d440daf944ed95782cba0.html" target="element"> Hospital administrative </a> </td>
													    <td> <a href="../elements/id-e3229a18263d440daf944ed95782cba0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9649a50d6dd44cdebb3e7a7b664d8066.html" target="element"> Patient clinical  </a> </td>
													    <td> <a href="../elements/id-9649a50d6dd44cdebb3e7a7b664d8066.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
													    <td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
													    <td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-138aedadffe4471dae820c3daf656917.html" target="element"> Anonymised personal </a> </td>
													    <td> <a href="../elements/id-138aedadffe4471dae820c3daf656917.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-08f1f7c730934ad987224326cd653545.html" target="element"> Health statistical </a> </td>
													    <td> <a href="../elements/id-08f1f7c730934ad987224326cd653545.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1445cb06aa6243b49eae1dabe479d3ed.html" target="element"> Treatment </a> </td>
													    <td> <a href="../elements/id-1445cb06aa6243b49eae1dabe479d3ed.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
													    <td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b2e0cb2c8e14a9aab6ffc494fd67a78.html" target="element"> Health professionals </a> </td>
													    <td> <a href="../elements/id-2b2e0cb2c8e14a9aab6ffc494fd67a78.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a17567f6f23247b0a11f0281a0ca1d7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a17567f6f23247b0a11f0281a0ca1d7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-bdf46b3866ae4a28a58f9a8071258f06.html" target="element"> Official Portal for European Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e3779f5b27c49cf84f36b7de7a7c5d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e3779f5b27c49cf84f36b7de7a7c5d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-51b87bdfbed345679172a2666d7593e3.html" target="element"> CELLAR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ad4721ee14e4083a127d3fc51d14be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ad4721ee14e4083a127d3fc51d14be5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-b3afadb0d7ab42e7b94c6d1e1dee0587.html" target="element"> Eurostat Data Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e566cd50da948ca8d996443311369c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e566cd50da948ca8d996443311369c3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-0a30218b1def434982c34f0f249d1b78.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbfdb638b481489a8bfb133ce6f53fcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbfdb638b481489a8bfb133ce6f53fcf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-03ee72749cb44b37a83ba7d655cd32ea.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e339531e9a214019ab1a790b0a51356d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e339531e9a214019ab1a790b0a51356d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1fe3c7df37eb43a895401e0be01c6b05.html" target="element"> Business Agnostic Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-7e1954679aa144eab758409ed879d5ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e1954679aa144eab758409ed879d5ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a1be387c60e4530b851c7a4b2716c64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a1be387c60e4530b851c7a4b2716c64.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																		<td> <a href="../elements/id-9546ebb38ebd44f1ad328fd4ffc76cb5.html" target="element"> Prescription catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b0334a0b783443984e7c814064d4ec7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b0334a0b783443984e7c814064d4ec7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																		<td> <a href="../elements/id-7e8ba904f75f4337b42330ebeb912caf.html" target="element"> Healthcare facilities catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f505c2fd85b4795bb7399783dde3086.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f505c2fd85b4795bb7399783dde3086.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																		<td> <a href="../elements/id-5668cdfce7784dfabe3090a2830e7066.html" target="element"> Patient summary index </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b185b617d4c94529b199920cf0642d98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b185b617d4c94529b199920cf0642d98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fce6762987c4570b55a2a57d67c4b42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fce6762987c4570b55a2a57d67c4b42.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																		<td> <a href="../elements/id-382cad75317e453b88bbc07c887278f0.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5a95e0488cbc4e218e6d7b4b43f00320.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a95e0488cbc4e218e6d7b4b43f00320.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9546ebb38ebd44f1ad328fd4ffc76cb5.html" target="element"> Prescription catalogue </a> </td>
																				<td> <a href="../elements/id-ea7973f49d314ec39d2a728d578a5fe4.html" target="element"> Prescription </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9053742df7cd4dd7aa7d9934ba893b07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9053742df7cd4dd7aa7d9934ba893b07.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7e8ba904f75f4337b42330ebeb912caf.html" target="element"> Healthcare facilities catalogue </a> </td>
																				<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7e314a51eb904abf89ac5fa551a2db11.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e314a51eb904abf89ac5fa551a2db11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5668cdfce7784dfabe3090a2830e7066.html" target="element"> Patient summary index </a> </td>
																				<td> <a href="../elements/id-9649a50d6dd44cdebb3e7a7b664d8066.html" target="element"> Patient clinical  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-39c7cbb790cb4f198d60c1ec9eaf579b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39c7cbb790cb4f198d60c1ec9eaf579b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48d9248ecbdc4a76a2d42342475fa993.html" target="element"> Health Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-aa983e970d9f4f0aa8d4b2fb6707abc4.html" target="element"> Health Dataset Catalogue Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc226f90d9dd4c66be5d14538969c333.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc226f90d9dd4c66be5d14538969c333.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48d9248ecbdc4a76a2d42342475fa993.html" target="element"> Health Dataset Catalogue Solutions </a> </td>
																		<td> <a href="../elements/id-ee3f705266314f12aa904be1d9a0f52f.html" target="element"> European health professional qualification catalogue ISCO-08 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ffb8a0843f014966a537aa62792a1596.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ffb8a0843f014966a537aa62792a1596.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ee3f705266314f12aa904be1d9a0f52f.html" target="element"> European health professional qualification catalogue ISCO-08 </a> </td>
																				<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-56aaca8fb886473f94d6f8833e79f4b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56aaca8fb886473f94d6f8833e79f4b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-ac06a0a41f354ccdaa37481b3f4f892b.html" target="element"> Caregivers metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ab8b0ebc566465ea1704a914c0ef475.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ab8b0ebc566465ea1704a914c0ef475.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-8ac7552ddb1e4590b1748f244b44d52a.html" target="element"> Relatives metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a453b463ea074da89f3eb92bc13c9dcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a453b463ea074da89f3eb92bc13c9dcc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-f79456b7c27a414c84769ab8369a7100.html" target="element"> Diagnosis metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-051336a909f7492a8964a39bf1b4a11a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-051336a909f7492a8964a39bf1b4a11a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-2258a104d53f488e929b528baefc2040.html" target="element"> Patient summary metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41296ebe19e9406f92c435c07ae8a10d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41296ebe19e9406f92c435c07ae8a10d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-10456bc7eb6645e1b08cda158d36ed98.html" target="element"> European patient summary metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e3cdd3cdb624289aad666388770c448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e3cdd3cdb624289aad666388770c448.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-ab15dc85a91e4ad69143312fd92fac97.html" target="element"> Information to patients metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d059baddad1348aebd25acf6d3804309.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d059baddad1348aebd25acf6d3804309.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-d09d926579a64e0f8121630e5ccca129.html" target="element"> Health ERP (Enterprise Resource Planning) metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d1bb44bdc8f46fc8a3f62c403bc69ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d1bb44bdc8f46fc8a3f62c403bc69ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-842c80a7c5704481be4f9a2ea6858c4e.html" target="element"> Integrated care pathways metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7e8b5ab2c0a42cd97a5ce09d4239424.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7e8b5ab2c0a42cd97a5ce09d4239424.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html" target="element"> Health synthetic metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5275cf4745ac4e3ca5b95044394638ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5275cf4745ac4e3ca5b95044394638ec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9f1976877849bfafd22cce5887da2b.html" target="element"> Health Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-083346147785474ba638663baf68a1f2.html" target="element"> Dataset </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f48e762d5a8d48e0882f6bdc2ce31c41.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f48e762d5a8d48e0882f6bdc2ce31c41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html" target="element"> Health synthetic metadata </a> </td>
																				<td> <a href="../elements/id-138aedadffe4471dae820c3daf656917.html" target="element"> Anonymised personal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2dbd682dac1b4596b221c3ecfab9dc41.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2dbd682dac1b4596b221c3ecfab9dc41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbb250793a5b43b1affb437e69f97baa.html" target="element"> Health synthetic metadata </a> </td>
																				<td> <a href="../elements/id-08f1f7c730934ad987224326cd653545.html" target="element"> Health statistical </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ab750f4223274d739172803023d833be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab750f4223274d739172803023d833be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ab15dc85a91e4ad69143312fd92fac97.html" target="element"> Information to patients metadata </a> </td>
																				<td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4c13605a4a1a462683eb9e7c59958300.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c13605a4a1a462683eb9e7c59958300.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f79456b7c27a414c84769ab8369a7100.html" target="element"> Diagnosis metadata </a> </td>
																				<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b5660c885684dc59068e151b3b277b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b5660c885684dc59068e151b3b277b3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10456bc7eb6645e1b08cda158d36ed98.html" target="element"> European patient summary metadata </a> </td>
																				<td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-98957b0fb4ad4c1b8700c40056e0ff79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-98957b0fb4ad4c1b8700c40056e0ff79.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d09d926579a64e0f8121630e5ccca129.html" target="element"> Health ERP (Enterprise Resource Planning) metadata </a> </td>
																				<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-729e968ed81f400e9a79c9cc2f6fd65a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-729e968ed81f400e9a79c9cc2f6fd65a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ac06a0a41f354ccdaa37481b3f4f892b.html" target="element"> Caregivers metadata </a> </td>
																				<td> <a href="../elements/id-2b2e0cb2c8e14a9aab6ffc494fd67a78.html" target="element"> Health professionals </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7a396e655317447eb25dde0a71bdd2d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a396e655317447eb25dde0a71bdd2d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-842c80a7c5704481be4f9a2ea6858c4e.html" target="element"> Integrated care pathways metadata </a> </td>
																				<td> <a href="../elements/id-1445cb06aa6243b49eae1dabe479d3ed.html" target="element"> Treatment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-45a8ef77d7e241a39a1e04079c81cc0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45a8ef77d7e241a39a1e04079c81cc0e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2258a104d53f488e929b528baefc2040.html" target="element"> Patient summary metadata </a> </td>
																				<td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-02db2c5e7c994682872c69a8527436f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-02db2c5e7c994682872c69a8527436f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ac7552ddb1e4590b1748f244b44d52a.html" target="element"> Relatives metadata </a> </td>
																				<td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-141ecbc7a99c465ebe6a78a539dde05f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-141ecbc7a99c465ebe6a78a539dde05f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-e3229a18263d440daf944ed95782cba0.html" target="element"> Hospital administrative </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-344169ddd61448599ae2af5cb51db553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-344169ddd61448599ae2af5cb51db553.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-ea7973f49d314ec39d2a728d578a5fe4.html" target="element"> Prescription </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc005a42bf384286a6dd7cc65754b235.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc005a42bf384286a6dd7cc65754b235.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-9649a50d6dd44cdebb3e7a7b664d8066.html" target="element"> Patient clinical  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acc019fef5784b5aa36ab6abd6efccde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acc019fef5784b5aa36ab6abd6efccde.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-14fb159b654c4085bc382e9ee53d1347.html" target="element"> Hospital Enterprise Resource Planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03252ab07a2a4aa992db7dbc07efcd29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-2abb448809e64f84832b6199aa494662.html" target="element"> Diagnosis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7355ed9d7580462882c5a9532b117d4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7355ed9d7580462882c5a9532b117d4a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-138aedadffe4471dae820c3daf656917.html" target="element"> Anonymised personal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-997ed6c9bd2c45babb3ea9c7a3f7530a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-997ed6c9bd2c45babb3ea9c7a3f7530a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-08f1f7c730934ad987224326cd653545.html" target="element"> Health statistical </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3871ad2d24b84001b617a8694039e3fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3871ad2d24b84001b617a8694039e3fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-1445cb06aa6243b49eae1dabe479d3ed.html" target="element"> Treatment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89ed6bdc8b2a4f5f98c4be019edb4191.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89ed6bdc8b2a4f5f98c4be019edb4191.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-1856b51f2de24e07be9aa3c7bb3865ed.html" target="element"> Patient non-clinical </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3abf712c4c2044c480aa19ec4653cca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3abf712c4c2044c480aa19ec4653cca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2343519f822549f68814172d7a112d4d.html" target="element"> Health Business Information Base </a> </td>
																		<td> <a href="../elements/id-2b2e0cb2c8e14a9aab6ffc494fd67a78.html" target="element"> Health professionals </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>