<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Containerization Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Containerization Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e65d872ba3274f85870870fb8effdd14.png" alt="TVA-Containerization Enablers [Motivation]" usemap="#id-e65d872ba3274f85870870fb8effdd14map"/>
			   <map name="id-e65d872ba3274f85870870fb8effdd14map">
				  				<area shape="rect" coords="659,286,815,369" href="../elements/id-3e3a94bd34b246eb8a17b80b49ff9a07.html"  target="element">
				  				<area shape="rect" coords="491,286,647,369" href="../elements/id-6cd57fc711f74cfcaafe5de7b166e2d9.html"  target="element">
				  				<area shape="rect" coords="323,286,479,369" href="../elements/id-0c25bb322bd84ebe93f97ae59545cd74.html"  target="element">

				  		<area shape="rect" coords="299,250,840,395" href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html"  target="element">
				  				<area shape="rect" coords="659,36,815,119" href="../elements/id-29fe150260a9435e96dc27839f9a7cd4.html"  target="element">
				  				<area shape="rect" coords="491,130,647,213" href="../elements/id-cd71cfba58374ebf968cb28f9561b932.html"  target="element">
				  				<area shape="rect" coords="323,130,479,213" href="../elements/id-472ede7ce91144648657e55ade2ea08a.html"  target="element">
				  				<area shape="rect" coords="491,36,647,119" href="../elements/id-9c3d3950e8ae4155a2c795457d8cbc4c.html"  target="element">
				  				<area shape="rect" coords="323,36,479,119" href="../elements/id-3e32fef091b74e0b89b6b31100048dfc.html"  target="element">

				  		<area shape="rect" coords="299,10,840,227" href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html"  target="element">
				  				<area shape="rect" coords="34,117,190,200" href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html"  target="element">
				  				<area shape="rect" coords="34,250,190,333" href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html"  target="element">

				  		<area shape="rect" coords="10,70,216,358" href="../elements/id-735ea07058cd4bff920437e8f474be8c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Containerization Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that enable containerization. This view is divided into three main groupings: Containerization Enablers, Business Agnostic Containers Orchestrator Solutions, and Business Agnostic Container Solutions.

The first grouping, Containerization Enablers, is an Architectural Building Block (ABB) that includes two Application Service ABBs: Container and Containers Orchestrator. The Container Application Service represents the basic unit of software that packages up code and all its dependencies so the application runs quickly and reliably from one computing environment to another. The Containers Orchestrator Application Service, on the other hand, is responsible for managing the lifecycles of containers, including deployment, scaling, networking, and availability.

The second grouping, Business Agnostic Containers Orchestrator Solutions, is a Solution Building Block (SBB) that includes five Application Service SBBs: Kubernetes, Docker Compose, Docker Swarm, Apache Mesos, and Red Hat OpenShift. These represent various solutions that can be used to manage and orchestrate containers in a business-agnostic manner, meaning they can be used across different business domains and applications.

The third grouping, Business Agnostic Container Solutions, is also an SBB that includes three Application Service SBBs: Docker, Podman, and LXC. These represent different solutions for creating and managing containers that are also business-agnostic.

The relationships between these elements are defined by their grouping. The Container and Containers Orchestrator are part of the Containerization Enablers, which are necessary for the operation of the Business Agnostic Containers Orchestrator Solutions and the Business Agnostic Container Solutions. These solutions, in turn, provide the tools and services necessary to implement and manage containerization in a business environment. The motivation behind this view is to provide a comprehensive overview of the elements and solutions that enable containerization, allowing for a better understanding and implementation of this technology.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-735ea07058cd4bff920437e8f474be8c.html" target="element"> Containerization Enablers </a> </td>
											    <td> <a href="../elements/id-735ea07058cd4bff920437e8f474be8c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html" target="element"> Container </a> </td>
													    <td> <a href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html" target="element"> Containers Orchestrator </a> </td>
													    <td> <a href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
											    <td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3e32fef091b74e0b89b6b31100048dfc.html" target="element"> Kubernetes </a> </td>
													    <td> <a href="../elements/id-3e32fef091b74e0b89b6b31100048dfc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c3d3950e8ae4155a2c795457d8cbc4c.html" target="element"> Docker Compose </a> </td>
													    <td> <a href="../elements/id-9c3d3950e8ae4155a2c795457d8cbc4c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-472ede7ce91144648657e55ade2ea08a.html" target="element"> Docker Swarm </a> </td>
													    <td> <a href="../elements/id-472ede7ce91144648657e55ade2ea08a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd71cfba58374ebf968cb28f9561b932.html" target="element"> Apache Mesos </a> </td>
													    <td> <a href="../elements/id-cd71cfba58374ebf968cb28f9561b932.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29fe150260a9435e96dc27839f9a7cd4.html" target="element"> Red Hat OpenShift </a> </td>
													    <td> <a href="../elements/id-29fe150260a9435e96dc27839f9a7cd4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element"> Business Agnostic Container Solutions </a> </td>
											    <td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0c25bb322bd84ebe93f97ae59545cd74.html" target="element"> Docker </a> </td>
													    <td> <a href="../elements/id-0c25bb322bd84ebe93f97ae59545cd74.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6cd57fc711f74cfcaafe5de7b166e2d9.html" target="element"> Podman </a> </td>
													    <td> <a href="../elements/id-6cd57fc711f74cfcaafe5de7b166e2d9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e3a94bd34b246eb8a17b80b49ff9a07.html" target="element"> LXC </a> </td>
													    <td> <a href="../elements/id-3e3a94bd34b246eb8a17b80b49ff9a07.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dd3277d6dc254de69e5b99b8d16a31e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd3277d6dc254de69e5b99b8d16a31e9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-735ea07058cd4bff920437e8f474be8c.html" target="element"> Containerization Enablers </a> </td>
																		<td> <a href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html" target="element"> Containers Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6b82168b64b4f8691a33162a2ec02ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b82168b64b4f8691a33162a2ec02ee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-735ea07058cd4bff920437e8f474be8c.html" target="element"> Containerization Enablers </a> </td>
																		<td> <a href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html" target="element"> Container </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9117e218854c40d2aad27006ecc0f711.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9117e218854c40d2aad27006ecc0f711.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html" target="element"> Containers Orchestrator </a> </td>
																				<td> <a href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html" target="element"> Container </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-423ec0a0902b4c6994d6f2f177be24f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-423ec0a0902b4c6994d6f2f177be24f6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-7871350d68b1405db411b3801e5e8a2e.html" target="element"> Containers Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bdf6ac14e2a45c1aa1175d0d98c9715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bdf6ac14e2a45c1aa1175d0d98c9715.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-3e32fef091b74e0b89b6b31100048dfc.html" target="element"> Kubernetes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20faff8c42454741888fdbbd4d2de62c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20faff8c42454741888fdbbd4d2de62c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-9c3d3950e8ae4155a2c795457d8cbc4c.html" target="element"> Docker Compose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20cf0fb6ace64d409f7a72438756c803.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20cf0fb6ace64d409f7a72438756c803.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-472ede7ce91144648657e55ade2ea08a.html" target="element"> Docker Swarm </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0882798c7544b63bc87df29cf3c9b30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0882798c7544b63bc87df29cf3c9b30.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-cd71cfba58374ebf968cb28f9561b932.html" target="element"> Apache Mesos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4808ac57a2c41e1a53621544d02b97c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4808ac57a2c41e1a53621544d02b97c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d5d5b1912b34693ad6eb3547e0c992a.html" target="element"> Business Agnostic Containers Orchestrator Solutions </a> </td>
																		<td> <a href="../elements/id-29fe150260a9435e96dc27839f9a7cd4.html" target="element"> Red Hat OpenShift </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d2e4718f3caf46ab87c7c5a12dd162ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2e4718f3caf46ab87c7c5a12dd162ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element"> Business Agnostic Container Solutions </a> </td>
																		<td> <a href="../elements/id-2697cb03e8814314874d4b643b89b8fe.html" target="element"> Container </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cf0b9a6b7ae4f23b99dbf35335df069.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cf0b9a6b7ae4f23b99dbf35335df069.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element"> Business Agnostic Container Solutions </a> </td>
																		<td> <a href="../elements/id-0c25bb322bd84ebe93f97ae59545cd74.html" target="element"> Docker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9320c76b0b67469a9c617706e0b82ce1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9320c76b0b67469a9c617706e0b82ce1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element"> Business Agnostic Container Solutions </a> </td>
																		<td> <a href="../elements/id-6cd57fc711f74cfcaafe5de7b166e2d9.html" target="element"> Podman </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7ff117f15ae4ca4a96d8ccdab4aaefc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7ff117f15ae4ca4a96d8ccdab4aaefc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd4aa704f6254e2c90ee02733dccb964.html" target="element"> Business Agnostic Container Solutions </a> </td>
																		<td> <a href="../elements/id-3e3a94bd34b246eb8a17b80b49ff9a07.html" target="element"> LXC </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>