<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Privacy Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Privacy Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e398fc77ca6a4b5393735c368c8252b6.png" alt="TVA-Privacy Enablers [Motivation]" usemap="#id-e398fc77ca6a4b5393735c368c8252b6map"/>
			   <map name="id-e398fc77ca6a4b5393735c368c8252b6map">
				  				<area shape="rect" coords="58,58,227,129" href="../elements/id-9276a147b99544c8a7ea8b4e7afd73aa.html"  target="element">

				  		<area shape="rect" coords="10,22,263,162" href="../elements/id-2979f948d4624a879d2061fd24417e94.html"  target="element">
				  				<area shape="rect" coords="598,313,767,384" href="../elements/id-88f93f793fdd41afbe7e4c260cc2b00e.html"  target="element">
				  				<area shape="rect" coords="598,229,767,300" href="../elements/id-28f7b6e54ba44d8c953f457f5dcf2188.html"  target="element">
				  				<area shape="rect" coords="598,145,767,216" href="../elements/id-1db0f5f29baf4cf88546e67212ecd632.html"  target="element">
				  				<area shape="rect" coords="598,61,767,132" href="../elements/id-2730695339f74dae84047f328a95175f.html"  target="element">
				  				<area shape="rect" coords="346,61,515,132" href="../elements/id-0e70c52d523045a4a18807d8188350aa.html"  target="element">

				  		<area shape="rect" coords="322,10,791,406" href="../elements/id-342c894804b343b983d197485cf5b6e9.html"  target="element">
				  				<area shape="rect" coords="886,70,1066,143" href="../elements/id-533bf4cdbea546ee82237489a546410e.html"  target="element">

				          <area shape="rect" coords="850,22,1103,162" href="../objects/id-f7398598110b42159d480bbf4b8dbb1c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Technical view - Application Privacy" viewpoint extends technical view application and provides a comprehensive framework for ensuring the protection of user privacy within digital applications. This view associates the Application Privacy with Application Privacy Business Services from the application layer.
Within this view, Application Privacy refers to the measures and practices implemented within digital applications to safeguard user data, ensure compliance with privacy regulations, and maintain user trust. It encompasses various techniques and controls to protect personal information, handle data securely, and enable user consent and transparency.
Application Privacy Business Services leverage the Application Privacy framework to enable organizations to uphold privacy standards, implement privacy controls, and maintain user privacy within their digital applications. These services provide the necessary tools and capabilities to manage user data, enforce privacy policies, and respond to privacy-related requests.
By associating the Application Privacy with Application Privacy Business Services, the "Technical view - Application Privacy" empowers organizations to prioritize user privacy, adhere to privacy regulations, and foster trust among users within the digital ecosystem.
The use of Application Privacy ensures that user data is handled securely, with appropriate consent and transparency. It includes practices such as data encryption, user consent management, anonymization techniques, and data access controls to protect user privacy and prevent unauthorized access or misuse of personal information.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f7398598110b42159d480bbf4b8dbb1c.html" target="element"> Business Agnostic Privacy Business Service </a> </td>
									           <td> <a href="../objects/id-f7398598110b42159d480bbf4b8dbb1c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-533bf4cdbea546ee82237489a546410e.html" target="element"> Anonymisation </a> </td>
													    <td> <a href="../elements/id-533bf4cdbea546ee82237489a546410e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
											    <td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2730695339f74dae84047f328a95175f.html" target="element"> Anonymisation </a> </td>
													    <td> <a href="../elements/id-2730695339f74dae84047f328a95175f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1db0f5f29baf4cf88546e67212ecd632.html" target="element"> Consent Management </a> </td>
													    <td> <a href="../elements/id-1db0f5f29baf4cf88546e67212ecd632.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28f7b6e54ba44d8c953f457f5dcf2188.html" target="element"> Data Encryption </a> </td>
													    <td> <a href="../elements/id-28f7b6e54ba44d8c953f457f5dcf2188.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-88f93f793fdd41afbe7e4c260cc2b00e.html" target="element"> Privacy Impact Assessments </a> </td>
													    <td> <a href="../elements/id-88f93f793fdd41afbe7e4c260cc2b00e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2979f948d4624a879d2061fd24417e94.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
											    <td> <a href="../elements/id-2979f948d4624a879d2061fd24417e94.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9276a147b99544c8a7ea8b4e7afd73aa.html" target="element"> HashiCorp Vault </a> </td>
													    <td> <a href="../elements/id-9276a147b99544c8a7ea8b4e7afd73aa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-7fdfddf61f7c4c1bade6ebc8801bae2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fdfddf61f7c4c1bade6ebc8801bae2e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-88f93f793fdd41afbe7e4c260cc2b00e.html" target="element"> Privacy Impact Assessments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e8e6497fcd84d7590e60ee3a8abf43e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e8e6497fcd84d7590e60ee3a8abf43e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-2730695339f74dae84047f328a95175f.html" target="element"> Anonymisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4263207496034c779a72412481e8ccec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4263207496034c779a72412481e8ccec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-28f7b6e54ba44d8c953f457f5dcf2188.html" target="element"> Data Encryption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb245331ffaf4b59afae50d7c8b586f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb245331ffaf4b59afae50d7c8b586f9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-342c894804b343b983d197485cf5b6e9.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-1db0f5f29baf4cf88546e67212ecd632.html" target="element"> Consent Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-33ea06ff69e34ab9925c8e995c411aad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33ea06ff69e34ab9925c8e995c411aad.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2730695339f74dae84047f328a95175f.html" target="element"> Anonymisation </a> </td>
																				<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-409a848494bc4022ba41e01f34bdf6dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-409a848494bc4022ba41e01f34bdf6dd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2730695339f74dae84047f328a95175f.html" target="element"> Anonymisation </a> </td>
																				<td> <a href="../elements/id-533bf4cdbea546ee82237489a546410e.html" target="element"> Anonymisation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-be9945b4709a4eba85f8ebb6303259cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be9945b4709a4eba85f8ebb6303259cf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1db0f5f29baf4cf88546e67212ecd632.html" target="element"> Consent Management </a> </td>
																				<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e278455403064ea0aadf92fbbcaf6474.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e278455403064ea0aadf92fbbcaf6474.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28f7b6e54ba44d8c953f457f5dcf2188.html" target="element"> Data Encryption </a> </td>
																				<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3f31f25b3c874262a689619446f4e510.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3f31f25b3c874262a689619446f4e510.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-88f93f793fdd41afbe7e4c260cc2b00e.html" target="element"> Privacy Impact Assessments </a> </td>
																				<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-61db2d55b22b4a9c9c08b1067c3b834a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61db2d55b22b4a9c9c08b1067c3b834a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2979f948d4624a879d2061fd24417e94.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
																		<td> <a href="../elements/id-9276a147b99544c8a7ea8b4e7afd73aa.html" target="element"> HashiCorp Vault </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2673d2f40c904f63b0c4aac94f25815e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2673d2f40c904f63b0c4aac94f25815e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2979f948d4624a879d2061fd24417e94.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
																		<td> <a href="../elements/id-0e70c52d523045a4a18807d8188350aa.html" target="element"> Privacy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>