<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Digital Workplace Infrastructure Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Digital Workplace Infrastructure Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fd82b16371634e799e853f016293d57c.png" alt="TVI-Digital Workplace Infrastructure Enablers [Motivation]" usemap="#id-fd82b16371634e799e853f016293d57cmap"/>
			   <map name="id-fd82b16371634e799e853f016293d57cmap">
				  						<area shape="rect" coords="586,94,766,167" href="../elements/id-01657fabef0f4db088ed4ba56d5d3d9f.html"  target="element">
				  						<area shape="rect" coords="382,178,562,251" href="../elements/id-37163c139fef4e30b089eca8fbe9de9c.html"  target="element">
				  						<area shape="rect" coords="586,178,766,251" href="../elements/id-2ce378f972b14b8bb079e44155371d32.html"  target="element">
				  						<area shape="rect" coords="382,94,562,167" href="../elements/id-4381b941836547eaabb81e58504a388a.html"  target="element">

				  				<area shape="rect" coords="346,46,803,263" href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html"  target="element">
				  				<area shape="rect" coords="46,202,239,275" href="../elements/id-5b82b5c28ea743af9f775c0a394702c1.html"  target="element">
				  				<area shape="rect" coords="46,46,239,131" href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html"  target="element">

				  		<area shape="rect" coords="10,10,827,295" href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html"  target="element">
				  				<area shape="rect" coords="1018,121,1155,176" href="../elements/id-499e0a3e26de414caf00bf79ac27fdca.html"  target="element">

				  		<area shape="rect" coords="970,70,1211,214" href="../elements/id-512fa185aceb47cbb741e6717b7a1301.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Digital Workplace Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging the capabilities of digital workplace infrastructure enablers and digital workplace enablers. 

The Digital Workplace Infrastructure Enablers ABB is a Grouping that enables the set of components and services that enable organizations to create and manage virtual workplaces environments and facilitate their access remotely. This grouping includes the Remote Desktop ABB, a Technology Service that enables the procedures to grant users to access and control a computer or device from a remote location using a network connection.

The Digital Workplace Enablers is another Grouping that refers to components or services that enable the collaboration of work aspects while security and privacy are ensured. This grouping includes several Application Services and an Application Component. 

The Digital Workplace ABB is both an Application Service and an Application Component that enables the procedures to freely collaborate independently from the location and boundaries while maintaining high-security standards and increasing productivity and efficiency. 

The Training and Learning Management building block is an application service that helps organizations efficiently plan, administer, deliver, and track training and learning activities. It provides a comprehensive platform for managing courses, registrations, content delivery, assessments, certifications, and reporting. 

The Digital Collaboration is an Application Service that facilitates digital collaboration among team members. 

The Learning Platform System is a software application service that provides a comprehensive platform for managing and delivering learning content and experiences. It enables organizations to create, manage, and deliver various types of learning materials, such as courses, training modules, assessments, and educational resources. 

The Remote Collaboration and Communication is a software application service that enables individuals or teams to collaborate and communicate effectively, regardless of their physical locations. It provides tools and features such as video conferencing, instant messaging, document sharing, and virtual whiteboards to support real-time or asynchronous interactions. 

These elements are interconnected and work together to enable a digital workplace that is secure, efficient, and productive. The motivation behind this view is to leverage technology to facilitate remote work and collaboration, enhance learning and development, and improve organizational efficiency and productivity.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-512fa185aceb47cbb741e6717b7a1301.html" target="element"> Digital Workplace Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-512fa185aceb47cbb741e6717b7a1301.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-499e0a3e26de414caf00bf79ac27fdca.html" target="element"> Remote Desktop </a> </td>
													    <td> <a href="../elements/id-499e0a3e26de414caf00bf79ac27fdca.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element"> Digital Workplace Enablers </a> </td>
											    <td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
													    <td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b82b5c28ea743af9f775c0a394702c1.html" target="element"> Digital Workplace </a> </td>
													    <td> <a href="../elements/id-5b82b5c28ea743af9f775c0a394702c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
													    <td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4381b941836547eaabb81e58504a388a.html" target="element"> Training and learning management </a> </td>
															    <td> <a href="../elements/id-4381b941836547eaabb81e58504a388a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2ce378f972b14b8bb079e44155371d32.html" target="element"> Learning Platform System </a> </td>
															    <td> <a href="../elements/id-2ce378f972b14b8bb079e44155371d32.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-37163c139fef4e30b089eca8fbe9de9c.html" target="element"> Remote collaboration and communication </a> </td>
															    <td> <a href="../elements/id-37163c139fef4e30b089eca8fbe9de9c.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-01657fabef0f4db088ed4ba56d5d3d9f.html" target="element"> Digital Collaboration </a> </td>
															    <td> <a href="../elements/id-01657fabef0f4db088ed4ba56d5d3d9f.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4caa563c65ba48c8a845a56227ce4626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4caa563c65ba48c8a845a56227ce4626.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-512fa185aceb47cbb741e6717b7a1301.html" target="element"> Digital Workplace Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-499e0a3e26de414caf00bf79ac27fdca.html" target="element"> Remote Desktop </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5c5f0505f6464d6c9673e2914e56ee80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c5f0505f6464d6c9673e2914e56ee80.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element"> Digital Workplace Enablers </a> </td>
																		<td> <a href="../elements/id-5b82b5c28ea743af9f775c0a394702c1.html" target="element"> Digital Workplace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6651220b4e7c47d2a9964497e4fe1b04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6651220b4e7c47d2a9964497e4fe1b04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element"> Digital Workplace Enablers </a> </td>
																		<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a857370597434d0d83c75155e58b8387.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a857370597434d0d83c75155e58b8387.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element"> Digital Workplace Enablers </a> </td>
																		<td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f569e1efd084458f86571756099f2198.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f569e1efd084458f86571756099f2198.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d9e67be25ab4665a8675b75068d76e6.html" target="element"> Digital Workplace Enablers </a> </td>
																		<td> <a href="../elements/id-512fa185aceb47cbb741e6717b7a1301.html" target="element"> Digital Workplace Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-39e25e2bc302480f9b6ba1bc9ab46438.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39e25e2bc302480f9b6ba1bc9ab46438.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b82b5c28ea743af9f775c0a394702c1.html" target="element"> Digital Workplace </a> </td>
																				<td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5bd229c224394c4891f74d9ff33ded16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5bd229c224394c4891f74d9ff33ded16.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-4381b941836547eaabb81e58504a388a.html" target="element"> Training and learning management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d60c360174e54a2b937024db3b14e243.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d60c360174e54a2b937024db3b14e243.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-2ce378f972b14b8bb079e44155371d32.html" target="element"> Learning Platform System </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1828a7340b8e4522866289d55e954581.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1828a7340b8e4522866289d55e954581.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-37163c139fef4e30b089eca8fbe9de9c.html" target="element"> Remote collaboration and communication </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f895358143e4d84a46bcedd093db0c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f895358143e4d84a46bcedd093db0c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-01657fabef0f4db088ed4ba56d5d3d9f.html" target="element"> Digital Collaboration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2be9531c6afb4730a6058135a2632a3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2be9531c6afb4730a6058135a2632a3d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b72e721933d46c1ac3d32d22fb6983c.html" target="element"> Business Agnostic Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>