<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Digital Public Service Consumers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Digital Public Service Consumers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fbf200cff7374b97bae47f8e063148f3.png" alt="OV-Digital Public Service Consumers" usemap="#id-fbf200cff7374b97bae47f8e063148f3map"/>
			   <map name="id-fbf200cff7374b97bae47f8e063148f3map">
				  						<area shape="rect" coords="1018,105,1151,174" href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html"  target="element">
				  						<area shape="rect" coords="1018,189,1151,258" href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html"  target="element">
				  						<area shape="rect" coords="1018,273,1151,342" href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html"  target="element">
				  						<area shape="rect" coords="874,105,1007,174" href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html"  target="element">
				  						<area shape="rect" coords="730,273,863,342" href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html"  target="element">
				  						<area shape="rect" coords="586,357,719,426" href="../elements/id-51decb8babbe411891b812ce81adaf7f.html"  target="element">
				  						<area shape="rect" coords="730,189,863,258" href="../elements/id-765193921d1943d986031e040aa2aefe.html"  target="element">
				  						<area shape="rect" coords="874,357,1007,426" href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html"  target="element">
				  						<area shape="rect" coords="874,273,1007,342" href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html"  target="element">
				  						<area shape="rect" coords="730,105,863,174" href="../elements/id-90fed56d58634e9a8be66f359b312458.html"  target="element">
				  						<area shape="rect" coords="586,273,719,342" href="../elements/id-31d599f6da234f948f4cbf01495833bf.html"  target="element">
				  						<area shape="rect" coords="874,189,1007,258" href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html"  target="element">
				  						<area shape="rect" coords="586,189,719,258" href="../elements/id-3d419e23db1746ba99ce823003170c13.html"  target="element">
				  						<area shape="rect" coords="1018,357,1151,426" href="../elements/id-02a5db22a3c14965a440348ddacae41a.html"  target="element">
				  						<area shape="rect" coords="730,357,863,426" href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html"  target="element">
				  						<area shape="rect" coords="586,105,719,174" href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html"  target="element">

				  				<area shape="rect" coords="562,69,1175,442" href="../elements/id-954358663bf347f6aa7763ede4456c61.html"  target="element">
				  				<area shape="rect" coords="46,214,214,298" href="../elements/id-bad68118816f4a959fdc97fb2c29eb00.html"  target="element">
				  				<area shape="rect" coords="283,214,451,298" href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html"  target="element">

				  		<area shape="rect" coords="10,10,1199,479" href="../elements/id-dd0074b4c0784e429357f6819e425597.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Digital Public Service Consumers view extends Organisational view and provides a comprehensive framework for leveraging the Digital Public Service Delivery Model, a Business Collaboration ABB. This model represents a collection of concepts related to the way in which the public sector delivers digital technologies to citizens and businesses. 

Within this model, there are two key Business Role ABBs: the Digital Public Service Consumer and the Data Consumer. The Digital Public Service Consumer represents the entities able to access and consume public services provided by a public authority. The Data Consumer is responsible for using data provided by other roles or systems, either by consuming, analyzing, interpreting, or presenting data. Data consumers may also be accountable for the appropriate and ethical use of the data they consume.

The model also includes a Grouping ABB named Health Digital Public Service Consumers Catalogue. This catalogue groups together a variety of Business Role ABBs that act as digital service consumers within the health sector. These roles include hospitals, national institutes for health and welfare, patients, private healthcare institutions, health insurance companies, health professionals associations, health professionals, the Ministry of Health, social insurance institutions, healthcare institutions, researchers, pharmacies, testing and experimentation facilities for health, national statistics institutes, national pension institutions, and BioBank Institutions. 

Each of these roles represents a different entity within the health sector that consumes digital public services. For example, a hospital might consume digital public services to provide medical and surgical treatment and nursing care for sick or injured people. A health insurance company might consume digital public services to provide a range of insurance policies to protect individuals and businesses against health risk. A researcher might consume digital public services to carry out academic or scientific research. 

In summary, the OV-Digital Public Service Consumers view provides a comprehensive framework for understanding the various entities within the health sector that consume digital public services, and how they interact with the Digital Public Service Delivery Model.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
											    <td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
													    <td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bad68118816f4a959fdc97fb2c29eb00.html" target="element"> Data Consumer </a> </td>
													    <td> <a href="../elements/id-bad68118816f4a959fdc97fb2c29eb00.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
													    <td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element"> Hospital </a> </td>
															    <td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element"> National institute for health and welfare </a> </td>
															    <td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element"> Patient </a> </td>
															    <td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element"> Private healthcare institution </a> </td>
															    <td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element"> Health insurance company </a> </td>
															    <td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element"> Health professionals association </a> </td>
															    <td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element"> Health professional </a> </td>
															    <td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element"> Ministry of Health </a> </td>
															    <td> <a href="../elements/id-ed1f424b22484c419dfd42700b3f4fdc.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element"> Social insurance institution </a> </td>
															    <td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element"> Healthcare institution </a> </td>
															    <td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element"> Researcher </a> </td>
															    <td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element"> Pharmacy </a> </td>
															    <td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element"> Testing and experimentation facility for health </a> </td>
															    <td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element"> National statistics institute </a> </td>
															    <td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element"> National pension institution </a> </td>
															    <td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element"> BioBank Institution </a> </td>
															    <td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4066a4fc5b45412e997cabb827a9c930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4066a4fc5b45412e997cabb827a9c930.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe1421a035d34c1cb08a52cb0b49fc5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe1421a035d34c1cb08a52cb0b49fc5c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-bad68118816f4a959fdc97fb2c29eb00.html" target="element"> Data Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe7c70c865e249bb99a00b21a106a38b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe7c70c865e249bb99a00b21a106a38b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd0074b4c0784e429357f6819e425597.html" target="element"> Digital Public Service Delivery Model </a> </td>
																		<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5490a1e5a4e04c339cee6c09d62d5b02.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5490a1e5a4e04c339cee6c09d62d5b02.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bad68118816f4a959fdc97fb2c29eb00.html" target="element"> Data Consumer </a> </td>
																				<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ff41e743ca5b46ba89d953f2d8341618.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff41e743ca5b46ba89d953f2d8341618.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-0a49d8eadc24495e9a6124e0472a6383.html" target="element"> Pharmacy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3e367e1ae5164262848ca4881c582c09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e367e1ae5164262848ca4881c582c09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-31d599f6da234f948f4cbf01495833bf.html" target="element"> Health professionals association </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ab5c15587ab24da6acfd5c43b8ea07bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab5c15587ab24da6acfd5c43b8ea07bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-2014bacdc4224be6bfd2bc881a753fc5.html" target="element"> Testing and experimentation facility for health </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a27f471478964ce2b88dc29db952d641.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a27f471478964ce2b88dc29db952d641.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-90fed56d58634e9a8be66f359b312458.html" target="element"> Health professional </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3eca668d3c154a688b0a2539549f0d5e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3eca668d3c154a688b0a2539549f0d5e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-ab449e9d30a94522a49a67e1f6f54014.html" target="element"> Social insurance institution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d10e6a47b9674729a31de07bd42a3bf8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d10e6a47b9674729a31de07bd42a3bf8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-765193921d1943d986031e040aa2aefe.html" target="element"> Healthcare institution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5656a40fbe424685bc1e70cfed8667d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5656a40fbe424685bc1e70cfed8667d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-1ea4fba30d9a47d388dddac66e91692f.html" target="element"> BioBank Institution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-72bb128313a8451a9057e40ddbb91d35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72bb128313a8451a9057e40ddbb91d35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-11b7ee9960314694845ce74dc1736d1e.html" target="element"> National pension institution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5831160db4db4040bf07fb95fc4725a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5831160db4db4040bf07fb95fc4725a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-02a5db22a3c14965a440348ddacae41a.html" target="element"> Patient </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e5cff01a89043cdb17b997f8c108755.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e5cff01a89043cdb17b997f8c108755.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-3d419e23db1746ba99ce823003170c13.html" target="element"> Private healthcare institution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e21b96a7f4d49e4b8cb80a344694983.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e21b96a7f4d49e4b8cb80a344694983.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-51decb8babbe411891b812ce81adaf7f.html" target="element"> Researcher </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dfe88366a88240768fa2481e0acc3a1f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dfe88366a88240768fa2481e0acc3a1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-bc576d0ce2b24e2db0ba703133151af3.html" target="element"> Hospital </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6947873166ed4afeb19a7a4ee3834f36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6947873166ed4afeb19a7a4ee3834f36.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-61e794f0aab3438cb7445a17591d86a6.html" target="element"> National institute for health and welfare </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ca3b55db112f449bbd4ce59f500f5ab3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca3b55db112f449bbd4ce59f500f5ab3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-bb00a4999d554b6da168b42552bba2ef.html" target="element"> National statistics institute </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eee74a8eba8a4992b5ffc9302b44aaaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eee74a8eba8a4992b5ffc9302b44aaaf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-fa0d25fdd84a417faa7b137690fbfa86.html" target="element"> Health insurance company </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-18cd64945cd343f59d34f0ef31d1d81c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18cd64945cd343f59d34f0ef31d1d81c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-954358663bf347f6aa7763ede4456c61.html" target="element"> Health Digital Public Service Consumers Catalogue </a> </td>
																				<td> <a href="../elements/id-c70368b54eac467e8f19d5aed5fa6511.html" target="element"> Digital Public Service Consumer </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>